body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1130px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:26px;
  top:26px;
  width:374px;
  height:667px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:667px;
}
#u2 {
  position:absolute;
  left:2px;
  top:326px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:28px;
  top:29px;
  width:370px;
  height:12px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:12px;
}
#u4 {
  position:absolute;
  left:2px;
  top:-2px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:26px;
  top:41px;
  width:374px;
  height:39px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:39px;
}
#u6 {
  position:absolute;
  left:2px;
  top:12px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:37px;
  top:52px;
  width:27px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:192px;
  top:48px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:34px;
  top:86px;
  width:36px;
  height:36px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:80px;
  top:86px;
  width:109px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:81px;
  top:107px;
  width:89px;
  height:18px;
  color:#797979;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:18px;
}
#u16 {
  position:absolute;
  left:2px;
  top:1px;
  width:85px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:81px;
  top:129px;
  width:66px;
  height:16px;
  color:#797979;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:70px;
  top:145px;
  width:320px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u20 {
  position:absolute;
  left:340px;
  top:86px;
  width:50px;
  height:50px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u21 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:423px;
  top:26px;
  width:707px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:703px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:423px;
  top:55px;
  width:712px;
  height:235px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:60px;
  top:0px;
  width:152px;
  height:30px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:148px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:212px;
  top:0px;
  width:145px;
  height:30px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:357px;
  top:0px;
  width:350px;
  height:30px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:346px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:30px;
  width:60px;
  height:100px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:100px;
}
#u34 {
  position:absolute;
  left:2px;
  top:42px;
  width:56px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:60px;
  top:30px;
  width:152px;
  height:100px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:100px;
}
#u36 {
  position:absolute;
  left:2px;
  top:42px;
  width:148px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:212px;
  top:30px;
  width:145px;
  height:100px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:100px;
}
#u38 {
  position:absolute;
  left:2px;
  top:42px;
  width:141px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:357px;
  top:30px;
  width:350px;
  height:100px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:100px;
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:346px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:130px;
  width:60px;
  height:100px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:100px;
}
#u42 {
  position:absolute;
  left:2px;
  top:42px;
  width:56px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:60px;
  top:130px;
  width:152px;
  height:100px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:100px;
}
#u44 {
  position:absolute;
  left:2px;
  top:42px;
  width:148px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:212px;
  top:130px;
  width:145px;
  height:100px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:100px;
}
#u46 {
  position:absolute;
  left:2px;
  top:42px;
  width:141px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:357px;
  top:130px;
  width:350px;
  height:100px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:100px;
}
#u48 {
  position:absolute;
  left:2px;
  top:34px;
  width:346px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:30px;
  top:156px;
  width:109px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:31px;
  top:199px;
  width:66px;
  height:16px;
  color:#797979;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:70px;
  top:215px;
  width:320px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u54 {
  position:absolute;
  left:280px;
  top:156px;
  width:50px;
  height:50px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u55 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:31px;
  top:178px;
  width:53px;
  height:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:339px;
  top:150px;
  width:61px;
  height:70px;
  font-size:20px;
  color:#FFFFFF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:70px;
}
#u59 {
  position:absolute;
  left:2px;
  top:23px;
  width:57px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:180px;
  top:103px;
  width:26px;
  height:26px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u61 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:333px;
  top:146px;
  width:26px;
  height:26px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u63 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  word-wrap:break-word;
}
