body {
  margin:0px;
  background-color:rgba(54, 54, 54, 1);
  background-image:none;
  position:static;
  left:auto;
  width:908px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:350px;
}
#u3964 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:571px;
  width:372px;
  height:350px;
}
#u3965 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:167px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:350px;
}
#u3966 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:148px;
  width:372px;
  height:350px;
}
#u3967 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:167px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u3968 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:19px;
  width:225px;
  height:29px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u3969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u3970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u3970 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:69px;
  width:785px;
  height:21px;
  font-size:18px;
  color:#FFFFFF;
}
#u3971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  white-space:nowrap;
}
#u3972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:181px;
}
#u3972 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:282px;
  width:239px;
  height:181px;
}
#u3973 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3974 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:111px;
  width:305px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  white-space:nowrap;
}
#u3976 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:373px;
  width:0px;
  height:0px;
}
#u3976_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:241px;
  height:8px;
}
#u3976_seg1 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:-11px;
  width:22px;
  height:22px;
}
#u3977 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:350px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3978 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:148px;
  width:375px;
  height:350px;
}
#u3979 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:167px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u3980 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:529px;
  width:289px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u3981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u3982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:181px;
}
#u3982 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:705px;
  width:239px;
  height:181px;
}
#u3983 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3984 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:796px;
  width:0px;
  height:0px;
}
#u3984_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:241px;
  height:8px;
}
#u3984_seg1 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:-11px;
  width:22px;
  height:22px;
}
#u3985 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u3986 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:1093px;
  width:369px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u3987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  white-space:nowrap;
}
#u3988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3988 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:1128px;
  width:593px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  white-space:nowrap;
}
#u3990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:510px;
}
#u3990 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:571px;
  width:302px;
  height:510px;
}
#u3991 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:247px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:268px;
}
#u3992 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:188px;
  width:375px;
  height:268px;
}
#u3993 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:126px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u3994 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:1208px;
  width:479px;
  height:21px;
  font-size:18px;
  color:#FFFFFF;
}
#u3995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  white-space:nowrap;
}
#u3996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:2px;
}
#u3996 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:1181px;
  width:765px;
  height:1px;
}
#u3997 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:761px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:306px;
}
#u3998 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:1256px;
  width:348px;
  height:306px;
}
#u3999 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:145px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4000 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:1256px;
  width:30px;
  height:30px;
}
#u4001 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:306px;
}
#u4002 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:1256px;
  width:348px;
  height:306px;
}
#u4003 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:145px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4004 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:1409px;
  width:0px;
  height:0px;
}
#u4004_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:140px;
  height:8px;
}
#u4004_seg1 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:-11px;
  width:22px;
  height:22px;
}
#u4005 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u4006 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:1419px;
  width:116px;
  height:38px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u4007 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u4008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u4008 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:1259px;
  width:36px;
  height:30px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4009 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4010 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:1256px;
  width:30px;
  height:30px;
}
#u4011 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u4012 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:1593px;
  width:353px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u4013 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  white-space:nowrap;
}
#u4014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u4014 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:1655px;
  width:533px;
  height:21px;
  font-size:18px;
  color:#FFFFFF;
}
#u4015 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  white-space:nowrap;
}
#u4016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:2px;
}
#u4016 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:1631px;
  width:765px;
  height:1px;
}
#u4017 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:761px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:350px;
}
#u4018 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:1796px;
  width:372px;
  height:350px;
}
#u4019 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:167px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:24px;
}
#u4020 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:2115px;
  width:123px;
  height:24px;
}
#u4021 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:350px;
}
#u4022 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:1796px;
  width:372px;
  height:350px;
}
#u4023 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:167px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4024 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:1971px;
  width:0px;
  height:0px;
}
#u4024_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:142px;
  height:8px;
}
#u4024_seg1 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:-11px;
  width:22px;
  height:22px;
}
#u4025 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4027 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:2118px;
  width:120px;
  height:19px;
}
#u4028 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#AEAEAE;
}
#u4029 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:2120px;
  width:104px;
  height:15px;
  font-size:13px;
  color:#AEAEAE;
}
#u4030 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u4031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:24px;
}
#u4031 {
  border-width:0px;
  position:absolute;
  left:774px;
  top:2114px;
  width:126px;
  height:24px;
}
#u4032 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u4033 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:1982px;
  width:136px;
  height:38px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u4034 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u4035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4035 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:1694px;
  width:698px;
  height:64px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  white-space:nowrap;
}
#u4037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:350px;
}
#u4037 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:2204px;
  width:372px;
  height:350px;
}
#u4038 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:167px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4039 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4040 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:2526px;
  width:120px;
  height:19px;
}
#u4041 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#AEAEAE;
}
#u4042 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:2528px;
  width:72px;
  height:15px;
  font-size:13px;
  color:#AEAEAE;
}
#u4043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u4044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4044 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:2564px;
  width:186px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4045 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u4046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:350px;
}
#u4046 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:2204px;
  width:372px;
  height:350px;
}
#u4047 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:167px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4049 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:2526px;
  width:120px;
  height:19px;
}
#u4050 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#AEAEAE;
}
#u4051 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:2528px;
  width:89px;
  height:15px;
  font-size:13px;
  color:#AEAEAE;
}
#u4052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u4053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4053 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:2564px;
  width:211px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4054 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u4055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:24px;
}
#u4055 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:2524px;
  width:123px;
  height:24px;
}
#u4056 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:24px;
}
#u4057 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:2524px;
  width:99px;
  height:24px;
}
#u4058 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:817px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u4059 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:2600px;
  width:817px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u4060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:817px;
  white-space:nowrap;
}
#u4061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:2px;
}
#u4061 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:3109px;
  width:765px;
  height:1px;
}
#u4062 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:761px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:350px;
}
#u4063 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:2670px;
  width:372px;
  height:350px;
}
#u4064 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:167px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4065 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4066 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:2992px;
  width:187px;
  height:19px;
}
#u4067 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#AEAEAE;
}
#u4068 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:2994px;
  width:171px;
  height:15px;
  font-size:13px;
  color:#AEAEAE;
}
#u4069 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u4070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:24px;
}
#u4070 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:2990px;
  width:187px;
  height:24px;
}
#u4071 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u4072 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:3073px;
  width:369px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u4073 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  white-space:nowrap;
}
#u4074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4074 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:3037px;
  width:273px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4075 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  white-space:nowrap;
}
