body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:903px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:52px;
  top:26px;
  width:377px;
  height:52px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:52px;
}
#u1 {
  position:absolute;
  left:2px;
  top:18px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:59px;
  top:33px;
  width:36px;
  height:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:105px;
  top:33px;
  width:40px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:105px;
  top:55px;
  width:27px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:353px;
  top:37px;
  width:66px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:243px;
  top:158px;
  width:184px;
  height:184px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:184px;
}
#u11 {
  position:absolute;
  left:2px;
  top:84px;
  width:180px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:50px;
  top:158px;
  width:184px;
  height:184px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:184px;
}
#u13 {
  position:absolute;
  left:2px;
  top:84px;
  width:180px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:50px;
  top:82px;
  width:377px;
  height:48px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:48px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:50px;
  top:133px;
  width:53px;
  height:16px;
  text-decoration:underline;
  color:#FF0000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:49px;
  top:348px;
  width:36px;
  height:36px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u19 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:121px;
  top:348px;
  width:36px;
  height:36px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u21 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:52px;
  top:394px;
  width:47px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:102px;
  top:395px;
  width:34px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:52px;
  top:420px;
  width:155px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:52px;
  top:446px;
  width:80px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:52px;
  top:472px;
  width:106px;
  height:16px;
  color:#FF0000;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:323px;
  top:37px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:26px;
  top:330px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:217px;
  top:394px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:101px;
  top:328px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:89px;
  top:358px;
  width:15px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:159px;
  top:358px;
  width:15px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:369px;
  top:358px;
  width:5px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  visibility:hidden;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:392px;
  top:350px;
  width:35px;
  height:28px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:28px;
}
#u47 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:363px;
  top:348px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:488px;
  top:29px;
  width:410px;
  height:38px;
  font-size:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:38px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:453px;
  top:29px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u53 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:453px;
  top:91px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u55 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:493px;
  top:91px;
  width:410px;
  height:38px;
  font-size:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:38px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:453px;
  top:150px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u59 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:453px;
  top:239px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u61 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:493px;
  top:150px;
  width:410px;
  height:76px;
  font-size:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:76px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:493px;
  top:242px;
  width:410px;
  height:38px;
  font-size:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:38px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
