body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:790px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:26px;
  top:26px;
  width:376px;
  height:33px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:33px;
}
#u1 {
  position:absolute;
  left:2px;
  top:8px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:27px;
  top:59px;
  width:373px;
  height:32px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:32px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:33px;
  top:62px;
  width:27px;
  height:25px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u5 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:114px;
  top:67px;
  width:27px;
  height:16px;
  color:#868686;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:198px;
  top:67px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:268px;
  top:67px;
  width:27px;
  height:16px;
  color:#868686;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:361px;
  top:63px;
  width:34px;
  height:25px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:25px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:27px;
  top:90px;
  width:373px;
  height:689px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:689px;
}
#u15 {
  position:absolute;
  left:2px;
  top:336px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:38px;
  top:97px;
  width:35px;
  height:27px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:27px;
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:83px;
  top:97px;
  width:53px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:83px;
  top:113px;
  width:27px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:32px;
  top:170px;
  width:118px;
  height:90px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:90px;
}
#u23 {
  position:absolute;
  left:2px;
  top:37px;
  width:114px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:154px;
  top:170px;
  width:118px;
  height:90px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:90px;
}
#u25 {
  position:absolute;
  left:2px;
  top:37px;
  width:114px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:276px;
  top:170px;
  width:118px;
  height:90px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:90px;
}
#u27 {
  position:absolute;
  left:2px;
  top:37px;
  width:114px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:31px;
  top:132px;
  width:364px;
  height:33px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:33px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:34px;
  top:264px;
  width:36px;
  height:36px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u31 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:80px;
  top:264px;
  width:36px;
  height:36px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u33 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:28px;
  top:722px;
  width:371px;
  height:55px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:55px;
}
#u35 {
  position:absolute;
  left:2px;
  top:20px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:30px;
  top:301px;
  width:366px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:349px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:5px;
  width:366px;
  height:1px;
}
#u37 {
  position:absolute;
  left:39px;
  top:312px;
  width:35px;
  height:35px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u38 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:83px;
  top:312px;
  width:40px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:83px;
  top:333px;
  width:27px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:321px;
  top:316px;
  width:63px;
  height:29px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:29px;
}
#u44 {
  position:absolute;
  left:2px;
  top:6px;
  width:59px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:32px;
  top:425px;
  width:117px;
  height:118px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:118px;
}
#u46 {
  position:absolute;
  left:2px;
  top:51px;
  width:113px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:155px;
  top:425px;
  width:117px;
  height:118px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:118px;
}
#u48 {
  position:absolute;
  left:2px;
  top:51px;
  width:113px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:277px;
  top:425px;
  width:117px;
  height:118px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:118px;
}
#u50 {
  position:absolute;
  left:2px;
  top:51px;
  width:113px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:34px;
  top:354px;
  width:362px;
  height:52px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:52px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:34px;
  top:406px;
  width:53px;
  height:16px;
  color:#0099CC;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:33px;
  top:545px;
  width:35px;
  height:35px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u56 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:102px;
  top:545px;
  width:35px;
  height:35px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u58 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:33px;
  top:581px;
  width:47px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:81px;
  top:582px;
  width:34px;
  height:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:33px;
  top:606px;
  width:155px;
  height:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:33px;
  top:631px;
  width:80px;
  height:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:33px;
  top:657px;
  width:106px;
  height:16px;
  color:#FF0000;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:71px;
  top:554px;
  width:15px;
  height:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:139px;
  top:554px;
  width:15px;
  height:16px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:360px;
  top:545px;
  width:34px;
  height:25px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:25px;
}
#u74 {
  position:absolute;
  left:2px;
  top:4px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:360px;
  top:266px;
  width:34px;
  height:25px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:25px;
}
#u76 {
  position:absolute;
  left:2px;
  top:4px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:410px;
  top:94px;
  width:380px;
  height:88px;
  font-size:18px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:88px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:410px;
  top:192px;
  width:241px;
  height:108px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:108px;
}
#u80 {
  position:absolute;
  left:2px;
  top:46px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:410px;
  top:240px;
  width:241px;
  height:10px;
}
#u81_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_end {
  position:absolute;
  left:224px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_line {
  position:absolute;
  left:0px;
  top:5px;
  width:241px;
  height:1px;
}
#u82 {
  position:absolute;
  left:423px;
  top:206px;
  width:201px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:24px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:428px;
  top:258px;
  width:90px;
  height:30px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u85 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:541px;
  top:258px;
  width:90px;
  height:30px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u87 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:410px;
  top:318px;
  width:380px;
  height:44px;
  font-size:18px;
  color:#FF0000;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:44px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  word-wrap:break-word;
}
