body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:510px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2664 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:660px;
  height:510px;
}
#u2665 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:247px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2666 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:33px;
  width:98px;
  height:30px;
}
#u2667 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u2668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2668 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:33px;
  width:60px;
  height:30px;
}
#u2669 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u2670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:450px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2670 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:70px;
  width:640px;
  height:450px;
}
#u2671 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:217px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2672 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:90px;
  width:27px;
  height:16px;
}
#u2673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2674 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:91px;
  width:27px;
  height:16px;
}
#u2675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2676 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:91px;
  width:27px;
  height:16px;
}
#u2677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2678 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:116px;
  width:8px;
  height:16px;
}
#u2679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u2680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2680 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:113px;
  width:27px;
  height:16px;
}
#u2681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2682 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:113px;
  width:27px;
  height:16px;
}
#u2683 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2684 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:113px;
  width:27px;
  height:16px;
}
#u2685 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2686 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:120px;
  width:340px;
  height:160px;
}
#u2687 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2688 {
  border-width:0px;
  position:absolute;
  left:864px;
  top:130px;
  width:53px;
  height:16px;
}
#u2689 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2690 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:164px;
  width:66px;
  height:16px;
}
#u2691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2692 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:160px;
  width:184px;
  height:25px;
}
#u2692_input {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#D7D7D7;
  text-align:left;
}
#u2693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2693 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:210px;
  width:40px;
  height:16px;
}
#u2694 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u2695 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:206px;
  width:84px;
  height:25px;
}
#u2695_input {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2696 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:242px;
  width:80px;
  height:30px;
}
#u2697 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
