body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:540px;
}
#u2058 {
  position:absolute;
  left:30px;
  top:130px;
  width:960px;
  height:540px;
}
#u2059 {
  position:absolute;
  left:2px;
  top:262px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:390px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  -moz-box-shadow:0px 0px 20px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 20px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 20px rgba(0, 0, 0, 0.349019607843137);
}
#u2060 {
  position:absolute;
  left:238px;
  top:232px;
  width:606px;
  height:390px;
}
#u2061 {
  position:absolute;
  left:2px;
  top:187px;
  width:602px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:42px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
}
#u2062 {
  position:absolute;
  left:238px;
  top:251px;
  width:606px;
  height:42px;
}
#u2063 {
  position:absolute;
  left:2px;
  top:13px;
  width:602px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1660px;
  height:100px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(138, 194, 73, 1);
}
#u2064 {
  position:absolute;
  left:0px;
  top:0px;
  width:1660px;
  height:100px;
}
#u2065 {
  position:absolute;
  left:2px;
  top:42px;
  width:1656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FFFFFF;
}
#u2066 {
  position:absolute;
  left:30px;
  top:16px;
  width:168px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u2067 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u2068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#FFFFFF;
}
#u2068 {
  position:absolute;
  left:360px;
  top:22px;
  width:7px;
  height:16px;
  color:#FFFFFF;
}
#u2069 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  visibility:hidden;
  white-space:nowrap;
}
#u2070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u2070 {
  position:absolute;
  left:1019px;
  top:130px;
  width:640px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u2071 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
#u2072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u2072 {
  position:absolute;
  left:1019px;
  top:170px;
  width:640px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u2073 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
#u2074 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:46px;
  background:inherit;
  background-color:rgba(60, 60, 60, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(60, 60, 60, 1);
  font-size:8px;
}
#u2075 {
  position:absolute;
  left:941px;
  top:187px;
  width:49px;
  height:46px;
  font-size:8px;
}
#u2076 {
  position:absolute;
  left:2px;
  top:15px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u2077 {
  position:absolute;
  left:955px;
  top:193px;
  width:21px;
  height:18px;
  font-size:8px;
}
#u2078 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#FFFFFF;
}
#u2079 {
  position:absolute;
  left:953px;
  top:214px;
  width:25px;
  height:9px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#FFFFFF;
}
#u2080 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:400px;
}
#u2081 {
  position:absolute;
  left:941px;
  top:232px;
  width:49px;
  height:400px;
}
#u2082 {
  position:absolute;
  left:2px;
  top:192px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:71px;
}
#u2083 {
  position:absolute;
  left:941px;
  top:579px;
  width:49px;
  height:71px;
}
#u2084 {
  position:absolute;
  left:2px;
  top:28px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:19px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#000000;
}
#u2085 {
  position:absolute;
  left:238px;
  top:232px;
  width:606px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#000000;
}
#u2086 {
  position:absolute;
  left:2px;
  top:3px;
  width:602px;
  word-wrap:break-word;
}
#u2087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u2087 {
  position:absolute;
  left:820px;
  top:235px;
  width:13px;
  height:13px;
}
#u2088 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:5px;
}
#u2089 {
  position:absolute;
  left:758px;
  top:242px;
  width:10px;
  height:5px;
}
#u2090 {
  position:absolute;
  left:2px;
  top:-6px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
}
#u2091 {
  position:absolute;
  left:789px;
  top:237px;
  width:10px;
  height:10px;
}
#u2092 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:100px;
}
#u2093 {
  position:absolute;
  left:696px;
  top:258px;
  width:132px;
  height:16px;
}
#u2094 {
  position:absolute;
  left:2px;
  top:0px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u2095 {
  position:absolute;
  left:705px;
  top:260px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u2096 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2097 {
  position:absolute;
  left:806px;
  top:261px;
  width:10px;
  height:10px;
}
#u2098 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u2099 {
  position:absolute;
  left:246px;
  top:301px;
  width:112px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u2100 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u2101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:27px;
}
#u2101 {
  position:absolute;
  left:690px;
  top:253px;
  width:143px;
  height:27px;
}
#u2102 {
  position:absolute;
  left:2px;
  top:6px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2103 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:22px;
}
#u2104 {
  position:absolute;
  left:719px;
  top:240px;
  width:15px;
  height:22px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u2105 {
  position:absolute;
  left:2px;
  top:3px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2106 {
  position:absolute;
  left:722px;
  top:230px;
  width:26px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2107 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  word-wrap:break-word;
}
#u2108 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:22px;
}
#u2109 {
  position:absolute;
  left:276px;
  top:279px;
  width:15px;
  height:22px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u2110 {
  position:absolute;
  left:2px;
  top:3px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2111 {
  position:absolute;
  left:279px;
  top:269px;
  width:26px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2112 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  word-wrap:break-word;
}
#u2113 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:77px;
}
#u2114 {
  position:absolute;
  left:552px;
  top:323px;
  width:138px;
  height:77px;
}
#u2115 {
  position:absolute;
  left:2px;
  top:31px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:77px;
}
#u2116 {
  position:absolute;
  left:404px;
  top:323px;
  width:138px;
  height:77px;
}
#u2117 {
  position:absolute;
  left:2px;
  top:31px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:77px;
}
#u2118 {
  position:absolute;
  left:256px;
  top:323px;
  width:138px;
  height:77px;
}
#u2119 {
  position:absolute;
  left:2px;
  top:31px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2120 {
  position:absolute;
  left:553px;
  top:400px;
  width:41px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2121 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2122 {
  position:absolute;
  left:404px;
  top:400px;
  width:41px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2123 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:right;
}
#u2124 {
  position:absolute;
  left:661px;
  top:400px;
  width:29px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:right;
}
#u2125 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:right;
}
#u2126 {
  position:absolute;
  left:513px;
  top:400px;
  width:29px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:right;
}
#u2127 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:right;
}
#u2128 {
  position:absolute;
  left:365px;
  top:400px;
  width:29px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:right;
}
#u2129 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2130 {
  position:absolute;
  left:256px;
  top:395px;
  width:41px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2131 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:22px;
}
#u2132 {
  position:absolute;
  left:244px;
  top:295px;
  width:114px;
  height:22px;
}
#u2133 {
  position:absolute;
  left:2px;
  top:3px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u2134 {
  position:absolute;
  left:1019px;
  top:239px;
  width:640px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u2135 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
#u2136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u2136 {
  position:absolute;
  left:1019px;
  top:279px;
  width:640px;
  height:56px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u2137 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
#u2138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:62px;
}
#u2138 {
  position:absolute;
  left:935px;
  top:177px;
  width:60px;
  height:62px;
}
#u2139 {
  position:absolute;
  left:2px;
  top:23px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2140 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:22px;
}
#u2141 {
  position:absolute;
  left:956px;
  top:164px;
  width:15px;
  height:22px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u2142 {
  position:absolute;
  left:2px;
  top:3px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2143 {
  position:absolute;
  left:959px;
  top:154px;
  width:26px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2144 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  word-wrap:break-word;
}
#u2145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u2145 {
  position:absolute;
  left:1019px;
  top:375px;
  width:640px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u2146 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
#u2147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:14px;
  line-height:28px;
}
#u2147 {
  position:absolute;
  left:1019px;
  top:415px;
  width:640px;
  height:28px;
  font-size:14px;
  line-height:28px;
}
#u2148 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
#u2149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u2149 {
  position:absolute;
  left:1019px;
  top:483px;
  width:640px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u2150 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
#u2151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:14px;
  line-height:28px;
}
#u2151 {
  position:absolute;
  left:1019px;
  top:523px;
  width:640px;
  height:56px;
  font-size:14px;
  line-height:28px;
}
#u2152 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
#u2153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:94px;
}
#u2153 {
  position:absolute;
  left:251px;
  top:320px;
  width:448px;
  height:94px;
}
#u2154 {
  position:absolute;
  left:2px;
  top:39px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2155 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:22px;
}
#u2156 {
  position:absolute;
  left:647px;
  top:311px;
  width:15px;
  height:22px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u2157 {
  position:absolute;
  left:2px;
  top:3px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2158 {
  position:absolute;
  left:650px;
  top:301px;
  width:26px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2159 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  word-wrap:break-word;
}
