body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:950px;
  height:490px;
}
#u811 {
  position:absolute;
  left:10px;
  top:10px;
  width:950px;
  height:490px;
}
#u812 {
  position:absolute;
  left:2px;
  top:237px;
  width:946px;
  visibility:hidden;
  word-wrap:break-word;
}
#u813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u813 {
  position:absolute;
  left:32px;
  top:209px;
  width:50px;
  height:80px;
}
#u814 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u815 {
  position:absolute;
  left:38px;
  top:297px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u816 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u817 {
  position:absolute;
  left:882px;
  top:209px;
  width:50px;
  height:80px;
}
#u818 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u819 {
  position:absolute;
  left:892px;
  top:297px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u820 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u821 {
  position:absolute;
  left:446px;
  top:513px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u822 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u823 {
  position:absolute;
  left:92px;
  top:219px;
  width:107px;
  height:70px;
}
#u824 {
  position:absolute;
  left:2px;
  top:19px;
  width:103px;
  word-wrap:break-word;
}
#u825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u825 {
  position:absolute;
  left:782px;
  top:222px;
  width:90px;
  height:60px;
}
#u826 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u827 {
  position:absolute;
  left:222px;
  top:189px;
  width:90px;
  height:50px;
}
#u828 {
  position:absolute;
  left:2px;
  top:17px;
  width:86px;
  word-wrap:break-word;
}
#u829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u829 {
  position:absolute;
  left:222px;
  top:329px;
  width:90px;
  height:50px;
}
#u830 {
  position:absolute;
  left:2px;
  top:17px;
  width:86px;
  word-wrap:break-word;
}
#u831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u831 {
  position:absolute;
  left:322px;
  top:139px;
  width:80px;
  height:20px;
}
#u832 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u833 {
  position:absolute;
  left:322px;
  top:169px;
  width:80px;
  height:20px;
}
#u834 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u835 {
  position:absolute;
  left:322px;
  top:199px;
  width:80px;
  height:20px;
}
#u836 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u837 {
  position:absolute;
  left:322px;
  top:230px;
  width:80px;
  height:20px;
}
#u838 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u839 {
  position:absolute;
  left:322px;
  top:299px;
  width:80px;
  height:20px;
}
#u840 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u841 {
  position:absolute;
  left:322px;
  top:329px;
  width:80px;
  height:20px;
}
#u842 {
  position:absolute;
  left:2px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u843 {
  position:absolute;
  left:322px;
  top:359px;
  width:90px;
  height:20px;
}
#u844 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u845 {
  position:absolute;
  left:322px;
  top:389px;
  width:90px;
  height:20px;
}
#u846 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u847 {
  position:absolute;
  left:322px;
  top:419px;
  width:90px;
  height:20px;
}
#u848 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u849 {
  position:absolute;
  left:199px;
  top:254px;
  width:23px;
  height:-40px;
}
#u849_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:27px;
  height:20px;
}
#u849_seg1 {
  position:absolute;
  left:3px;
  top:-50px;
  width:20px;
  height:60px;
}
#u849_seg2 {
  position:absolute;
  left:3px;
  top:-50px;
  width:24px;
  height:20px;
}
#u850 {
  position:absolute;
  left:-37px;
  top:-27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u851 {
  position:absolute;
  left:267px;
  top:189px;
  width:55px;
  height:-40px;
}
#u851_seg0 {
  position:absolute;
  left:-10px;
  top:-50px;
  width:20px;
  height:54px;
}
#u851_seg1 {
  position:absolute;
  left:-10px;
  top:-50px;
  width:69px;
  height:20px;
}
#u852 {
  position:absolute;
  left:-43px;
  top:-48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u853 {
  position:absolute;
  left:267px;
  top:189px;
  width:55px;
  height:-10px;
}
#u853_seg0 {
  position:absolute;
  left:-10px;
  top:-20px;
  width:20px;
  height:24px;
}
#u853_seg1 {
  position:absolute;
  left:-10px;
  top:-20px;
  width:69px;
  height:20px;
}
#u854 {
  position:absolute;
  left:-28px;
  top:-18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855 {
  position:absolute;
  left:312px;
  top:214px;
  width:10px;
  height:-5px;
}
#u855_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:24px;
  height:20px;
}
#u855_seg1 {
  position:absolute;
  left:0px;
  top:-9px;
  width:20px;
  height:19px;
}
#u856 {
  position:absolute;
  left:-43px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u857 {
  position:absolute;
  left:267px;
  top:239px;
  width:55px;
  height:1px;
}
#u857_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:24px;
}
#u857_seg1 {
  position:absolute;
  left:-10px;
  top:0px;
  width:65px;
  height:20px;
}
#u857_seg2 {
  position:absolute;
  left:35px;
  top:-9px;
  width:20px;
  height:29px;
}
#u857_seg3 {
  position:absolute;
  left:35px;
  top:-9px;
  width:24px;
  height:20px;
}
#u858 {
  position:absolute;
  left:-23px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u859 {
  position:absolute;
  left:267px;
  top:329px;
  width:55px;
  height:-20px;
}
#u859_seg0 {
  position:absolute;
  left:-10px;
  top:-30px;
  width:20px;
  height:34px;
}
#u859_seg1 {
  position:absolute;
  left:-10px;
  top:-30px;
  width:69px;
  height:20px;
}
#u860 {
  position:absolute;
  left:-33px;
  top:-28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861 {
  position:absolute;
  left:267px;
  top:329px;
  width:55px;
  height:10px;
}
#u861_seg0 {
  position:absolute;
  left:-10px;
  top:-20px;
  width:20px;
  height:24px;
}
#u861_seg1 {
  position:absolute;
  left:-10px;
  top:-20px;
  width:65px;
  height:20px;
}
#u861_seg2 {
  position:absolute;
  left:35px;
  top:-20px;
  width:20px;
  height:40px;
}
#u861_seg3 {
  position:absolute;
  left:35px;
  top:0px;
  width:24px;
  height:20px;
}
#u862 {
  position:absolute;
  left:-18px;
  top:-18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863 {
  position:absolute;
  left:312px;
  top:354px;
  width:10px;
  height:15px;
}
#u863_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:24px;
  height:20px;
}
#u863_seg1 {
  position:absolute;
  left:0px;
  top:-10px;
  width:20px;
  height:35px;
}
#u863_seg2 {
  position:absolute;
  left:0px;
  top:11px;
  width:20px;
  height:14px;
}
#u864 {
  position:absolute;
  left:-40px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865 {
  position:absolute;
  left:267px;
  top:379px;
  width:55px;
  height:20px;
}
#u865_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:34px;
}
#u865_seg1 {
  position:absolute;
  left:-10px;
  top:10px;
  width:69px;
  height:20px;
}
#u866 {
  position:absolute;
  left:-33px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u867 {
  position:absolute;
  left:267px;
  top:379px;
  width:55px;
  height:50px;
}
#u867_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u867_seg1 {
  position:absolute;
  left:-10px;
  top:40px;
  width:69px;
  height:20px;
}
#u868 {
  position:absolute;
  left:-48px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u869 {
  position:absolute;
  left:412px;
  top:429px;
  width:370px;
  height:-177px;
}
#u869_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:374px;
  height:20px;
}
#u869_seg1 {
  position:absolute;
  left:350px;
  top:-187px;
  width:20px;
  height:197px;
}
#u869_seg2 {
  position:absolute;
  left:350px;
  top:-187px;
  width:24px;
  height:20px;
}
#u870 {
  position:absolute;
  left:224px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871 {
  position:absolute;
  left:412px;
  top:399px;
  width:370px;
  height:-147px;
}
#u871_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:374px;
  height:20px;
}
#u871_seg1 {
  position:absolute;
  left:350px;
  top:-157px;
  width:20px;
  height:167px;
}
#u871_seg2 {
  position:absolute;
  left:350px;
  top:-157px;
  width:24px;
  height:20px;
}
#u872 {
  position:absolute;
  left:209px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u873 {
  position:absolute;
  left:412px;
  top:369px;
  width:370px;
  height:-117px;
}
#u873_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:374px;
  height:20px;
}
#u873_seg1 {
  position:absolute;
  left:350px;
  top:-127px;
  width:20px;
  height:137px;
}
#u873_seg2 {
  position:absolute;
  left:350px;
  top:-127px;
  width:24px;
  height:20px;
}
#u874 {
  position:absolute;
  left:194px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u875 {
  position:absolute;
  left:402px;
  top:339px;
  width:380px;
  height:-87px;
}
#u875_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:384px;
  height:20px;
}
#u875_seg1 {
  position:absolute;
  left:360px;
  top:-97px;
  width:20px;
  height:107px;
}
#u875_seg2 {
  position:absolute;
  left:360px;
  top:-97px;
  width:24px;
  height:20px;
}
#u876 {
  position:absolute;
  left:184px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877 {
  position:absolute;
  left:402px;
  top:309px;
  width:380px;
  height:-57px;
}
#u877_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:384px;
  height:20px;
}
#u877_seg1 {
  position:absolute;
  left:360px;
  top:-67px;
  width:20px;
  height:77px;
}
#u877_seg2 {
  position:absolute;
  left:360px;
  top:-67px;
  width:24px;
  height:20px;
}
#u878 {
  position:absolute;
  left:169px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u879 {
  position:absolute;
  left:402px;
  top:240px;
  width:380px;
  height:12px;
}
#u879_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:384px;
  height:20px;
}
#u879_seg1 {
  position:absolute;
  left:360px;
  top:-10px;
  width:20px;
  height:32px;
}
#u879_seg2 {
  position:absolute;
  left:360px;
  top:2px;
  width:24px;
  height:20px;
}
#u880 {
  position:absolute;
  left:146px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
