body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u905 {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u906 {
  position:absolute;
  left:2px;
  top:17px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u907 {
  position:absolute;
  left:0px;
  top:49px;
  width:1024px;
  height:768px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u908 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:768px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u909 {
  position:absolute;
  left:1024px;
  top:50px;
  width:326px;
  height:768px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u910 {
  position:absolute;
  left:2px;
  top:376px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u911 {
  position:absolute;
  left:6px;
  top:5px;
  width:370px;
  height:43px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u912 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  word-wrap:break-word;
}
#u913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u913 {
  position:absolute;
  left:1034px;
  top:60px;
  width:81px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u914 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:866px;
  height:531px;
}
#u915 {
  position:absolute;
  left:81px;
  top:80px;
  width:866px;
  height:531px;
}
#u916 {
  position:absolute;
  left:2px;
  top:258px;
  width:862px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:682px;
}
#u917 {
  position:absolute;
  left:948px;
  top:88px;
  width:76px;
  height:682px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u918 {
  position:absolute;
  left:2px;
  top:333px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFCC;
}
#u919 {
  position:absolute;
  left:952px;
  top:92px;
  width:68px;
  height:70px;
  opacity:0.3;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFCC;
}
#u920 {
  position:absolute;
  left:2px;
  top:27px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u921 {
  position:absolute;
  left:919px;
  top:103px;
  width:25px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u922 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 217, 1);
  border-radius:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u923 {
  position:absolute;
  left:1029px;
  top:190px;
  width:25px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u924 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  word-wrap:break-word;
}
#u925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u925 {
  position:absolute;
  left:1064px;
  top:193px;
  width:286px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u926 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  word-wrap:break-word;
}
#u927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u927 {
  position:absolute;
  left:1034px;
  top:92px;
  width:316px;
  height:67px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u928 {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  word-wrap:break-word;
}
#u929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u929 {
  position:absolute;
  left:1034px;
  top:248px;
  width:306px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u930 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  word-wrap:break-word;
}
#u931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:68px;
}
#u931 {
  position:absolute;
  left:1029px;
  top:302px;
  width:321px;
  height:68px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u932 {
  position:absolute;
  left:2px;
  top:26px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
