body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:821px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:152px;
  top:8px;
  width:113px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#0099CC;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:26px;
  top:48px;
  width:376px;
  height:677px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:677px;
}
#u3 {
  position:absolute;
  left:2px;
  top:330px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:26px;
  top:48px;
  width:376px;
  height:34px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:34px;
}
#u5 {
  position:absolute;
  left:2px;
  top:9px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:37px;
  top:57px;
  width:27px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:368px;
  top:57px;
  width:27px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:26px;
  top:81px;
  width:376px;
  height:199px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:199px;
}
#u11 {
  position:absolute;
  left:2px;
  top:92px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:26px;
  top:670px;
  width:376px;
  height:55px;
  font-size:28px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:55px;
}
#u13 {
  position:absolute;
  left:2px;
  top:11px;
  width:372px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:35px;
  top:287px;
  width:80px;
  height:80px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u15 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:125px;
  top:287px;
  width:80px;
  height:80px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u17 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:215px;
  top:287px;
  width:80px;
  height:80px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u19 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:305px;
  top:287px;
  width:80px;
  height:80px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u21 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:36px;
  top:377px;
  width:80px;
  height:80px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u23 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:126px;
  top:377px;
  width:80px;
  height:80px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u25 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:216px;
  top:377px;
  width:80px;
  height:80px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u27 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:306px;
  top:377px;
  width:80px;
  height:80px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u29 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:36px;
  top:467px;
  width:80px;
  height:80px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u31 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:28px;
  top:83px;
  width:373px;
  height:192px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:192px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u33 {
  position:absolute;
  left:411px;
  top:120px;
  width:410px;
  height:22px;
  font-size:18px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:22px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:411px;
  top:380px;
  width:410px;
  height:44px;
  font-size:18px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:44px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
