body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:26px;
  top:26px;
  width:395px;
  height:699px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:699px;
}
#u1 {
  position:absolute;
  left:2px;
  top:342px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:168px;
  top:210px;
  width:152px;
  height:120px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:120px;
}
#u3 {
  position:absolute;
  left:2px;
  top:52px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:27px;
  top:61px;
  width:393px;
  height:33px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:33px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:389px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:442px;
  top:26px;
  width:558px;
  height:699px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:699px;
}
#u7 {
  position:absolute;
  left:2px;
  top:342px;
  width:554px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:460px;
  top:38px;
  width:73px;
  height:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:460px;
  top:76px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:500px;
  top:80px;
  width:231px;
  height:22px;
  font-size:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:22px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:460px;
  top:119px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:500px;
  top:120px;
  width:490px;
  height:132px;
  font-size:18px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:132px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:460px;
  top:268px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:498px;
  top:270px;
  width:492px;
  height:110px;
  font-size:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:110px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:462px;
  top:386px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:498px;
  top:391px;
  width:453px;
  height:22px;
  font-size:18px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:22px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:463px;
  top:430px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:502px;
  top:432px;
  width:498px;
  height:87px;
  font-size:18px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:87px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:60px;
  top:64px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:462px;
  top:540px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:502px;
  top:545px;
  width:453px;
  height:22px;
  font-size:18px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:22px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:500px;
  top:580px;
  width:200px;
  height:100px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u37 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:557px;
  top:600px;
  width:92px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:518px;
  top:637px;
  width:70px;
  height:30px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:612px;
  top:637px;
  width:70px;
  height:30px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:160px;
  top:104px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
