body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:728px;
}
#u426 {
  position:absolute;
  left:0px;
  top:62px;
  width:1024px;
  height:728px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u427 {
  position:absolute;
  left:2px;
  top:356px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:445px;
}
#u428 {
  position:absolute;
  left:244px;
  top:275px;
  width:576px;
  height:445px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u429 {
  position:absolute;
  left:2px;
  top:215px;
  width:572px;
  visibility:hidden;
  word-wrap:break-word;
}
#u430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:455px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
}
#u430 {
  position:absolute;
  left:244px;
  top:275px;
  width:520px;
  height:455px;
  opacity:0.800000011920929;
}
#u431 {
  position:absolute;
  left:2px;
  top:220px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:62px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u432 {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u433 {
  position:absolute;
  left:2px;
  top:13px;
  width:1346px;
  word-wrap:break-word;
}
#u434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:728px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u434 {
  position:absolute;
  left:1024px;
  top:62px;
  width:326px;
  height:728px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u435 {
  position:absolute;
  left:2px;
  top:356px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:80px;
  background:inherit;
  background-color:rgba(60, 60, 60, 1);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u436 {
  position:absolute;
  left:928px;
  top:220px;
  width:94px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u437 {
  position:absolute;
  left:2px;
  top:32px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u438 {
  position:absolute;
  left:952px;
  top:263px;
  width:47px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u439 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u440 {
  position:absolute;
  left:968px;
  top:283px;
  width:17px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u441 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border-radius:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u442 {
  position:absolute;
  left:1034px;
  top:72px;
  width:20px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u443 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u444 {
  position:absolute;
  left:1064px;
  top:72px;
  width:276px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u445 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u446 {
  position:absolute;
  left:1062px;
  top:129px;
  width:278px;
  height:90px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u447 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:687px;
  background:inherit;
  background-color:rgba(71, 71, 71, 1);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u448 {
  position:absolute;
  left:730px;
  top:103px;
  width:198px;
  height:687px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u449 {
  position:absolute;
  left:2px;
  top:336px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u450 {
  position:absolute;
  left:740px;
  top:106px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u451 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u452 {
  position:absolute;
  left:912px;
  top:103px;
  width:13px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#D7D7D7;
}
#u453 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u454p000 {
  position:absolute;
  left:735px;
  top:126px;
  width:191px;
  height:3px;
}
#u454p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:3px;
}
#u454 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u455 {
  position:absolute;
  left:739px;
  top:119px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:105px;
}
#u456 {
  position:absolute;
  left:739px;
  top:134px;
  width:176px;
  height:105px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u457 {
  position:absolute;
  left:2px;
  top:45px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u458 {
  position:absolute;
  left:799px;
  top:246px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u459 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u460 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:31px;
}
#u461 {
  position:absolute;
  left:738px;
  top:209px;
  width:178px;
  height:31px;
  opacity:0.9;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u462 {
  position:absolute;
  left:2px;
  top:8px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u463 {
  position:absolute;
  left:770px;
  top:215px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u464 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u465 {
  position:absolute;
  left:852px;
  top:215px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u466 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:105px;
}
#u467 {
  position:absolute;
  left:740px;
  top:270px;
  width:176px;
  height:105px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u468 {
  position:absolute;
  left:2px;
  top:45px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u469 {
  position:absolute;
  left:805px;
  top:381px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u470 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:105px;
}
#u471 {
  position:absolute;
  left:740px;
  top:406px;
  width:176px;
  height:105px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u472 {
  position:absolute;
  left:2px;
  top:45px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u473 {
  position:absolute;
  left:798px;
  top:515px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u474 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u475 {
  position:absolute;
  left:802px;
  top:651px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u476 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:104px;
}
#u477 {
  position:absolute;
  left:740px;
  top:541px;
  width:176px;
  height:104px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u478 {
  position:absolute;
  left:2px;
  top:43px;
  width:172px;
  word-wrap:break-word;
}
#u479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:105px;
}
#u479 {
  position:absolute;
  left:739px;
  top:677px;
  width:176px;
  height:105px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u480 {
  position:absolute;
  left:2px;
  top:45px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:164px;
}
#u481 {
  position:absolute;
  left:917px;
  top:132px;
  width:12px;
  height:164px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u482 {
  position:absolute;
  left:2px;
  top:74px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u483 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:31px;
}
#u484 {
  position:absolute;
  left:739px;
  top:345px;
  width:178px;
  height:31px;
  opacity:0.9;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u485 {
  position:absolute;
  left:2px;
  top:8px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u486 {
  position:absolute;
  left:772px;
  top:351px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u487 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u488 {
  position:absolute;
  left:853px;
  top:351px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u489 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u490 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:31px;
}
#u491 {
  position:absolute;
  left:739px;
  top:481px;
  width:178px;
  height:31px;
  opacity:0.9;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u492 {
  position:absolute;
  left:2px;
  top:8px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u493 {
  position:absolute;
  left:772px;
  top:487px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u494 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u495 {
  position:absolute;
  left:853px;
  top:487px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u496 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u497 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:31px;
}
#u498 {
  position:absolute;
  left:739px;
  top:615px;
  width:178px;
  height:31px;
  opacity:0.9;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u499 {
  position:absolute;
  left:2px;
  top:8px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u500 {
  position:absolute;
  left:772px;
  top:621px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u501 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u502 {
  position:absolute;
  left:853px;
  top:621px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u503 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u504 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:31px;
}
#u505 {
  position:absolute;
  left:738px;
  top:752px;
  width:178px;
  height:31px;
  opacity:0.9;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u506 {
  position:absolute;
  left:2px;
  top:8px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u507 {
  position:absolute;
  left:771px;
  top:758px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u508 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u509 {
  position:absolute;
  left:852px;
  top:758px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u510 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u511 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u512 {
  position:absolute;
  left:738px;
  top:202px;
  width:178px;
  height:10px;
}
#u513 {
  position:absolute;
  left:2px;
  top:-3px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:9px;
  background:inherit;
  background-color:rgba(51, 255, 0, 1);
}
#u514 {
  position:absolute;
  left:738px;
  top:202px;
  width:143px;
  height:9px;
}
#u515 {
  position:absolute;
  left:2px;
  top:-4px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:85px;
}
#u516 {
  position:absolute;
  left:18px;
  top:291px;
  width:112px;
  height:85px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u517 {
  position:absolute;
  left:2px;
  top:35px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u518 {
  position:absolute;
  left:548px;
  top:479px;
  width:47px;
  height:47px;
}
#u519 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u520 {
  position:absolute;
  left:531px;
  top:285px;
  width:82px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u521 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border-radius:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u522 {
  position:absolute;
  left:744px;
  top:351px;
  width:20px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u523 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u524 {
  position:absolute;
  left:951px;
  top:219px;
  width:48px;
  height:48px;
}
#u525 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
