body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:27px;
  top:81px;
  width:377px;
  height:64px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:64px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:26px;
  top:26px;
  width:377px;
  height:52px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:52px;
}
#u3 {
  position:absolute;
  left:2px;
  top:18px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:33px;
  top:33px;
  width:36px;
  height:36px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:79px;
  top:33px;
  width:40px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:79px;
  top:55px;
  width:27px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:327px;
  top:37px;
  width:66px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:26px;
  top:149px;
  width:65px;
  height:16px;
  color:#C9C9C9;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:26px;
  top:173px;
  width:120px;
  height:120px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u15 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:155px;
  top:173px;
  width:120px;
  height:120px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u17 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:284px;
  top:173px;
  width:120px;
  height:120px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u19 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:430px;
  top:26px;
  width:410px;
  height:154px;
  font-size:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:154px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:23px;
  top:309px;
  width:384px;
  height:704px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:704px;
}
#u23 {
  position:absolute;
  left:2px;
  top:344px;
  width:380px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:23px;
  top:309px;
  width:387px;
  height:34px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:34px;
}
#u25 {
  position:absolute;
  left:2px;
  top:9px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:34px;
  top:319px;
  width:27px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:183px;
  top:316px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:374px;
  top:319px;
  width:27px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:28px;
  top:346px;
  width:377px;
  height:52px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:52px;
}
#u33 {
  position:absolute;
  left:2px;
  top:18px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:35px;
  top:353px;
  width:36px;
  height:36px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u35 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:81px;
  top:353px;
  width:40px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:81px;
  top:375px;
  width:27px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:329px;
  top:357px;
  width:66px;
  height:30px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:30px;
  top:403px;
  width:377px;
  height:192px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:192px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:219px;
  top:599px;
  width:184px;
  height:184px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:184px;
}
#u45 {
  position:absolute;
  left:2px;
  top:84px;
  width:180px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:26px;
  top:599px;
  width:184px;
  height:184px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:184px;
}
#u47 {
  position:absolute;
  left:2px;
  top:84px;
  width:180px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:30px;
  top:824px;
  width:45px;
  height:16px;
  color:#0099CC;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:101px;
  top:824px;
  width:45px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:29px;
  top:841px;
  width:376px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:359px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:376px;
  height:1px;
}
#u53 {
  position:absolute;
  left:33px;
  top:851px;
  width:36px;
  height:36px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u54 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:79px;
  top:851px;
  width:27px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:79px;
  top:873px;
  width:53px;
  height:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:375px;
  top:851px;
  width:27px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:32px;
  top:889px;
  width:370px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:353px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:370px;
  height:1px;
}
#u62 {
  position:absolute;
  left:33px;
  top:905px;
  width:36px;
  height:36px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u63 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:79px;
  top:905px;
  width:34px;
  height:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:79px;
  top:927px;
  width:53px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:375px;
  top:905px;
  width:27px;
  height:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:32px;
  top:943px;
  width:370px;
  height:10px;
}
#u70_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_end {
  position:absolute;
  left:353px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_line {
  position:absolute;
  left:0px;
  top:5px;
  width:370px;
  height:1px;
}
#u71 {
  position:absolute;
  left:28px;
  top:786px;
  width:36px;
  height:36px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u72 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:100px;
  top:786px;
  width:36px;
  height:36px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u74 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:68px;
  top:796px;
  width:15px;
  height:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:138px;
  top:796px;
  width:15px;
  height:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:24px;
  top:973px;
  width:382px;
  height:39px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:39px;
}
#u80 {
  position:absolute;
  left:2px;
  top:12px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
