body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1148px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2306 {
  position:absolute;
  left:26px;
  top:26px;
  width:374px;
  height:667px;
}
#u2307 {
  position:absolute;
  left:2px;
  top:326px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:12px;
}
#u2308 {
  position:absolute;
  left:28px;
  top:29px;
  width:370px;
  height:12px;
}
#u2309 {
  position:absolute;
  left:2px;
  top:-2px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:154px;
}
#u2310 {
  position:absolute;
  left:26px;
  top:42px;
  width:374px;
  height:154px;
}
#u2311 {
  position:absolute;
  left:2px;
  top:69px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:154px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.368627450980392);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2312 {
  position:absolute;
  left:26px;
  top:42px;
  width:374px;
  height:154px;
}
#u2313 {
  position:absolute;
  left:2px;
  top:69px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u2314 {
  position:absolute;
  left:120px;
  top:96px;
  width:179px;
  height:26px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
}
#u2315 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u2316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2316 {
  position:absolute;
  left:33px;
  top:48px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u2317 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2318 {
  position:absolute;
  left:365px;
  top:48px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u2319 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2320 {
  position:absolute;
  left:161px;
  top:132px;
  width:105px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2321 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u2322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2322 {
  position:absolute;
  left:26px;
  top:196px;
  width:374px;
  height:52px;
}
#u2323 {
  position:absolute;
  left:2px;
  top:18px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:48px;
}
#u2324 {
  position:absolute;
  left:27px;
  top:199px;
  width:239px;
  height:48px;
}
#u2325 {
  position:absolute;
  left:2px;
  top:16px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2326 {
  position:absolute;
  left:236px;
  top:208px;
  width:30px;
  height:30px;
}
#u2327 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:53px;
}
#u2328 {
  position:absolute;
  left:276px;
  top:196px;
  width:1px;
  height:52px;
}
#u2329 {
  position:absolute;
  left:2px;
  top:18px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0066;
}
#u2330 {
  position:absolute;
  left:306px;
  top:213px;
  width:78px;
  height:19px;
  font-size:16px;
  color:#FF0066;
}
#u2331 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u2332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2332 {
  position:absolute;
  left:50px;
  top:195px;
  width:20px;
  height:20px;
}
#u2333 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:452px;
}
#u2334 {
  position:absolute;
  left:27px;
  top:248px;
  width:372px;
  height:452px;
}
#u2335 {
  position:absolute;
  left:2px;
  top:218px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 0, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2336 {
  position:absolute;
  left:27px;
  top:648px;
  width:373px;
  height:49px;
  font-size:18px;
}
#u2337 {
  position:absolute;
  left:2px;
  top:14px;
  width:369px;
  word-wrap:break-word;
}
#u2338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2338 {
  position:absolute;
  left:441px;
  top:26px;
  width:707px;
  height:30px;
}
#u2339 {
  position:absolute;
  left:2px;
  top:7px;
  width:703px;
  word-wrap:break-word;
}
#u2340 {
  position:absolute;
  left:441px;
  top:55px;
  width:712px;
  height:343px;
}
#u2341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u2341 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
  text-align:center;
}
#u2342 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u2343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:30px;
}
#u2343 {
  position:absolute;
  left:117px;
  top:0px;
  width:590px;
  height:30px;
  text-align:center;
}
#u2344 {
  position:absolute;
  left:2px;
  top:7px;
  width:586px;
  word-wrap:break-word;
}
#u2345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:308px;
}
#u2345 {
  position:absolute;
  left:0px;
  top:30px;
  width:117px;
  height:308px;
  text-align:center;
}
#u2346 {
  position:absolute;
  left:2px;
  top:146px;
  width:113px;
  word-wrap:break-word;
}
#u2347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:308px;
}
#u2347 {
  position:absolute;
  left:117px;
  top:30px;
  width:590px;
  height:308px;
  text-align:left;
}
#u2348 {
  position:absolute;
  left:2px;
  top:2px;
  width:586px;
  word-wrap:break-word;
}
#u2349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:660px;
}
#u2349 {
  position:absolute;
  left:27px;
  top:720px;
  width:374px;
  height:660px;
}
#u2350 {
  position:absolute;
  left:2px;
  top:322px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2351 {
  position:absolute;
  left:149px;
  top:745px;
  width:135px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2352 {
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  word-wrap:break-word;
}
#u2353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
  text-align:left;
}
#u2353 {
  position:absolute;
  left:33px;
  top:789px;
  width:360px;
  height:49px;
  color:#D7D7D7;
  text-align:left;
}
#u2354 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  word-wrap:break-word;
}
#u2355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:146px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2355 {
  position:absolute;
  left:27px;
  top:1064px;
  width:374px;
  height:146px;
}
#u2356 {
  position:absolute;
  left:2px;
  top:65px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2357 {
  position:absolute;
  left:441px;
  top:720px;
  width:707px;
  height:30px;
}
#u2358 {
  position:absolute;
  left:2px;
  top:7px;
  width:703px;
  word-wrap:break-word;
}
#u2359 {
  position:absolute;
  left:441px;
  top:749px;
  width:712px;
  height:206px;
}
#u2360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u2360 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
  text-align:center;
}
#u2361 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u2362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:30px;
}
#u2362 {
  position:absolute;
  left:117px;
  top:0px;
  width:590px;
  height:30px;
  text-align:center;
}
#u2363 {
  position:absolute;
  left:2px;
  top:7px;
  width:586px;
  word-wrap:break-word;
}
#u2364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:171px;
}
#u2364 {
  position:absolute;
  left:0px;
  top:30px;
  width:117px;
  height:171px;
  text-align:center;
}
#u2365 {
  position:absolute;
  left:2px;
  top:78px;
  width:113px;
  word-wrap:break-word;
}
#u2366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:171px;
}
#u2366 {
  position:absolute;
  left:117px;
  top:30px;
  width:590px;
  height:171px;
  text-align:left;
}
#u2367 {
  position:absolute;
  left:2px;
  top:54px;
  width:586px;
  word-wrap:break-word;
}
