body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4228px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u2142 {
  position:absolute;
  left:100px;
  top:2030px;
  width:1440px;
  height:900px;
}
#u2143 {
  position:absolute;
  left:2px;
  top:442px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u2144 {
  position:absolute;
  left:100px;
  top:1080px;
  width:1440px;
  height:900px;
}
#u2145 {
  position:absolute;
  left:2px;
  top:442px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u2146 {
  position:absolute;
  left:2200px;
  top:2030px;
  width:1440px;
  height:900px;
}
#u2147 {
  position:absolute;
  left:2px;
  top:442px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u2148 {
  position:absolute;
  left:100px;
  top:3000px;
  width:1440px;
  height:900px;
}
#u2149 {
  position:absolute;
  left:2px;
  top:442px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u2150 {
  position:absolute;
  left:2200px;
  top:3000px;
  width:1440px;
  height:900px;
}
#u2151 {
  position:absolute;
  left:2px;
  top:442px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:100px;
}
#u2152 {
  position:absolute;
  left:100px;
  top:0px;
  width:1440px;
  height:100px;
  font-size:36px;
  color:#FFFFFF;
}
#u2153 {
  position:absolute;
  left:2px;
  top:29px;
  width:1436px;
  word-wrap:break-word;
}
#u2154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u2154 {
  position:absolute;
  left:100px;
  top:150px;
  width:1440px;
  height:900px;
}
#u2155 {
  position:absolute;
  left:2px;
  top:442px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:97px;
}
#u2156 {
  position:absolute;
  left:557px;
  top:431px;
  width:525px;
  height:97px;
  font-size:20px;
}
#u2157 {
  position:absolute;
  left:2px;
  top:41px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:285px;
}
#u2158 {
  position:absolute;
  left:557px;
  top:544px;
  width:525px;
  height:285px;
  font-size:20px;
}
#u2159 {
  position:absolute;
  left:2px;
  top:135px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:20px;
}
#u2160 {
  position:absolute;
  left:625px;
  top:656px;
  width:390px;
  height:45px;
  font-size:20px;
}
#u2161 {
  position:absolute;
  left:2px;
  top:15px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:16px;
  color:#CCCCCC;
}
#u2162 {
  position:absolute;
  left:640px;
  top:671px;
  width:109px;
  height:25px;
  font-size:16px;
  color:#CCCCCC;
}
#u2163 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u2164 {
  position:absolute;
  left:760px;
  top:371px;
  width:120px;
  height:120px;
  font-size:20px;
}
#u2165 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:20px;
}
#u2166 {
  position:absolute;
  left:625px;
  top:589px;
  width:390px;
  height:45px;
  font-size:20px;
}
#u2167 {
  position:absolute;
  left:2px;
  top:15px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:6px;
  font-size:16px;
  color:#CCCCCC;
}
#u2168 {
  position:absolute;
  left:640px;
  top:599px;
  width:49px;
  height:24px;
  font-size:16px;
  color:#CCCCCC;
}
#u2169 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  font-size:20px;
}
#u2170 {
  position:absolute;
  left:740px;
  top:761px;
  width:161px;
  height:45px;
  font-size:20px;
}
#u2171 {
  position:absolute;
  left:2px;
  top:11px;
  width:157px;
  word-wrap:break-word;
}
#u2172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:20px;
}
#u2172 {
  position:absolute;
  left:625px;
  top:721px;
  width:15px;
  height:15px;
  font-size:20px;
}
#u2173 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:16px;
}
#u2174 {
  position:absolute;
  left:646px;
  top:719px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u2175 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:16px;
}
#u2176 {
  position:absolute;
  left:953px;
  top:719px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u2177 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
}
#u2178 {
  position:absolute;
  left:764px;
  top:376px;
  width:111px;
  height:111px;
  font-size:20px;
}
#u2179 {
  position:absolute;
  left:2px;
  top:48px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FF0000;
}
#u2180 {
  position:absolute;
  left:1638px;
  top:236px;
  width:500px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u2181 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u2182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FF0000;
}
#u2182 {
  position:absolute;
  left:1638px;
  top:1190px;
  width:500px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u2183 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u2184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FF0000;
}
#u2184 {
  position:absolute;
  left:1638px;
  top:2116px;
  width:500px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u2185 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u2186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FF0000;
}
#u2186 {
  position:absolute;
  left:3728px;
  top:2116px;
  width:500px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u2187 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u2188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FF0000;
}
#u2188 {
  position:absolute;
  left:1638px;
  top:3082px;
  width:500px;
  height:48px;
  font-size:20px;
  color:#FF0000;
}
#u2189 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u2190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
}
#u2190 {
  position:absolute;
  left:1656px;
  top:3154px;
  width:230px;
  height:40px;
}
#u2191 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u2192p000 {
  position:absolute;
  left:1747px;
  top:3225px;
  width:51px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2192p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:3px;
}
#u2192p001 {
  position:absolute;
  left:1761px;
  top:3200px;
  width:21px;
  height:21px;
}
#u2192p001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2192p002 {
  position:absolute;
  left:1761px;
  top:3233px;
  width:21px;
  height:21px;
}
#u2192p002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2192 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2193 {
  position:absolute;
  left:1773px;
  top:3219px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
}
#u2194 {
  position:absolute;
  left:1656px;
  top:3260px;
  width:230px;
  height:40px;
}
#u2195 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u2196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FF0000;
}
#u2196 {
  position:absolute;
  left:1638px;
  top:3214px;
  width:128px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u2197 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u2198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FF0000;
}
#u2198 {
  position:absolute;
  left:3728px;
  top:3082px;
  width:500px;
  height:48px;
  font-size:20px;
  color:#FF0000;
}
#u2199 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u2200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FF0000;
}
#u2200 {
  position:absolute;
  left:1638px;
  top:3330px;
  width:500px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u2201 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u2202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
}
#u2202 {
  position:absolute;
  left:3746px;
  top:3140px;
  width:230px;
  height:40px;
}
#u2203 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u2204p000 {
  position:absolute;
  left:3837px;
  top:3211px;
  width:51px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2204p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:3px;
}
#u2204p001 {
  position:absolute;
  left:3851px;
  top:3186px;
  width:21px;
  height:21px;
}
#u2204p001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2204p002 {
  position:absolute;
  left:3851px;
  top:3219px;
  width:21px;
  height:21px;
}
#u2204p002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2204 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2205 {
  position:absolute;
  left:3863px;
  top:3205px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
}
#u2206 {
  position:absolute;
  left:3746px;
  top:3246px;
  width:230px;
  height:40px;
}
#u2207 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  word-wrap:break-word;
}
#u2208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FF0000;
}
#u2208 {
  position:absolute;
  left:3728px;
  top:3200px;
  width:128px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u2209 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u2210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FF0000;
}
#u2210 {
  position:absolute;
  left:3728px;
  top:3330px;
  width:500px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u2211 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u2212 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2213 {
  position:absolute;
  left:1599px;
  top:236px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u2214 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FFFFFF;
}
#u2215 {
  position:absolute;
  left:1605px;
  top:236px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u2216 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u2217 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2218 {
  position:absolute;
  left:1006px;
  top:714px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u2219 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FFFFFF;
}
#u2220 {
  position:absolute;
  left:1012px;
  top:714px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u2221 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u2222 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2223 {
  position:absolute;
  left:1599px;
  top:1190px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u2224 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FFFFFF;
}
#u2225 {
  position:absolute;
  left:1605px;
  top:1190px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u2226 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u2227 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2228 {
  position:absolute;
  left:916px;
  top:1486px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u2229 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FFFFFF;
}
#u2230 {
  position:absolute;
  left:922px;
  top:1486px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u2231 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u2232 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2233 {
  position:absolute;
  left:1599px;
  top:2116px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u2234 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FFFFFF;
}
#u2235 {
  position:absolute;
  left:1605px;
  top:2116px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u2236 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u2237 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2238 {
  position:absolute;
  left:808px;
  top:2431px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u2239 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FFFFFF;
}
#u2240 {
  position:absolute;
  left:814px;
  top:2431px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u2241 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u2242 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2243 {
  position:absolute;
  left:1599px;
  top:3082px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u2244 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FFFFFF;
}
#u2245 {
  position:absolute;
  left:1605px;
  top:3082px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u2246 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u2247 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2248 {
  position:absolute;
  left:1599px;
  top:3330px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u2249 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FFFFFF;
}
#u2250 {
  position:absolute;
  left:1605px;
  top:3330px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u2251 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u2252 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2253 {
  position:absolute;
  left:3687px;
  top:3082px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u2254 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FFFFFF;
}
#u2255 {
  position:absolute;
  left:3693px;
  top:3082px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u2256 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u2257 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2258 {
  position:absolute;
  left:3687px;
  top:3330px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u2259 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FFFFFF;
}
#u2260 {
  position:absolute;
  left:3693px;
  top:3330px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u2261 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u2262 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2263 {
  position:absolute;
  left:3687px;
  top:2116px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u2264 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FFFFFF;
}
#u2265 {
  position:absolute;
  left:3693px;
  top:2116px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u2266 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
