body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:856px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:26px;
  top:26px;
  width:374px;
  height:667px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:667px;
}
#u2 {
  position:absolute;
  left:2px;
  top:326px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:28px;
  top:29px;
  width:370px;
  height:12px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:12px;
}
#u4 {
  position:absolute;
  left:2px;
  top:-2px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:26px;
  top:42px;
  width:374px;
  height:34px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:34px;
}
#u6 {
  position:absolute;
  left:2px;
  top:9px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:36px;
  top:51px;
  width:27px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:194px;
  top:48px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:26px;
  top:75px;
  width:374px;
  height:171px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:171px;
}
#u12 {
  position:absolute;
  left:2px;
  top:78px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:36px;
  top:82px;
  width:80px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:36px;
  top:106px;
  width:83px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:36px;
  top:132px;
  width:100px;
  height:100px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u18 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:163px;
  top:132px;
  width:100px;
  height:100px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u20 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:286px;
  top:132px;
  width:100px;
  height:100px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u22 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:326px;
  top:82px;
  width:66px;
  height:16px;
  color:#FF0000;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:410px;
  top:75px;
  width:436px;
  height:21px;
  font-size:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:21px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:410px;
  top:102px;
  width:436px;
  height:21px;
  font-size:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:21px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:26px;
  top:720px;
  width:374px;
  height:667px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:667px;
}
#u31 {
  position:absolute;
  left:2px;
  top:326px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:28px;
  top:723px;
  width:370px;
  height:12px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:12px;
}
#u33 {
  position:absolute;
  left:2px;
  top:-2px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:27px;
  top:736px;
  width:373px;
  height:184px;
  font-size:20px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:184px;
}
#u35 {
  position:absolute;
  left:2px;
  top:80px;
  width:369px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:175px;
  top:847px;
  width:73px;
  height:16px;
  color:#FF0000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:410px;
  top:770px;
  width:436px;
  height:21px;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:21px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:410px;
  top:809px;
  width:446px;
  height:21px;
  font-size:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:21px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  word-wrap:break-word;
}
