body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:862px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:2px;
  top:0px;
  width:374px;
  height:667px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:667px;
}
#u2 {
  position:absolute;
  left:2px;
  top:326px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:4px;
  top:3px;
  width:370px;
  height:12px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:12px;
}
#u4 {
  position:absolute;
  left:2px;
  top:-2px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:161px;
  top:19px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:2px;
  top:49px;
  width:374px;
  height:52px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:52px;
}
#u8 {
  position:absolute;
  left:2px;
  top:18px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:12px;
  top:65px;
  width:17px;
  height:19px;
  font-size:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:2px;
  top:100px;
  width:374px;
  height:52px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:52px;
}
#u12 {
  position:absolute;
  left:2px;
  top:18px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:12px;
  top:116px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:2px;
  top:151px;
  width:374px;
  height:52px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:52px;
}
#u16 {
  position:absolute;
  left:2px;
  top:18px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:12px;
  top:167px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:2px;
  top:202px;
  width:374px;
  height:52px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:52px;
}
#u20 {
  position:absolute;
  left:2px;
  top:18px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:12px;
  top:218px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:386px;
  top:22px;
  width:476px;
  height:38px;
  font-size:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:38px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:94px;
  top:66px;
  width:11px;
  height:22px;
  font-size:18px;
  color:#FF0000;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:22px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:92px;
  top:114px;
  width:21px;
  height:22px;
  font-size:18px;
  color:#FF0000;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:92px;
  top:166px;
  width:21px;
  height:22px;
  font-size:18px;
  color:#FF0000;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:92px;
  top:219px;
  width:32px;
  height:22px;
  font-size:18px;
  color:#FF0000;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:386px;
  top:71px;
  width:476px;
  height:57px;
  font-size:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:57px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:620px;
  width:376px;
  height:47px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:47px;
}
#u37 {
  position:absolute;
  left:2px;
  top:16px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:40px;
  top:626px;
  width:20px;
  height:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u39 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:37px;
  top:648px;
  width:27px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:121px;
  top:626px;
  width:20px;
  height:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:118px;
  top:648px;
  width:27px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:213px;
  top:626px;
  width:20px;
  height:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:210px;
  top:648px;
  width:27px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:299px;
  top:626px;
  width:20px;
  height:20px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u51 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:296px;
  top:648px;
  width:27px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:386px;
  top:142px;
  width:476px;
  height:19px;
  font-size:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:19px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:39px;
  top:19px;
  width:26px;
  height:26px;
  font-size:20px;
  color:#FFFFFF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u57 {
  position:absolute;
  left:2px;
  top:1px;
  width:22px;
  word-wrap:break-word;
}
