body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:849px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:642px;
}
#u2681 {
  position:absolute;
  left:24px;
  top:47px;
  width:825px;
  height:642px;
}
#u2682 {
  position:absolute;
  left:2px;
  top:313px;
  width:821px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2683 {
  position:absolute;
  left:22px;
  top:15px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2684 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
