body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:383px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1189 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:729px;
}
#u1190 {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:729px;
}
#u1191 {
  position:absolute;
  left:2px;
  top:357px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1192 {
  position:absolute;
  left:37px;
  top:170px;
  width:30px;
  height:30px;
}
#u1193 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1194 {
  position:absolute;
  left:75px;
  top:172px;
  width:235px;
  height:25px;
}
#u1194_input {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#9F9F9F;
  text-align:left;
}
#u1194_input {
  font-family:'应用字体';
}
#u1195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1195 {
  position:absolute;
  left:317px;
  top:170px;
  width:30px;
  height:30px;
}
#u1196 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1197 {
  position:absolute;
  left:62px;
  top:127px;
  width:52px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1198 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u1199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1199 {
  position:absolute;
  left:163px;
  top:128px;
  width:58px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1200 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u1201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#5E6166;
  text-align:center;
}
#u1201 {
  position:absolute;
  left:116px;
  top:153px;
  width:150px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#5E6166;
  text-align:center;
}
#u1202 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u1203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:355px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u1203 {
  position:absolute;
  left:33px;
  top:205px;
  width:320px;
  height:355px;
}
#u1204 {
  position:absolute;
  left:2px;
  top:170px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u1205 {
  position:absolute;
  left:33px;
  top:205px;
  width:320px;
  height:35px;
}
#u1206 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u1207 {
  position:absolute;
  left:33px;
  top:265px;
  width:320px;
  height:95px;
}
#u1208 {
  position:absolute;
  left:2px;
  top:40px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u1209 {
  position:absolute;
  left:48px;
  top:244px;
  width:66px;
  height:16px;
}
#u1210 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 204, 255, 1);
}
#u1211 {
  position:absolute;
  left:114px;
  top:244px;
  width:53px;
  height:16px;
}
#u1212 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u1213 {
  position:absolute;
  left:181px;
  top:244px;
  width:27px;
  height:16px;
}
#u1214 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u1215 {
  position:absolute;
  left:223px;
  top:244px;
  width:27px;
  height:16px;
}
#u1216 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u1217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u1217 {
  position:absolute;
  left:268px;
  top:244px;
  width:53px;
  height:16px;
}
#u1218 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u1219 {
  position:absolute;
  left:156px;
  top:340px;
  width:17px;
  height:18px;
}
#u1220 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  word-wrap:break-word;
}
#u1221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u1221 {
  position:absolute;
  left:183px;
  top:340px;
  width:17px;
  height:18px;
}
#u1222 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  word-wrap:break-word;
}
#u1223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u1223 {
  position:absolute;
  left:210px;
  top:340px;
  width:17px;
  height:18px;
}
#u1224 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  word-wrap:break-word;
}
#u1225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u1225 {
  position:absolute;
  left:33px;
  top:360px;
  width:320px;
  height:70px;
}
#u1226 {
  position:absolute;
  left:2px;
  top:27px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:60px;
}
#u1227 {
  position:absolute;
  left:43px;
  top:364px;
  width:77px;
  height:60px;
}
#u1228 {
  position:absolute;
  left:2px;
  top:22px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u1229 {
  position:absolute;
  left:130px;
  top:364px;
  width:40px;
  height:16px;
}
#u1230 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u1231 {
  position:absolute;
  left:130px;
  top:386px;
  width:40px;
  height:16px;
}
#u1232 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u1233 {
  position:absolute;
  left:130px;
  top:408px;
  width:40px;
  height:16px;
}
#u1234 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1235 {
  position:absolute;
  left:300px;
  top:382px;
  width:47px;
  height:25px;
}
#u1235_input {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1235_input {
  font-family:'应用字体';
}
#u1236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u1236 {
  position:absolute;
  left:33px;
  top:430px;
  width:320px;
  height:70px;
}
#u1237 {
  position:absolute;
  left:2px;
  top:27px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:60px;
}
#u1238 {
  position:absolute;
  left:43px;
  top:434px;
  width:77px;
  height:60px;
}
#u1239 {
  position:absolute;
  left:2px;
  top:22px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u1240 {
  position:absolute;
  left:130px;
  top:434px;
  width:40px;
  height:16px;
}
#u1241 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u1242 {
  position:absolute;
  left:130px;
  top:456px;
  width:40px;
  height:16px;
}
#u1243 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u1244 {
  position:absolute;
  left:130px;
  top:478px;
  width:40px;
  height:16px;
}
#u1245 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1246 {
  position:absolute;
  left:300px;
  top:452px;
  width:47px;
  height:25px;
}
#u1246_input {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1246_input {
  font-family:'应用字体';
}
#u1247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u1247 {
  position:absolute;
  left:33px;
  top:500px;
  width:320px;
  height:70px;
}
#u1248 {
  position:absolute;
  left:2px;
  top:27px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:60px;
}
#u1249 {
  position:absolute;
  left:43px;
  top:504px;
  width:77px;
  height:60px;
}
#u1250 {
  position:absolute;
  left:2px;
  top:22px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u1251 {
  position:absolute;
  left:130px;
  top:504px;
  width:40px;
  height:16px;
}
#u1252 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u1253 {
  position:absolute;
  left:130px;
  top:526px;
  width:40px;
  height:16px;
}
#u1254 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u1255 {
  position:absolute;
  left:130px;
  top:548px;
  width:40px;
  height:16px;
}
#u1256 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1257 {
  position:absolute;
  left:300px;
  top:522px;
  width:47px;
  height:25px;
}
#u1257_input {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1257_input {
  font-family:'应用字体';
}
