body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:630px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:15px;
  top:10px;
  width:415px;
  height:502px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:502px;
}
#u1 {
  position:absolute;
  left:2px;
  top:243px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:530px;
  top:13px;
  width:100px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:530px;
  top:103px;
  width:100px;
  height:60px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:530px;
  top:213px;
  width:100px;
  height:60px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:530px;
  top:332px;
  width:100px;
  height:60px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:580px;
  top:73px;
  width:0px;
  height:30px;
}
#u10_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:44px;
}
#u11 {
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:580px;
  top:163px;
  width:0px;
  height:50px;
}
#u12_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u13 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:580px;
  top:292px;
  width:0px;
  height:40px;
}
#u14_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:54px;
}
#u15 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
