body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:600px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:11px;
}
#u7451 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:600px;
}
#u7452 {
  position:absolute;
  left:2px;
  top:292px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:97px;
}
#u7453 {
  position:absolute;
  left:218px;
  top:116px;
  width:525px;
  height:97px;
  font-size:20px;
}
#u7454 {
  position:absolute;
  left:2px;
  top:41px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:285px;
}
#u7455 {
  position:absolute;
  left:218px;
  top:228px;
  width:525px;
  height:285px;
  font-size:20px;
}
#u7456 {
  position:absolute;
  left:2px;
  top:135px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:20px;
}
#u7457 {
  position:absolute;
  left:285px;
  top:341px;
  width:390px;
  height:45px;
  font-size:20px;
}
#u7458 {
  position:absolute;
  left:2px;
  top:15px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:20px;
}
#u7459 {
  position:absolute;
  left:285px;
  top:273px;
  width:390px;
  height:45px;
  font-size:20px;
}
#u7460 {
  position:absolute;
  left:2px;
  top:15px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  font-size:20px;
}
#u7461 {
  position:absolute;
  left:399px;
  top:446px;
  width:162px;
  height:45px;
  font-size:20px;
}
#u7462 {
  position:absolute;
  left:2px;
  top:11px;
  width:158px;
  word-wrap:break-word;
}
#u7463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:20px;
}
#u7463 {
  position:absolute;
  left:285px;
  top:406px;
  width:15px;
  height:15px;
  font-size:20px;
}
#u7464 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:16px;
}
#u7465 {
  position:absolute;
  left:306px;
  top:404px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u7466 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:16px;
}
#u7467 {
  position:absolute;
  left:613px;
  top:404px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u7468 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:56px;
  font-size:28px;
}
#u7469 {
  position:absolute;
  left:425px;
  top:60px;
  width:111px;
  height:111px;
  font-size:28px;
}
#u7470 {
  position:absolute;
  left:2px;
  top:39px;
  width:107px;
  word-wrap:break-word;
}
#u7471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:16px;
  color:#CCCCCC;
}
#u7471 {
  position:absolute;
  left:300px;
  top:352px;
  width:81px;
  height:25px;
  font-size:16px;
  color:#CCCCCC;
}
#u7472 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:6px;
  font-size:16px;
  color:#CCCCCC;
}
#u7473 {
  position:absolute;
  left:300px;
  top:284px;
  width:97px;
  height:24px;
  font-size:16px;
  color:#CCCCCC;
}
#u7474 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u7475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7475 {
  position:absolute;
  left:978px;
  top:18px;
  width:397px;
  height:88px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7476 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  white-space:nowrap;
}
#u7477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7477 {
  position:absolute;
  left:978px;
  top:126px;
  width:397px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7478 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  white-space:nowrap;
}
#u7480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:600px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
}
#u7480 {
  position:absolute;
  left:0px;
  top:630px;
  width:960px;
  height:600px;
}
#u7481 {
  position:absolute;
  left:2px;
  top:292px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:134px;
}
#u7482 {
  position:absolute;
  left:210px;
  top:856px;
  width:525px;
  height:134px;
  font-size:20px;
}
#u7483 {
  position:absolute;
  left:2px;
  top:59px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:56px;
  font-size:28px;
}
#u7484 {
  position:absolute;
  left:417px;
  top:800px;
  width:111px;
  height:111px;
  font-size:28px;
}
#u7485 {
  position:absolute;
  left:2px;
  top:39px;
  width:107px;
  word-wrap:break-word;
}
#u7486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7486 {
  position:absolute;
  left:394px;
  top:935px;
  width:166px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7487 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u7489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:600px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
}
#u7489 {
  position:absolute;
  left:0px;
  top:1270px;
  width:960px;
  height:600px;
}
#u7490 {
  position:absolute;
  left:2px;
  top:292px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
}
#u7491 {
  position:absolute;
  left:861px;
  top:1520px;
  width:100px;
  height:80px;
}
#u7492 {
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u7493 {
  position:absolute;
  left:884px;
  top:1539px;
  width:58px;
  height:16px;
}
#u7494 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u7495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u7495 {
  position:absolute;
  left:893px;
  top:1567px;
  width:43px;
  height:16px;
}
#u7496 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7497 {
  position:absolute;
  left:411px;
  top:1549px;
  width:124px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7498 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u7499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u7499 {
  position:absolute;
  left:1150px;
  top:200px;
  width:100px;
  height:60px;
}
#u7500 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u7501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7501 {
  position:absolute;
  left:1150px;
  top:310px;
  width:100px;
  height:60px;
}
#u7502 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u7503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u7503 {
  position:absolute;
  left:1050px;
  top:420px;
  width:100px;
  height:60px;
}
#u7504 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u7505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u7505 {
  position:absolute;
  left:1240px;
  top:420px;
  width:100px;
  height:60px;
}
#u7506 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u7507 {
  position:absolute;
  left:1200px;
  top:260px;
  width:0px;
  height:50px;
}
#u7507_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u7508 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7509 {
  position:absolute;
  left:1150px;
  top:340px;
  width:-50px;
  height:80px;
}
#u7509_seg0 {
  position:absolute;
  left:-60px;
  top:-10px;
  width:64px;
  height:20px;
}
#u7509_seg1 {
  position:absolute;
  left:-60px;
  top:-10px;
  width:20px;
  height:94px;
}
#u7510 {
  position:absolute;
  left:-100px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u7511 {
  position:absolute;
  left:1250px;
  top:340px;
  width:40px;
  height:80px;
}
#u7511_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:54px;
  height:20px;
}
#u7511_seg1 {
  position:absolute;
  left:30px;
  top:-10px;
  width:20px;
  height:94px;
}
#u7512 {
  position:absolute;
  left:-10px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u7513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u7513 {
  position:absolute;
  left:431px;
  top:1880px;
  width:99px;
  height:16px;
}
#u7514 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
