body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1854px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1853px;
  height:902px;
}
#u2212 {
  position:absolute;
  left:0px;
  top:0px;
  width:1853px;
  height:902px;
}
#u2213 {
  position:absolute;
  left:2px;
  top:443px;
  width:1849px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1853px;
  height:100px;
  background:inherit;
  background-color:rgba(224, 224, 224, 1);
}
#u2214 {
  position:absolute;
  left:0px;
  top:901px;
  width:1853px;
  height:100px;
}
#u2215 {
  position:absolute;
  left:2px;
  top:42px;
  width:1849px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2216p000 {
  position:absolute;
  left:103px;
  top:934px;
  width:135px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2216p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:3px;
}
#u2216 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2217 {
  position:absolute;
  left:172px;
  top:928px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:100px;
}
#u2218 {
  position:absolute;
  left:1550px;
  top:901px;
  width:304px;
  height:100px;
}
#u2219 {
  position:absolute;
  left:2px;
  top:42px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u2220 {
  position:absolute;
  left:240px;
  top:901px;
  width:1250px;
  height:89px;
}
#u2221 {
  position:absolute;
  left:2px;
  top:37px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2222 {
  position:absolute;
  left:242px;
  top:903px;
  width:1244px;
  height:85px;
}
#u2222_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1244px;
  height:85px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#868686;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
