body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1660px;
  height:100px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(138, 194, 73, 1);
}
#u1906 {
  position:absolute;
  left:0px;
  top:0px;
  width:1660px;
  height:100px;
}
#u1907 {
  position:absolute;
  left:2px;
  top:42px;
  width:1656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FFFFFF;
}
#u1908 {
  position:absolute;
  left:30px;
  top:16px;
  width:168px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u1909 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u1910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#FFFFFF;
}
#u1910 {
  position:absolute;
  left:360px;
  top:22px;
  width:7px;
  height:16px;
  color:#FFFFFF;
}
#u1911 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  visibility:hidden;
  white-space:nowrap;
}
#u1912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:540px;
}
#u1912 {
  position:absolute;
  left:30px;
  top:130px;
  width:960px;
  height:540px;
}
#u1913 {
  position:absolute;
  left:2px;
  top:262px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:46px;
  background:inherit;
  background-color:rgba(60, 60, 60, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(60, 60, 60, 1);
  font-size:8px;
}
#u1914 {
  position:absolute;
  left:941px;
  top:187px;
  width:49px;
  height:46px;
  font-size:8px;
}
#u1915 {
  position:absolute;
  left:2px;
  top:15px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#1196DB;
}
#u1916 {
  position:absolute;
  left:953px;
  top:214px;
  width:25px;
  height:9px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#1196DB;
}
#u1917 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:400px;
}
#u1918 {
  position:absolute;
  left:941px;
  top:232px;
  width:49px;
  height:400px;
}
#u1919 {
  position:absolute;
  left:2px;
  top:192px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:71px;
}
#u1920 {
  position:absolute;
  left:941px;
  top:579px;
  width:49px;
  height:71px;
}
#u1921 {
  position:absolute;
  left:2px;
  top:28px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u1922 {
  position:absolute;
  left:955px;
  top:193px;
  width:21px;
  height:18px;
}
#u1923 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:500px;
  background:inherit;
  background-color:rgba(71, 71, 71, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(71, 71, 71, 1);
}
#u1924 {
  position:absolute;
  left:841px;
  top:151px;
  width:100px;
  height:500px;
}
#u1925 {
  position:absolute;
  left:2px;
  top:242px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u1926 {
  position:absolute;
  left:870px;
  top:176px;
  width:43px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u1927 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1928 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:49px;
}
#u1929 {
  position:absolute;
  left:845px;
  top:193px;
  width:87px;
  height:49px;
}
#u1930 {
  position:absolute;
  left:2px;
  top:17px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1931 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
}
#u1932 {
  position:absolute;
  left:845px;
  top:226px;
  width:87px;
  height:16px;
  opacity:0.800000011920929;
}
#u1933 {
  position:absolute;
  left:2px;
  top:0px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1934 {
  position:absolute;
  left:856px;
  top:228px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1935 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1936 {
  position:absolute;
  left:904px;
  top:228px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1937 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1938 {
  position:absolute;
  left:872px;
  top:242px;
  width:33px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1939 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1940 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:49px;
}
#u1941 {
  position:absolute;
  left:845px;
  top:260px;
  width:87px;
  height:49px;
}
#u1942 {
  position:absolute;
  left:2px;
  top:17px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1943 {
  position:absolute;
  left:875px;
  top:309px;
  width:25px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1944 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1945 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
}
#u1946 {
  position:absolute;
  left:845px;
  top:293px;
  width:87px;
  height:16px;
  opacity:0.800000011920929;
}
#u1947 {
  position:absolute;
  left:2px;
  top:0px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1948 {
  position:absolute;
  left:856px;
  top:295px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1949 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1950 {
  position:absolute;
  left:904px;
  top:295px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1951 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1952 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:49px;
}
#u1953 {
  position:absolute;
  left:845px;
  top:326px;
  width:87px;
  height:49px;
}
#u1954 {
  position:absolute;
  left:2px;
  top:17px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1955 {
  position:absolute;
  left:881px;
  top:375px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1956 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1957 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
}
#u1958 {
  position:absolute;
  left:845px;
  top:359px;
  width:87px;
  height:16px;
  opacity:0.800000011920929;
}
#u1959 {
  position:absolute;
  left:2px;
  top:0px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1960 {
  position:absolute;
  left:856px;
  top:362px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1961 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1962 {
  position:absolute;
  left:904px;
  top:362px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1963 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1964 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:49px;
}
#u1965 {
  position:absolute;
  left:845px;
  top:393px;
  width:87px;
  height:49px;
}
#u1966 {
  position:absolute;
  left:2px;
  top:17px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1967 {
  position:absolute;
  left:870px;
  top:442px;
  width:33px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1968 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1969 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
}
#u1970 {
  position:absolute;
  left:845px;
  top:426px;
  width:87px;
  height:16px;
  opacity:0.800000011920929;
}
#u1971 {
  position:absolute;
  left:2px;
  top:0px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1972 {
  position:absolute;
  left:856px;
  top:429px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1973 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1974 {
  position:absolute;
  left:904px;
  top:429px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1975 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1976 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:49px;
}
#u1977 {
  position:absolute;
  left:845px;
  top:459px;
  width:87px;
  height:49px;
}
#u1978 {
  position:absolute;
  left:2px;
  top:17px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1979 {
  position:absolute;
  left:870px;
  top:508px;
  width:33px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1980 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1981 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
}
#u1982 {
  position:absolute;
  left:845px;
  top:492px;
  width:87px;
  height:16px;
  opacity:0.800000011920929;
}
#u1983 {
  position:absolute;
  left:2px;
  top:0px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1984 {
  position:absolute;
  left:858px;
  top:495px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1985 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1986 {
  position:absolute;
  left:904px;
  top:495px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1987 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1988 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:49px;
}
#u1989 {
  position:absolute;
  left:845px;
  top:525px;
  width:87px;
  height:49px;
}
#u1990 {
  position:absolute;
  left:2px;
  top:17px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1991 {
  position:absolute;
  left:872px;
  top:574px;
  width:33px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1992 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1993 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
}
#u1994 {
  position:absolute;
  left:845px;
  top:558px;
  width:87px;
  height:16px;
  opacity:0.800000011920929;
}
#u1995 {
  position:absolute;
  left:2px;
  top:0px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1996 {
  position:absolute;
  left:858px;
  top:561px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1997 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u1998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1998 {
  position:absolute;
  left:904px;
  top:561px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u1999 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2000 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:49px;
}
#u2001 {
  position:absolute;
  left:845px;
  top:592px;
  width:87px;
  height:49px;
}
#u2002 {
  position:absolute;
  left:2px;
  top:17px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u2003 {
  position:absolute;
  left:872px;
  top:641px;
  width:33px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u2004 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2005 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
}
#u2006 {
  position:absolute;
  left:845px;
  top:625px;
  width:87px;
  height:16px;
  opacity:0.800000011920929;
}
#u2007 {
  position:absolute;
  left:2px;
  top:0px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u2008 {
  position:absolute;
  left:856px;
  top:628px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u2009 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u2010 {
  position:absolute;
  left:904px;
  top:628px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u2011 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u2012 {
  position:absolute;
  left:928px;
  top:156px;
  width:10px;
  height:10px;
  opacity:0.800000011920929;
}
#u2013 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:4px;
}
#u2014 {
  position:absolute;
  left:936px;
  top:193px;
  width:2px;
  height:60px;
  opacity:0.800000011920929;
}
#u2015 {
  position:absolute;
  left:2px;
  top:22px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2016p000 {
  position:absolute;
  left:841px;
  top:170px;
  width:101px;
  height:3px;
}
#u2016p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:3px;
}
#u2016 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0.800000011920929;
}
#u2017 {
  position:absolute;
  left:845px;
  top:163px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2018 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:53px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#999999;
}
#u2019 {
  position:absolute;
  left:844px;
  top:155px;
  width:60px;
  height:12px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#999999;
}
#u2020 {
  position:absolute;
  left:2px;
  top:-2px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u2021 {
  position:absolute;
  left:893px;
  top:158px;
  width:7px;
  height:7px;
  opacity:0.600000023841858;
}
#u2022 {
  position:absolute;
  left:2px;
  top:-5px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2023 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:22px;
}
#u2024 {
  position:absolute;
  left:851px;
  top:132px;
  width:15px;
  height:22px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u2025 {
  position:absolute;
  left:2px;
  top:3px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2026 {
  position:absolute;
  left:855px;
  top:122px;
  width:26px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2027 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  word-wrap:break-word;
}
#u2028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u2028 {
  position:absolute;
  left:910px;
  top:156px;
  width:11px;
  height:11px;
}
#u2029 {
  position:absolute;
  left:2px;
  top:-3px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
}
#u2030 {
  position:absolute;
  left:837px;
  top:150px;
  width:74px;
  height:22px;
}
#u2031 {
  position:absolute;
  left:2px;
  top:3px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u2032 {
  position:absolute;
  left:1018px;
  top:130px;
  width:640px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u2033 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
#u2034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:14px;
  line-height:28px;
}
#u2034 {
  position:absolute;
  left:1018px;
  top:170px;
  width:472px;
  height:56px;
  font-size:14px;
  line-height:28px;
}
#u2035 {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  word-wrap:break-word;
}
#u2036p000 {
  position:absolute;
  left:845px;
  top:160px;
  width:13px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2036p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:3px;
}
#u2036 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2037 {
  position:absolute;
  left:853px;
  top:153px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2038 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2039 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:53px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#999999;
}
#u2040 {
  position:absolute;
  left:1242px;
  top:319px;
  width:188px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#999999;
}
#u2041 {
  position:absolute;
  left:2px;
  top:4px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u2042 {
  position:absolute;
  left:1407px;
  top:322px;
  width:18px;
  height:18px;
  opacity:0.600000023841858;
}
#u2043 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2044p000 {
  position:absolute;
  left:1249px;
  top:329px;
  width:23px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2044p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:3px;
}
#u2044 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2045 {
  position:absolute;
  left:1262px;
  top:323px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:53px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#999999;
}
#u2047 {
  position:absolute;
  left:1018px;
  top:317px;
  width:187px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:6px;
  color:#999999;
}
#u2048 {
  position:absolute;
  left:2px;
  top:6px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2049 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:23px;
}
#u2050 {
  position:absolute;
  left:1047px;
  top:319px;
  width:139px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u2051 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2052 {
  position:absolute;
  left:1023px;
  top:320px;
  width:22px;
  height:22px;
  opacity:0.600000023841858;
}
#u2053 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u2054 {
  position:absolute;
  left:1041px;
  top:352px;
  width:76px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u2055 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u2056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2056 {
  position:absolute;
  left:1247px;
  top:350px;
  width:183px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2057 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
