body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1116px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:45px;
  width:1116px;
  height:675px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1116px;
  height:675px;
}
#u1 {
  position:absolute;
  left:2px;
  top:330px;
  width:1112px;
  visibility:hidden;
  word-wrap:break-word;
}
