body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:667px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:667px;
}
#u2 {
  position:absolute;
  left:2px;
  top:326px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:2px;
  top:3px;
  width:370px;
  height:12px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:12px;
}
#u4 {
  position:absolute;
  left:2px;
  top:-2px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:15px;
  width:374px;
  height:35px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:35px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:370px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:7px;
  top:24px;
  width:27px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:5px;
  top:134px;
  width:365px;
  height:40px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:14px;
  top:146px;
  width:27px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:5px;
  top:171px;
  width:365px;
  height:40px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:14px;
  top:183px;
  width:27px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:5px;
  top:210px;
  width:365px;
  height:40px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:40px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:14px;
  top:222px;
  width:53px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:313px;
  top:138px;
  width:51px;
  height:34px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:34px;
}
#u22 {
  position:absolute;
  left:2px;
  top:9px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:314px;
  top:175px;
  width:51px;
  height:34px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:34px;
}
#u24 {
  position:absolute;
  left:2px;
  top:9px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:9px;
  top:255px;
  width:313px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:5px;
  top:60px;
  width:365px;
  height:40px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:14px;
  top:72px;
  width:79px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:322px;
  top:72px;
  width:40px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:348px;
  top:219px;
  width:13px;
  height:24px;
  font-size:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:506px;
  top:0px;
  width:374px;
  height:667px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:667px;
}
#u37 {
  position:absolute;
  left:2px;
  top:326px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:508px;
  top:3px;
  width:370px;
  height:12px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:12px;
}
#u39 {
  position:absolute;
  left:2px;
  top:-2px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:506px;
  top:15px;
  width:374px;
  height:35px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:35px;
}
#u41 {
  position:absolute;
  left:2px;
  top:10px;
  width:370px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:513px;
  top:24px;
  width:27px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:511px;
  top:171px;
  width:365px;
  height:40px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:40px;
}
#u45 {
  position:absolute;
  left:2px;
  top:12px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:520px;
  top:183px;
  width:27px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:511px;
  top:208px;
  width:365px;
  height:40px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:40px;
}
#u49 {
  position:absolute;
  left:2px;
  top:12px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:520px;
  top:220px;
  width:27px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:511px;
  top:247px;
  width:365px;
  height:40px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:40px;
}
#u53 {
  position:absolute;
  left:2px;
  top:12px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:520px;
  top:259px;
  width:53px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:819px;
  top:175px;
  width:51px;
  height:34px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:34px;
}
#u57 {
  position:absolute;
  left:2px;
  top:9px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:820px;
  top:212px;
  width:51px;
  height:34px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:34px;
}
#u59 {
  position:absolute;
  left:2px;
  top:9px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:515px;
  top:291px;
  width:313px;
  height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:511px;
  top:60px;
  width:365px;
  height:40px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:40px;
}
#u63 {
  position:absolute;
  left:2px;
  top:12px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:520px;
  top:72px;
  width:79px;
  height:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:813px;
  top:72px;
  width:40px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:854px;
  top:256px;
  width:13px;
  height:24px;
  font-size:20px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:855px;
  top:68px;
  width:13px;
  height:24px;
  font-size:20px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:380px;
  top:80px;
  width:115px;
  height:0px;
}
#u72_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:129px;
  height:20px;
}
#u73 {
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:893px;
  top:79px;
  width:110px;
  height:0px;
}
#u74_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:124px;
  height:20px;
}
#u75 {
  position:absolute;
  left:5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:1016px;
  top:0px;
  width:374px;
  height:667px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:667px;
}
#u78 {
  position:absolute;
  left:2px;
  top:326px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:1018px;
  top:3px;
  width:370px;
  height:12px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:12px;
}
#u80 {
  position:absolute;
  left:2px;
  top:-2px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:1016px;
  top:15px;
  width:374px;
  height:652px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:652px;
}
#u82 {
  position:absolute;
  left:2px;
  top:318px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:506px;
  top:713px;
  width:374px;
  height:667px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:667px;
}
#u85 {
  position:absolute;
  left:2px;
  top:326px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:508px;
  top:716px;
  width:370px;
  height:12px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:12px;
}
#u87 {
  position:absolute;
  left:2px;
  top:-2px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:506px;
  top:729px;
  width:374px;
  height:35px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:35px;
}
#u89 {
  position:absolute;
  left:2px;
  top:10px;
  width:370px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:514px;
  top:738px;
  width:27px;
  height:16px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:510px;
  top:775px;
  width:365px;
  height:40px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:40px;
}
#u93 {
  position:absolute;
  left:2px;
  top:12px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:519px;
  top:787px;
  width:79px;
  height:16px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:6px;
  top:108px;
  width:91px;
  height:22px;
  font-size:18px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:513px;
  top:144px;
  width:91px;
  height:22px;
  font-size:18px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:818px;
  top:779px;
  width:51px;
  height:34px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:34px;
}
#u101 {
  position:absolute;
  left:2px;
  top:9px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:512px;
  top:824px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:511px;
  top:851px;
  width:365px;
  height:40px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:40px;
}
#u105 {
  position:absolute;
  left:2px;
  top:12px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:520px;
  top:863px;
  width:105px;
  height:16px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:511px;
  top:890px;
  width:365px;
  height:40px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:40px;
}
#u109 {
  position:absolute;
  left:2px;
  top:12px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:520px;
  top:902px;
  width:131px;
  height:16px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:820px;
  top:855px;
  width:51px;
  height:34px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:34px;
}
#u113 {
  position:absolute;
  left:2px;
  top:9px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:820px;
  top:894px;
  width:51px;
  height:34px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:34px;
}
#u115 {
  position:absolute;
  left:2px;
  top:9px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:1016px;
  top:713px;
  width:374px;
  height:667px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:667px;
}
#u118 {
  position:absolute;
  left:2px;
  top:326px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:1018px;
  top:716px;
  width:370px;
  height:12px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:12px;
}
#u120 {
  position:absolute;
  left:2px;
  top:-2px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:1016px;
  top:729px;
  width:374px;
  height:35px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:35px;
}
#u122 {
  position:absolute;
  left:2px;
  top:10px;
  width:370px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:1024px;
  top:738px;
  width:27px;
  height:16px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:1020px;
  top:775px;
  width:365px;
  height:40px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:40px;
}
#u126 {
  position:absolute;
  left:2px;
  top:12px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:1029px;
  top:787px;
  width:79px;
  height:16px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:1326px;
  top:779px;
  width:51px;
  height:34px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:34px;
}
#u130 {
  position:absolute;
  left:2px;
  top:9px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:890px;
  top:796px;
  width:110px;
  height:0px;
}
#u131_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:124px;
  height:20px;
}
#u132 {
  position:absolute;
  left:5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:513px;
  top:104px;
  width:363px;
  height:32px;
  color:#797979;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:32px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:380px;
  top:50px;
  width:123px;
  height:16px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:7px;
  top:714px;
  width:453px;
  height:566px;
  font-size:16px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:566px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:511px;
  top:929px;
  width:365px;
  height:40px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:40px;
}
#u140 {
  position:absolute;
  left:2px;
  top:12px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:520px;
  top:941px;
  width:108px;
  height:16px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:820px;
  top:933px;
  width:51px;
  height:34px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:34px;
}
#u144 {
  position:absolute;
  left:2px;
  top:9px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:265px;
  top:1570px;
  width:142px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:60px;
}
#u146 {
  position:absolute;
  left:2px;
  top:19px;
  width:138px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:265px;
  top:1480px;
  width:142px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:60px;
}
#u148 {
  position:absolute;
  left:2px;
  top:19px;
  width:138px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:265px;
  top:1662px;
  width:142px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:60px;
}
#u150 {
  position:absolute;
  left:2px;
  top:19px;
  width:138px;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:40px;
  top:1720px;
  width:142px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:60px;
}
#u152 {
  position:absolute;
  left:2px;
  top:8px;
  width:138px;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:490px;
  top:1480px;
  width:260px;
  height:330px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:330px;
}
#u154 {
  position:absolute;
  left:2px;
  top:154px;
  width:256px;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:820px;
  top:1480px;
  width:260px;
  height:330px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:330px;
}
#u156 {
  position:absolute;
  left:2px;
  top:132px;
  width:256px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:265px;
  top:1750px;
  width:142px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:60px;
}
#u158 {
  position:absolute;
  left:2px;
  top:19px;
  width:138px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:65px;
  top:2060px;
  width:142px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:60px;
}
#u160 {
  position:absolute;
  left:2px;
  top:8px;
  width:138px;
  word-wrap:break-word;
}
#u161 {
  position:absolute;
  left:410px;
  top:1510px;
  width:80px;
  height:0px;
}
#u161_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:94px;
  height:20px;
}
#u162 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163 {
  position:absolute;
  left:410px;
  top:1600px;
  width:80px;
  height:0px;
}
#u163_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:94px;
  height:20px;
}
#u164 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:410px;
  top:1690px;
  width:70px;
  height:0px;
}
#u165_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:84px;
  height:20px;
}
#u166 {
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:410px;
  top:1780px;
  width:70px;
  height:0px;
}
#u167_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:84px;
  height:20px;
}
#u168 {
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:754px;
  top:1600px;
  width:60px;
  height:0px;
}
#u169_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:74px;
  height:20px;
}
#u170 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171 {
  position:absolute;
  left:210px;
  top:2090px;
  width:730px;
  height:-280px;
}
#u171_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:744px;
  height:20px;
}
#u171_seg1 {
  position:absolute;
  left:720px;
  top:-284px;
  width:20px;
  height:294px;
}
#u172 {
  position:absolute;
  left:455px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:40px;
  top:1800px;
  width:142px;
  height:60px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:60px;
}
#u174 {
  position:absolute;
  left:2px;
  top:8px;
  width:138px;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:190px;
  top:1740px;
  width:60px;
  height:30px;
}
#u175_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:24px;
  height:20px;
}
#u175_seg1 {
  position:absolute;
  left:0px;
  top:-10px;
  width:20px;
  height:50px;
}
#u175_seg2 {
  position:absolute;
  left:0px;
  top:20px;
  width:64px;
  height:20px;
}
#u176 {
  position:absolute;
  left:-35px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:190px;
  top:1840px;
  width:60px;
  height:-40px;
}
#u177_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:24px;
  height:20px;
}
#u177_seg1 {
  position:absolute;
  left:0px;
  top:-50px;
  width:20px;
  height:60px;
}
#u177_seg2 {
  position:absolute;
  left:0px;
  top:-50px;
  width:64px;
  height:20px;
}
#u178 {
  position:absolute;
  left:-40px;
  top:-48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:40px;
  top:1410px;
  width:79px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u180 {
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:128px;
  top:1417px;
  width:79px;
  height:16px;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u183 {
  position:absolute;
  left:40px;
  top:1450px;
  width:79px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
}
#u184 {
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185 {
  position:absolute;
  left:128px;
  top:1457px;
  width:92px;
  height:16px;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u187 {
  position:absolute;
  left:46px;
  top:2140px;
  width:200px;
  height:10px;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:10px;
}
#u188 {
  position:absolute;
  left:2px;
  top:-3px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:1400px;
  top:380px;
  width:40px;
  height:10px;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:10px;
}
#u190 {
  position:absolute;
  left:2px;
  top:-3px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:754px;
  top:1692px;
  width:60px;
  height:0px;
}
#u191_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:74px;
  height:20px;
}
#u192 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193 {
  position:absolute;
  left:754px;
  top:1780px;
  width:60px;
  height:0px;
}
#u193_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:74px;
  height:20px;
}
#u194 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
