body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7563_div {
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7563 {
  position:absolute;
  left:12px;
  top:10px;
  width:832px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7564 {
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  white-space:nowrap;
}
#u7565_div {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7565 {
  position:absolute;
  left:12px;
  top:50px;
  width:597px;
  height:66px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7566 {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  white-space:nowrap;
}
#u7567_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7567 {
  position:absolute;
  left:12px;
  top:130px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7568 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u7569_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:759px;
}
#u7569 {
  position:absolute;
  left:12px;
  top:162px;
  width:399px;
  height:759px;
}
#u7570 {
  position:absolute;
  left:2px;
  top:372px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7571_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7571 {
  position:absolute;
  left:20px;
  top:931px;
  width:157px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7572 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u7573_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7573 {
  position:absolute;
  left:266px;
  top:931px;
  width:157px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7574 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u7575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:684px;
}
#u7575 {
  position:absolute;
  left:518px;
  top:162px;
  width:352px;
  height:684px;
}
#u7576 {
  position:absolute;
  left:2px;
  top:334px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7577_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7577 {
  position:absolute;
  left:518px;
  top:931px;
  width:157px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7578 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u7579_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7579 {
  position:absolute;
  left:723px;
  top:931px;
  width:157px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7580 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
