body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:820px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:26px;
  top:36px;
  width:376px;
  height:744px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:744px;
}
#u1 {
  position:absolute;
  left:2px;
  top:364px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:26px;
  top:563px;
  width:376px;
  height:216px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:216px;
}
#u3 {
  position:absolute;
  left:2px;
  top:100px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:440px;
  top:26px;
  width:380px;
  height:753px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:753px;
}
#u5 {
  position:absolute;
  left:2px;
  top:368px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:456px;
  top:38px;
  width:73px;
  height:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:340px;
  top:605px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:456px;
  top:76px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:496px;
  top:79px;
  width:303px;
  height:22px;
  font-size:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:22px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:250px;
  top:580px;
  width:80px;
  height:110px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:110px;
}
#u15 {
  position:absolute;
  left:2px;
  top:47px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
