body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:540px;
}
#u4810 {
  position:absolute;
  left:30px;
  top:130px;
  width:960px;
  height:540px;
}
#u4811 {
  position:absolute;
  left:2px;
  top:262px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1660px;
  height:100px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(138, 194, 73, 1);
}
#u4812 {
  position:absolute;
  left:0px;
  top:0px;
  width:1660px;
  height:100px;
}
#u4813 {
  position:absolute;
  left:2px;
  top:42px;
  width:1656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u4814 {
  position:absolute;
  left:1018px;
  top:130px;
  width:640px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u4815 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
#u4816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:14px;
  line-height:28px;
}
#u4816 {
  position:absolute;
  left:1018px;
  top:170px;
  width:640px;
  height:56px;
  font-size:14px;
  line-height:28px;
}
#u4817 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
#u4818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#FFFFFF;
}
#u4818 {
  position:absolute;
  left:360px;
  top:22px;
  width:7px;
  height:16px;
  color:#FFFFFF;
}
#u4819 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  visibility:hidden;
  white-space:nowrap;
}
#u4820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:355px;
}
#u4820 {
  position:absolute;
  left:941px;
  top:268px;
  width:49px;
  height:355px;
}
#u4821 {
  position:absolute;
  left:2px;
  top:170px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u4822 {
  position:absolute;
  left:941px;
  top:615px;
  width:49px;
  height:36px;
}
#u4823 {
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:46px;
  background:inherit;
  background-color:rgba(60, 60, 60, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(60, 60, 60, 1);
  font-size:8px;
}
#u4824 {
  position:absolute;
  left:941px;
  top:222px;
  width:49px;
  height:46px;
  font-size:8px;
}
#u4825 {
  position:absolute;
  left:2px;
  top:15px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#1196DB;
  text-align:center;
}
#u4826 {
  position:absolute;
  left:953px;
  top:248px;
  width:25px;
  height:18px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#1196DB;
  text-align:center;
}
#u4827 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u4828 {
  position:absolute;
  left:955px;
  top:228px;
  width:21px;
  height:18px;
}
#u4829 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FFFFFF;
}
#u4830 {
  position:absolute;
  left:30px;
  top:16px;
  width:108px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u4831 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u4832_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:606px;
  height:359px;
}
#u4832 {
  position:absolute;
  left:150px;
  top:207px;
  width:566px;
  height:319px;
}
#u4833 {
  position:absolute;
  left:2px;
  top:152px;
  width:562px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:328px;
}
#u4834 {
  position:absolute;
  left:144px;
  top:204px;
  width:577px;
  height:328px;
}
#u4835 {
  position:absolute;
  left:2px;
  top:156px;
  width:573px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4836 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:22px;
}
#u4837 {
  position:absolute;
  left:151px;
  top:191px;
  width:15px;
  height:22px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u4838 {
  position:absolute;
  left:2px;
  top:3px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u4839 {
  position:absolute;
  left:155px;
  top:181px;
  width:26px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4840 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  word-wrap:break-word;
}
#u4841 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:500px;
  background:inherit;
  background-color:rgba(71, 71, 71, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(71, 71, 71, 1);
}
#u4842 {
  position:absolute;
  left:841px;
  top:151px;
  width:100px;
  height:500px;
}
#u4843 {
  position:absolute;
  left:2px;
  top:242px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u4844 {
  position:absolute;
  left:845px;
  top:155px;
  width:43px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u4845 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4846 {
  position:absolute;
  left:929px;
  top:156px;
  width:10px;
  height:10px;
  opacity:0.800000011920929;
}
#u4847 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4848p000 {
  position:absolute;
  left:841px;
  top:171px;
  width:101px;
  height:3px;
}
#u4848p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:3px;
}
#u4848 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0.800000011920929;
}
#u4849 {
  position:absolute;
  left:845px;
  top:164px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4850 {
  position:absolute;
  left:899px;
  top:180px;
  width:12px;
  height:12px;
}
#u4851 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u4852 {
  position:absolute;
  left:849px;
  top:180px;
  width:12px;
  height:12px;
}
#u4853 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u4854 {
  position:absolute;
  left:867px;
  top:180px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u4855 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u4856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u4856 {
  position:absolute;
  left:919px;
  top:180px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u4857 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u4858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u4858 {
  position:absolute;
  left:883px;
  top:178px;
  width:16px;
  height:16px;
}
#u4859 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:115px;
}
#u4860 {
  position:absolute;
  left:847px;
  top:318px;
  width:86px;
  height:115px;
}
#u4861 {
  position:absolute;
  left:2px;
  top:50px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:36px;
}
#u4862 {
  position:absolute;
  left:586px;
  top:493px;
  width:65px;
  height:36px;
}
#u4863 {
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
