body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:540px;
}
#u4916 {
  position:absolute;
  left:30px;
  top:130px;
  width:960px;
  height:540px;
}
#u4917 {
  position:absolute;
  left:2px;
  top:262px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1660px;
  height:100px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(138, 194, 73, 1);
}
#u4918 {
  position:absolute;
  left:0px;
  top:0px;
  width:1660px;
  height:100px;
}
#u4919 {
  position:absolute;
  left:2px;
  top:42px;
  width:1656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u4920 {
  position:absolute;
  left:1018px;
  top:130px;
  width:640px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u4921 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
#u4922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#FFFFFF;
}
#u4922 {
  position:absolute;
  left:360px;
  top:22px;
  width:7px;
  height:16px;
  color:#FFFFFF;
}
#u4923 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  visibility:hidden;
  white-space:nowrap;
}
#u4924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u4924 {
  position:absolute;
  left:1018px;
  top:196px;
  width:640px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u4925 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
#u4926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:14px;
  line-height:28px;
}
#u4926 {
  position:absolute;
  left:1018px;
  top:236px;
  width:640px;
  height:28px;
  font-size:14px;
  line-height:28px;
}
#u4927 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
#u4928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:355px;
}
#u4928 {
  position:absolute;
  left:941px;
  top:268px;
  width:49px;
  height:355px;
}
#u4929 {
  position:absolute;
  left:2px;
  top:170px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u4930 {
  position:absolute;
  left:941px;
  top:615px;
  width:49px;
  height:36px;
}
#u4931 {
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:46px;
  background:inherit;
  background-color:rgba(60, 60, 60, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(60, 60, 60, 1);
  font-size:8px;
}
#u4932 {
  position:absolute;
  left:941px;
  top:222px;
  width:49px;
  height:46px;
  font-size:8px;
}
#u4933 {
  position:absolute;
  left:2px;
  top:15px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:500px;
  background:inherit;
  background-color:rgba(71, 71, 71, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(71, 71, 71, 1);
}
#u4934 {
  position:absolute;
  left:841px;
  top:151px;
  width:100px;
  height:500px;
}
#u4935 {
  position:absolute;
  left:2px;
  top:242px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u4936 {
  position:absolute;
  left:845px;
  top:155px;
  width:43px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u4937 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4938 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:49px;
}
#u4939 {
  position:absolute;
  left:845px;
  top:181px;
  width:87px;
  height:49px;
  font-size:8px;
}
#u4940 {
  position:absolute;
  left:2px;
  top:17px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u4941 {
  position:absolute;
  left:875px;
  top:230px;
  width:25px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u4942 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4943 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  font-size:8px;
}
#u4944 {
  position:absolute;
  left:845px;
  top:214px;
  width:87px;
  height:16px;
  opacity:0.800000011920929;
  font-size:8px;
}
#u4945 {
  position:absolute;
  left:2px;
  top:0px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u4946 {
  position:absolute;
  left:857px;
  top:217px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u4947 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u4948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u4948 {
  position:absolute;
  left:903px;
  top:217px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u4949 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u4950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4950 {
  position:absolute;
  left:928px;
  top:156px;
  width:10px;
  height:10px;
  opacity:0.800000011920929;
}
#u4951 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4952p000 {
  position:absolute;
  left:841px;
  top:171px;
  width:101px;
  height:3px;
}
#u4952p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:3px;
}
#u4952 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0.800000011920929;
}
#u4953 {
  position:absolute;
  left:845px;
  top:164px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#1196DB;
  text-align:center;
}
#u4954 {
  position:absolute;
  left:953px;
  top:248px;
  width:25px;
  height:18px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#1196DB;
  text-align:center;
}
#u4955 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u4956 {
  position:absolute;
  left:955px;
  top:228px;
  width:21px;
  height:18px;
}
#u4957 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:70px;
}
#u4958 {
  position:absolute;
  left:837px;
  top:176px;
  width:104px;
  height:70px;
}
#u4959 {
  position:absolute;
  left:2px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4960 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:22px;
}
#u4961 {
  position:absolute;
  left:845px;
  top:165px;
  width:15px;
  height:22px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u4962 {
  position:absolute;
  left:2px;
  top:3px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u4963 {
  position:absolute;
  left:849px;
  top:155px;
  width:26px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4964 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  word-wrap:break-word;
}
#u4965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FFFFFF;
}
#u4965 {
  position:absolute;
  left:30px;
  top:16px;
  width:108px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u4966 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u4967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u4967 {
  position:absolute;
  left:843px;
  top:212px;
  width:45px;
  height:20px;
}
#u4968 {
  position:absolute;
  left:2px;
  top:2px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u4969 {
  position:absolute;
  left:889px;
  top:212px;
  width:45px;
  height:20px;
}
#u4970 {
  position:absolute;
  left:2px;
  top:2px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4971 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:22px;
}
#u4972 {
  position:absolute;
  left:853px;
  top:198px;
  width:15px;
  height:22px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u4973 {
  position:absolute;
  left:2px;
  top:3px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u4974 {
  position:absolute;
  left:857px;
  top:188px;
  width:26px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4975 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  word-wrap:break-word;
}
#u4976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u4976 {
  position:absolute;
  left:1018px;
  top:303px;
  width:640px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u4977 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
#u4978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:27px;
}
#u4978 {
  position:absolute;
  left:941px;
  top:242px;
  width:49px;
  height:27px;
}
#u4979 {
  position:absolute;
  left:2px;
  top:6px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4980 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:22px;
}
#u4981 {
  position:absolute;
  left:964px;
  top:227px;
  width:15px;
  height:22px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u4982 {
  position:absolute;
  left:2px;
  top:3px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u4983 {
  position:absolute;
  left:968px;
  top:217px;
  width:26px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4984 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  word-wrap:break-word;
}
