body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1228px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:417px;
}
#u6074 {
  position:absolute;
  left:10px;
  top:10px;
  width:305px;
  height:417px;
}
#u6075 {
  position:absolute;
  left:2px;
  top:201px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:813px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6076 {
  position:absolute;
  left:347px;
  top:10px;
  width:813px;
  height:66px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6077 {
  position:absolute;
  left:0px;
  top:0px;
  width:813px;
  word-wrap:break-word;
}
#u6078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:292px;
}
#u6078 {
  position:absolute;
  left:5px;
  top:498px;
  width:397px;
  height:292px;
}
#u6079 {
  position:absolute;
  left:2px;
  top:138px;
  width:393px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:813px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6080 {
  position:absolute;
  left:415px;
  top:498px;
  width:813px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6081 {
  position:absolute;
  left:0px;
  top:0px;
  width:813px;
  word-wrap:break-word;
}
#u6082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:233px;
}
#u6082 {
  position:absolute;
  left:0px;
  top:817px;
  width:395px;
  height:233px;
}
#u6083 {
  position:absolute;
  left:2px;
  top:109px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:813px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6084 {
  position:absolute;
  left:415px;
  top:896px;
  width:813px;
  height:66px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6085 {
  position:absolute;
  left:0px;
  top:0px;
  width:813px;
  word-wrap:break-word;
}
#u6086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:371px;
}
#u6086 {
  position:absolute;
  left:5px;
  top:1070px;
  width:341px;
  height:371px;
}
#u6087 {
  position:absolute;
  left:2px;
  top:178px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:133px;
}
#u6088 {
  position:absolute;
  left:310px;
  top:1227px;
  width:153px;
  height:133px;
}
#u6089 {
  position:absolute;
  left:2px;
  top:59px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
