body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:5724px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5724px;
  height:1380px;
}
#u2091 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5724px;
  height:1380px;
}
#u2092 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:682px;
  width:5720px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2093 {
  border-width:0px;
  position:absolute;
  left:3511px;
  top:471px;
  width:60px;
  height:16px;
}
#u2094 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u2095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2095 {
  border-width:0px;
  position:absolute;
  left:3497px;
  top:708px;
  width:60px;
  height:16px;
}
#u2096 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u2097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2097 {
  border-width:0px;
  position:absolute;
  left:3497px;
  top:907px;
  width:60px;
  height:16px;
}
#u2098 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
