body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:861px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:26px;
  top:62px;
  width:253px;
  height:22px;
  font-size:18px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:22px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:26px;
  top:26px;
  width:235px;
  height:22px;
  font-size:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:22px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:26px;
  top:143px;
  width:374px;
  height:667px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:667px;
}
#u6 {
  position:absolute;
  left:2px;
  top:326px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:28px;
  top:146px;
  width:370px;
  height:12px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:12px;
}
#u8 {
  position:absolute;
  left:2px;
  top:-2px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:68px;
  top:361px;
  width:290px;
  height:169px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:169px;
}
#u10 {
  position:absolute;
  left:2px;
  top:76px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:79px;
  top:373px;
  width:271px;
  height:32px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:32px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:26px;
  top:103px;
  width:91px;
  height:22px;
  font-size:18px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:79px;
  top:422px;
  width:100px;
  height:16px;
}
#u16 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u15_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17 {
  position:absolute;
  left:343px;
  top:356px;
  width:18px;
  height:18px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u18 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:72px;
  top:448px;
  width:282px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:265px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:282px;
  height:1px;
}
#u20 {
  position:absolute;
  left:92px;
  top:466px;
  width:50px;
  height:50px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u21 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:186px;
  top:466px;
  width:50px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:283px;
  top:466px;
  width:50px;
  height:50px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u25 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:487px;
  top:62px;
  width:255px;
  height:22px;
  font-size:18px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:22px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:487px;
  top:26px;
  width:235px;
  height:22px;
  font-size:18px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:22px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:487px;
  top:103px;
  width:91px;
  height:22px;
  font-size:18px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:487px;
  top:143px;
  width:374px;
  height:667px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:667px;
}
#u34 {
  position:absolute;
  left:2px;
  top:326px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:489px;
  top:146px;
  width:370px;
  height:12px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:12px;
}
#u36 {
  position:absolute;
  left:2px;
  top:-2px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:528px;
  top:361px;
  width:290px;
  height:169px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:169px;
}
#u38 {
  position:absolute;
  left:2px;
  top:76px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:538px;
  top:373px;
  width:271px;
  height:32px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:32px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:538px;
  top:422px;
  width:100px;
  height:16px;
}
#u42 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u41_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u43 {
  position:absolute;
  left:802px;
  top:356px;
  width:18px;
  height:18px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u44 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:532px;
  top:448px;
  width:282px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:265px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:5px;
  width:282px;
  height:1px;
}
#u46 {
  position:absolute;
  left:552px;
  top:466px;
  width:50px;
  height:50px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u47 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:646px;
  top:466px;
  width:50px;
  height:50px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u49 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:742px;
  top:466px;
  width:50px;
  height:50px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u51 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
