body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:26px;
  top:26px;
  width:395px;
  height:699px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:699px;
}
#u1 {
  position:absolute;
  left:2px;
  top:342px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:210px;
  width:280px;
  height:120px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:120px;
}
#u3 {
  position:absolute;
  left:2px;
  top:52px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:28px;
  top:60px;
  width:387px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:193px;
  top:69px;
  width:53px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:385px;
  top:69px;
  width:27px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:28px;
  top:466px;
  width:390px;
  height:259px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:259px;
}
#u11 {
  position:absolute;
  left:2px;
  top:122px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:27px;
  top:96px;
  width:393px;
  height:373px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:373px;
}
#u13 {
  position:absolute;
  left:2px;
  top:178px;
  width:389px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:147px;
  top:268px;
  width:145px;
  height:28px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:28px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:442px;
  top:26px;
  width:478px;
  height:699px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:699px;
}
#u17 {
  position:absolute;
  left:2px;
  top:342px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:460px;
  top:38px;
  width:73px;
  height:28px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:460px;
  top:76px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:498px;
  top:79px;
  width:410px;
  height:66px;
  font-size:18px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:66px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:345px;
  top:62px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:34px;
  top:102px;
  width:206px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  white-space:nowrap;
}
