body {
  margin:0px;
  background-color:rgba(54, 54, 54, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1030px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:667px;
}
#u331 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:33px;
  width:374px;
  height:667px;
}
#u332 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u333 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:686px;
  width:40px;
  height:40px;
  font-size:20px;
  color:#FFFFFF;
}
#u334 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  word-wrap:break-word;
}
#u335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u335 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:156px;
  width:617px;
  height:106px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u336 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  white-space:nowrap;
}
