body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:413px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:26px;
  top:26px;
  width:387px;
  height:694px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:694px;
}
#u1 {
  position:absolute;
  left:2px;
  top:339px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:26px;
  top:26px;
  width:387px;
  height:34px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:34px;
}
#u3 {
  position:absolute;
  left:2px;
  top:9px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:37px;
  top:35px;
  width:27px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:199px;
  top:33px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:96px;
  top:370px;
  width:248px;
  height:19px;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:166px;
  top:409px;
  width:100px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
