body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:502px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5004 {
  position:absolute;
  left:20px;
  top:18px;
  width:482px;
  height:128px;
}
#u5005 {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  word-wrap:break-word;
}
