body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1660px;
  height:100px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(138, 194, 73, 1);
}
#u4522 {
  position:absolute;
  left:0px;
  top:0px;
  width:1660px;
  height:100px;
}
#u4523 {
  position:absolute;
  left:2px;
  top:42px;
  width:1656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FFFFFF;
}
#u4524 {
  position:absolute;
  left:30px;
  top:16px;
  width:148px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u4525 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u4526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u4526 {
  position:absolute;
  left:1019px;
  top:130px;
  width:640px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u4527 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
#u4528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:14px;
  line-height:28px;
}
#u4528 {
  position:absolute;
  left:1019px;
  top:170px;
  width:640px;
  height:56px;
  font-size:14px;
  line-height:28px;
}
#u4529 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
#u4530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:540px;
}
#u4530 {
  position:absolute;
  left:30px;
  top:130px;
  width:960px;
  height:540px;
}
#u4531 {
  position:absolute;
  left:2px;
  top:262px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4532 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:46px;
  background:inherit;
  background-color:rgba(60, 60, 60, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(60, 60, 60, 1);
  font-size:8px;
}
#u4533 {
  position:absolute;
  left:941px;
  top:187px;
  width:49px;
  height:46px;
  font-size:8px;
}
#u4534 {
  position:absolute;
  left:2px;
  top:15px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u4535 {
  position:absolute;
  left:955px;
  top:193px;
  width:21px;
  height:18px;
  font-size:8px;
}
#u4536 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#FFFFFF;
}
#u4537 {
  position:absolute;
  left:953px;
  top:214px;
  width:25px;
  height:9px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#FFFFFF;
}
#u4538 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:400px;
}
#u4539 {
  position:absolute;
  left:941px;
  top:232px;
  width:49px;
  height:400px;
}
#u4540 {
  position:absolute;
  left:2px;
  top:192px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:71px;
}
#u4541 {
  position:absolute;
  left:941px;
  top:579px;
  width:49px;
  height:71px;
}
#u4542 {
  position:absolute;
  left:2px;
  top:28px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:381px;
}
#u4543 {
  position:absolute;
  left:216px;
  top:233px;
  width:677px;
  height:381px;
}
#u4544 {
  position:absolute;
  left:2px;
  top:183px;
  width:673px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:368px;
}
#u4545 {
  position:absolute;
  left:226px;
  top:238px;
  width:655px;
  height:368px;
}
#u4546 {
  position:absolute;
  left:2px;
  top:176px;
  width:651px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:368px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
}
#u4547 {
  position:absolute;
  left:226px;
  top:238px;
  width:655px;
  height:368px;
  opacity:0.800000011920929;
}
#u4548 {
  position:absolute;
  left:2px;
  top:176px;
  width:651px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u4549 {
  position:absolute;
  left:530px;
  top:398px;
  width:47px;
  height:47px;
}
#u4550 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:67px;
}
#u4551 {
  position:absolute;
  left:42px;
  top:239px;
  width:119px;
  height:67px;
}
#u4552 {
  position:absolute;
  left:2px;
  top:26px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4553_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4553 {
  position:absolute;
  left:512px;
  top:246px;
  width:82px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4554 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u4555 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:22px;
}
#u4556 {
  position:absolute;
  left:232px;
  top:231px;
  width:15px;
  height:22px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u4557 {
  position:absolute;
  left:2px;
  top:3px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u4558 {
  position:absolute;
  left:235px;
  top:221px;
  width:26px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u4559 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  word-wrap:break-word;
}
