body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:26px;
  top:26px;
  width:960px;
  height:600px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:600px;
}
#u1 {
  position:absolute;
  left:2px;
  top:292px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:26px;
  top:26px;
  width:130px;
  height:600px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:600px;
}
#u3 {
  position:absolute;
  left:2px;
  top:292px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:26px;
  top:26px;
  width:130px;
  height:60px;
  font-size:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:19px;
  width:126px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:257px;
  top:87px;
  width:65px;
  height:16px;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:166px;
  top:41px;
  width:100px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:426px;
  top:87px;
  width:65px;
  height:16px;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:590px;
  top:87px;
  width:65px;
  height:16px;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:832px;
  top:87px;
  width:33px;
  height:16px;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:176px;
  top:88px;
  width:33px;
  height:16px;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:188px;
  top:130px;
  width:8px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:257px;
  top:130px;
  width:67px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:411px;
  top:130px;
  width:105px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:597px;
  top:130px;
  width:51px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:778px;
  top:130px;
  width:158px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:189px;
  top:170px;
  width:8px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:258px;
  top:170px;
  width:54px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:420px;
  top:170px;
  width:79px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:598px;
  top:170px;
  width:51px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:779px;
  top:170px;
  width:158px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:176px;
  top:89px;
  width:780px;
  height:371px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:371px;
}
#u39 {
  position:absolute;
  left:2px;
  top:178px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:195px;
  top:107px;
  width:66px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:276px;
  top:104px;
  width:200px;
  height:25px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u43 {
  position:absolute;
  left:195px;
  top:147px;
  width:66px;
  height:20px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:276px;
  top:147px;
  width:661px;
  height:100px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:100px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u46 {
  position:absolute;
  left:195px;
  top:291px;
  width:92px;
  height:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:297px;
  top:286px;
  width:100px;
  height:30px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:516px;
  top:420px;
  width:100px;
  height:30px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:486px;
  top:108px;
  width:67px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:407px;
  top:293px;
  width:92px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:1020px;
  top:26px;
  width:480px;
  height:600px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:600px;
}
#u57 {
  position:absolute;
  left:2px;
  top:292px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:1040px;
  top:34px;
  width:73px;
  height:28px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:1040px;
  top:72px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u61 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:1080px;
  top:79px;
  width:144px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:1040px;
  top:123px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u65 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:960px;
  top:29px;
  width:20px;
  height:33px;
  font-size:28px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:33px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:563px;
  top:101px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u69 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:1080px;
  top:130px;
  width:282px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:1040px;
  top:182px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u73 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:1080px;
  top:189px;
  width:170px;
  height:16px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:608px;
  top:414px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u77 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:1040px;
  top:233px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u79 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:1081px;
  top:238px;
  width:408px;
  height:32px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:32px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:207px;
  top:332px;
  width:79px;
  height:20px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:296px;
  top:329px;
  width:200px;
  height:22px;
}
#u84_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u84_input:disabled {
  color:grayText;
}
#u85 {
  position:absolute;
  left:218px;
  top:370px;
  width:66px;
  height:20px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:296px;
  top:369px;
  width:200px;
  height:22px;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u87_input:disabled {
  color:grayText;
}
#u88 {
  position:absolute;
  left:506px;
  top:322px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u89 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:1040px;
  top:286px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u91 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:1079px;
  top:293px;
  width:408px;
  height:16px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:506px;
  top:366px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u95 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:1040px;
  top:331px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u97 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:1077px;
  top:338px;
  width:408px;
  height:16px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:16px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  word-wrap:break-word;
}
