body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4254px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:100px;
}
#u2524 {
  position:absolute;
  left:100px;
  top:0px;
  width:1440px;
  height:100px;
  font-size:36px;
  color:#FFFFFF;
}
#u2525 {
  position:absolute;
  left:2px;
  top:29px;
  width:1436px;
  word-wrap:break-word;
}
#u2526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u2526 {
  position:absolute;
  left:100px;
  top:170px;
  width:1440px;
  height:900px;
}
#u2527 {
  position:absolute;
  left:2px;
  top:442px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:98px;
}
#u2528 {
  position:absolute;
  left:558px;
  top:451px;
  width:525px;
  height:98px;
}
#u2529 {
  position:absolute;
  left:2px;
  top:41px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:285px;
}
#u2530 {
  position:absolute;
  left:558px;
  top:564px;
  width:525px;
  height:285px;
}
#u2531 {
  position:absolute;
  left:2px;
  top:135px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u2532 {
  position:absolute;
  left:760px;
  top:391px;
  width:120px;
  height:120px;
}
#u2533 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
}
#u2534 {
  position:absolute;
  left:765px;
  top:396px;
  width:111px;
  height:111px;
}
#u2535 {
  position:absolute;
  left:2px;
  top:48px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
}
#u2536 {
  position:absolute;
  left:751px;
  top:694px;
  width:139px;
  height:24px;
  font-size:20px;
}
#u2537 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u2538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
}
#u2538 {
  position:absolute;
  left:753px;
  top:517px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u2539 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
}
#u2540 {
  position:absolute;
  left:844px;
  top:517px;
  width:72px;
  height:24px;
  font-size:20px;
}
#u2541 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u2542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u2542 {
  position:absolute;
  left:100px;
  top:1130px;
  width:1440px;
  height:900px;
}
#u2543 {
  position:absolute;
  left:2px;
  top:442px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:98px;
}
#u2544 {
  position:absolute;
  left:558px;
  top:1411px;
  width:525px;
  height:98px;
}
#u2545 {
  position:absolute;
  left:2px;
  top:41px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:285px;
}
#u2546 {
  position:absolute;
  left:558px;
  top:1524px;
  width:525px;
  height:285px;
}
#u2547 {
  position:absolute;
  left:2px;
  top:135px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u2548 {
  position:absolute;
  left:760px;
  top:1351px;
  width:120px;
  height:120px;
}
#u2549 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
}
#u2550 {
  position:absolute;
  left:764px;
  top:1356px;
  width:111px;
  height:111px;
}
#u2551 {
  position:absolute;
  left:2px;
  top:48px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
}
#u2552 {
  position:absolute;
  left:710px;
  top:1654px;
  width:221px;
  height:24px;
  font-size:20px;
}
#u2553 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u2554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
}
#u2554 {
  position:absolute;
  left:753px;
  top:1476px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u2555 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
}
#u2556 {
  position:absolute;
  left:844px;
  top:1476px;
  width:72px;
  height:24px;
  font-size:20px;
}
#u2557 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u2558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u2558 {
  position:absolute;
  left:100px;
  top:2080px;
  width:1440px;
  height:900px;
}
#u2559 {
  position:absolute;
  left:2px;
  top:442px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:98px;
}
#u2560 {
  position:absolute;
  left:558px;
  top:2362px;
  width:525px;
  height:98px;
}
#u2561 {
  position:absolute;
  left:2px;
  top:41px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:285px;
}
#u2562 {
  position:absolute;
  left:558px;
  top:2474px;
  width:525px;
  height:285px;
}
#u2563 {
  position:absolute;
  left:2px;
  top:135px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u2564 {
  position:absolute;
  left:760px;
  top:2302px;
  width:120px;
  height:120px;
}
#u2565 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2566_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
}
#u2566 {
  position:absolute;
  left:764px;
  top:2306px;
  width:111px;
  height:111px;
}
#u2567 {
  position:absolute;
  left:2px;
  top:48px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
}
#u2568 {
  position:absolute;
  left:687px;
  top:2604px;
  width:267px;
  height:24px;
  font-size:20px;
}
#u2569 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u2570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
}
#u2570 {
  position:absolute;
  left:752px;
  top:2427px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u2571 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2572_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
}
#u2572 {
  position:absolute;
  left:844px;
  top:2427px;
  width:72px;
  height:24px;
  font-size:20px;
}
#u2573 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u2574_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u2574 {
  position:absolute;
  left:2195px;
  top:1130px;
  width:1440px;
  height:900px;
}
#u2575 {
  position:absolute;
  left:2px;
  top:442px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2576 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2577_img {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:98px;
}
#u2577 {
  position:absolute;
  left:2653px;
  top:1411px;
  width:525px;
  height:98px;
}
#u2578 {
  position:absolute;
  left:2px;
  top:41px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2579_img {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:285px;
}
#u2579 {
  position:absolute;
  left:2653px;
  top:1524px;
  width:525px;
  height:285px;
}
#u2580 {
  position:absolute;
  left:2px;
  top:135px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2581_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u2581 {
  position:absolute;
  left:2856px;
  top:1351px;
  width:120px;
  height:120px;
}
#u2582 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2583_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
}
#u2583 {
  position:absolute;
  left:2860px;
  top:1356px;
  width:111px;
  height:111px;
}
#u2584 {
  position:absolute;
  left:2px;
  top:48px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2585_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  font-size:20px;
}
#u2585 {
  position:absolute;
  left:2835px;
  top:1720px;
  width:161px;
  height:45px;
  font-size:20px;
}
#u2586 {
  position:absolute;
  left:2px;
  top:11px;
  width:157px;
  word-wrap:break-word;
}
#u2587_div {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
}
#u2587 {
  position:absolute;
  left:2680px;
  top:1623px;
  width:472px;
  height:24px;
  font-size:20px;
}
#u2588 {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  white-space:nowrap;
}
#u2589_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
}
#u2589 {
  position:absolute;
  left:2848px;
  top:1478px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u2590 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2591_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
}
#u2591 {
  position:absolute;
  left:2939px;
  top:1478px;
  width:72px;
  height:24px;
  font-size:20px;
}
#u2592 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u2593_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FF0000;
}
#u2593 {
  position:absolute;
  left:1638px;
  top:230px;
  width:500px;
  height:48px;
  font-size:20px;
  color:#FF0000;
}
#u2594 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u2595_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FF0000;
}
#u2595 {
  position:absolute;
  left:3740px;
  top:1206px;
  width:500px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u2596 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u2597_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FF0000;
}
#u2597 {
  position:absolute;
  left:1660px;
  top:1310px;
  width:500px;
  height:48px;
  font-size:20px;
  color:#FF0000;
}
#u2598 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u2599_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FF0000;
}
#u2599 {
  position:absolute;
  left:1660px;
  top:2170px;
  width:500px;
  height:71px;
  font-size:20px;
  color:#FF0000;
}
#u2600 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u2601_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FF0000;
}
#u2601 {
  position:absolute;
  left:1660px;
  top:1206px;
  width:361px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u2602 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u2603 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2604_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2604 {
  position:absolute;
  left:1598px;
  top:1206px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u2605 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FFFFFF;
}
#u2606 {
  position:absolute;
  left:1604px;
  top:1206px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u2607 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u2608 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2609 {
  position:absolute;
  left:1598px;
  top:1310px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u2610 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FFFFFF;
}
#u2611 {
  position:absolute;
  left:1604px;
  top:1310px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u2612 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u2613 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2614 {
  position:absolute;
  left:726px;
  top:1447px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u2615 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FFFFFF;
}
#u2616 {
  position:absolute;
  left:732px;
  top:1447px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u2617 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u2618 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2619 {
  position:absolute;
  left:931px;
  top:1646px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u2620 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FFFFFF;
}
#u2621 {
  position:absolute;
  left:937px;
  top:1646px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u2622 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u2623 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2624 {
  position:absolute;
  left:3691px;
  top:1206px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u2625 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FFFFFF;
}
#u2626 {
  position:absolute;
  left:3697px;
  top:1206px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u2627 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u2628 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2629 {
  position:absolute;
  left:3140px;
  top:1606px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u2630 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FFFFFF;
}
#u2631 {
  position:absolute;
  left:3146px;
  top:1606px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u2632 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u2633 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2634 {
  position:absolute;
  left:1598px;
  top:2170px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u2635 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FFFFFF;
}
#u2636 {
  position:absolute;
  left:1604px;
  top:2170px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u2637 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u2638 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2639 {
  position:absolute;
  left:964px;
  top:2604px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u2640 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FFFFFF;
}
#u2641 {
  position:absolute;
  left:970px;
  top:2604px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u2642 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u2643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FF0000;
}
#u2643 {
  position:absolute;
  left:3753px;
  top:1290px;
  width:501px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u2644 {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  white-space:nowrap;
}
#u2645 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2646 {
  position:absolute;
  left:3691px;
  top:1290px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u2647 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FFFFFF;
}
#u2648 {
  position:absolute;
  left:3697px;
  top:1290px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u2649 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u2650 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2651 {
  position:absolute;
  left:2987px;
  top:1720px;
  width:24px;
  height:24px;
  font-size:20px;
}
#u2652 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FFFFFF;
}
#u2653 {
  position:absolute;
  left:2993px;
  top:1720px;
  width:12px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u2654 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
