body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:923px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:26px;
  top:26px;
  width:376px;
  height:677px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:677px;
}
#u1 {
  position:absolute;
  left:2px;
  top:330px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:412px;
  top:53px;
  width:404px;
  height:471px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:471px;
}
#u3 {
  position:absolute;
  left:2px;
  top:228px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:429px;
  top:65px;
  width:73px;
  height:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:51px;
  top:27px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:429px;
  top:103px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:469px;
  top:110px;
  width:453px;
  height:22px;
  font-size:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:22px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:429px;
  top:154px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:469px;
  top:158px;
  width:347px;
  height:44px;
  font-size:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:44px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:250px;
  top:666px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:26px;
  top:652px;
  width:376px;
  height:51px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:51px;
}
#u19 {
  position:absolute;
  left:2px;
  top:18px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:429px;
  top:220px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:26px;
  top:480px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:470px;
  top:223px;
  width:453px;
  height:22px;
  font-size:18px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:22px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:26px;
  top:25px;
  width:376px;
  height:35px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:35px;
}
#u27 {
  position:absolute;
  left:2px;
  top:10px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:34px;
  top:34px;
  width:40px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:188px;
  top:33px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:0px;
  top:10px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
