body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:970px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:784px;
}
#u1079 {
  position:absolute;
  left:3px;
  top:0px;
  width:750px;
  height:784px;
}
#u1080 {
  position:absolute;
  left:2px;
  top:384px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:600px;
}
#u1081 {
  position:absolute;
  left:10px;
  top:794px;
  width:960px;
  height:600px;
}
#u1082 {
  position:absolute;
  left:2px;
  top:292px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:600px;
}
#u1083 {
  position:absolute;
  left:10px;
  top:1420px;
  width:960px;
  height:600px;
}
#u1084 {
  position:absolute;
  left:2px;
  top:292px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:600px;
}
#u1085 {
  position:absolute;
  left:10px;
  top:2040px;
  width:960px;
  height:600px;
}
#u1086 {
  position:absolute;
  left:2px;
  top:292px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:600px;
}
#u1087 {
  position:absolute;
  left:10px;
  top:2660px;
  width:960px;
  height:600px;
}
#u1088 {
  position:absolute;
  left:2px;
  top:292px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
