body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:26px;
  top:26px;
  width:374px;
  height:667px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:667px;
}
#u2 {
  position:absolute;
  left:2px;
  top:326px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:28px;
  top:29px;
  width:370px;
  height:12px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:12px;
}
#u4 {
  position:absolute;
  left:2px;
  top:-2px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:26px;
  top:41px;
  width:374px;
  height:35px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:35px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:370px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:33px;
  top:50px;
  width:27px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:31px;
  top:160px;
  width:365px;
  height:40px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:40px;
  top:172px;
  width:27px;
  height:16px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:31px;
  top:197px;
  width:365px;
  height:40px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:40px;
  top:209px;
  width:27px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:31px;
  top:236px;
  width:365px;
  height:40px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:40px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:40px;
  top:248px;
  width:53px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:339px;
  top:164px;
  width:51px;
  height:34px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:34px;
}
#u22 {
  position:absolute;
  left:2px;
  top:9px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:340px;
  top:201px;
  width:51px;
  height:34px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:34px;
}
#u24 {
  position:absolute;
  left:2px;
  top:9px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:35px;
  top:281px;
  width:313px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:31px;
  top:86px;
  width:365px;
  height:40px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:40px;
  top:98px;
  width:79px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:348px;
  top:98px;
  width:40px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:374px;
  top:245px;
  width:13px;
  height:24px;
  font-size:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:32px;
  top:134px;
  width:91px;
  height:22px;
  font-size:18px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:32px;
  top:314px;
  width:365px;
  height:40px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:40px;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:41px;
  top:326px;
  width:79px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:341px;
  top:318px;
  width:51px;
  height:34px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:34px;
}
#u42 {
  position:absolute;
  left:2px;
  top:9px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:32px;
  top:360px;
  width:365px;
  height:32px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:32px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  word-wrap:break-word;
}
