body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:400px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u312 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:400px;
}
#u313 {
  position:absolute;
  left:2px;
  top:192px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u314 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u315 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u316 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u317 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u318 {
  position:absolute;
  left:268px;
  top:8px;
  width:27px;
  height:16px;
}
#u319 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
}
#u320 {
  position:absolute;
  left:0px;
  top:30px;
  width:300px;
  height:150px;
}
#u321 {
  position:absolute;
  left:2px;
  top:67px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
