body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:924px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:26px;
  top:26px;
  width:374px;
  height:667px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:667px;
}
#u2 {
  position:absolute;
  left:2px;
  top:326px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:28px;
  top:29px;
  width:370px;
  height:12px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:12px;
}
#u4 {
  position:absolute;
  left:2px;
  top:-2px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:26px;
  top:41px;
  width:374px;
  height:39px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:39px;
}
#u6 {
  position:absolute;
  left:2px;
  top:12px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:37px;
  top:52px;
  width:27px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:192px;
  top:48px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:34px;
  top:86px;
  width:36px;
  height:36px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:80px;
  top:86px;
  width:92px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:81px;
  top:129px;
  width:66px;
  height:16px;
  color:#797979;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:70px;
  top:145px;
  width:320px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u18 {
  position:absolute;
  left:340px;
  top:86px;
  width:50px;
  height:50px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u19 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:80px;
  top:106px;
  width:53px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:550px;
  top:26px;
  width:374px;
  height:667px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:667px;
}
#u24 {
  position:absolute;
  left:2px;
  top:326px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:552px;
  top:29px;
  width:370px;
  height:12px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:12px;
}
#u26 {
  position:absolute;
  left:2px;
  top:-2px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:550px;
  top:42px;
  width:374px;
  height:34px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:34px;
}
#u28 {
  position:absolute;
  left:2px;
  top:9px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:560px;
  top:51px;
  width:27px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:712px;
  top:48px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:879px;
  top:47px;
  width:40px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:560px;
  top:131px;
  width:359px;
  height:32px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:32px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:560px;
  top:169px;
  width:170px;
  height:170px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u38 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:740px;
  top:169px;
  width:170px;
  height:170px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u40 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:561px;
  top:346px;
  width:14px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:610px;
  top:346px;
  width:27px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:550px;
  top:372px;
  width:374px;
  height:34px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:34px;
}
#u46 {
  position:absolute;
  left:2px;
  top:9px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:561px;
  top:381px;
  width:27px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:605px;
  top:381px;
  width:27px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:561px;
  top:398px;
  width:27px;
  height:3px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:3px;
}
#u52 {
  position:absolute;
  left:2px;
  top:-6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:561px;
  top:83px;
  width:36px;
  height:36px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u54 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:607px;
  top:93px;
  width:53px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:550px;
  top:119px;
  width:374px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:357px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:374px;
  height:1px;
}
#u58 {
  position:absolute;
  left:850px;
  top:86px;
  width:69px;
  height:30px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
}
#u59 {
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:559px;
  top:412px;
  width:36px;
  height:36px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u61 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:605px;
  top:412px;
  width:36px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:595px;
  top:453px;
  width:320px;
  height:10px;
}
#u64_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u65 {
  position:absolute;
  left:605px;
  top:432px;
  width:53px;
  height:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:860px;
  top:412px;
  width:56px;
  height:14px;
  font-size:11px;
  color:#797979;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:14px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:550px;
  top:647px;
  width:300px;
  height:46px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:46px;
}
#u70 {
  position:absolute;
  left:2px;
  top:15px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:849px;
  top:647px;
  width:75px;
  height:46px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:46px;
}
#u72 {
  position:absolute;
  left:2px;
  top:15px;
  width:71px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:410px;
  top:113px;
  width:130px;
  height:560px;
}
#u73_seg0 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:20px;
  height:14px;
}
#u73_seg1 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:50px;
  height:20px;
}
#u73_seg2 {
  position:absolute;
  left:20px;
  top:-10px;
  width:20px;
  height:580px;
}
#u73_seg3 {
  position:absolute;
  left:20px;
  top:550px;
  width:114px;
  height:20px;
}
#u74 {
  position:absolute;
  left:-20px;
  top:307px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:558px;
  top:662px;
  width:79px;
  height:16px;
  color:#D7D7D7;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:26px;
  top:744px;
  width:707px;
  height:30px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:7px;
  width:703px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:26px;
  top:773px;
  width:712px;
  height:135px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  text-align:center;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u81 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:60px;
  top:0px;
  width:152px;
  height:30px;
  text-align:center;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u83 {
  position:absolute;
  left:2px;
  top:7px;
  width:148px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:212px;
  top:0px;
  width:145px;
  height:30px;
  text-align:center;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u85 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:357px;
  top:0px;
  width:350px;
  height:30px;
  text-align:center;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:30px;
}
#u87 {
  position:absolute;
  left:2px;
  top:7px;
  width:346px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:0px;
  top:30px;
  width:60px;
  height:100px;
  text-align:center;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:100px;
}
#u89 {
  position:absolute;
  left:2px;
  top:42px;
  width:56px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:60px;
  top:30px;
  width:152px;
  height:100px;
  text-align:center;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:100px;
}
#u91 {
  position:absolute;
  left:2px;
  top:42px;
  width:148px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:212px;
  top:30px;
  width:145px;
  height:100px;
  text-align:center;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:100px;
}
#u93 {
  position:absolute;
  left:2px;
  top:42px;
  width:141px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:357px;
  top:30px;
  width:350px;
  height:100px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:100px;
}
#u95 {
  position:absolute;
  left:2px;
  top:10px;
  width:346px;
  word-wrap:break-word;
}
