body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1625px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1624px;
  height:798px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:1624px;
  height:798px;
}
#u52 {
  position:absolute;
  left:2px;
  top:391px;
  width:1620px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1626px;
  height:603px;
}
#u53 {
  position:absolute;
  left:0px;
  top:795px;
  width:1626px;
  height:603px;
}
#u54 {
  position:absolute;
  left:2px;
  top:294px;
  width:1622px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1625px;
  height:579px;
}
#u55 {
  position:absolute;
  left:0px;
  top:1395px;
  width:1625px;
  height:579px;
}
#u56 {
  position:absolute;
  left:2px;
  top:282px;
  width:1621px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1626px;
  height:459px;
}
#u57 {
  position:absolute;
  left:0px;
  top:1971px;
  width:1626px;
  height:459px;
}
#u58 {
  position:absolute;
  left:2px;
  top:222px;
  width:1622px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1625px;
  height:197px;
}
#u59 {
  position:absolute;
  left:-1px;
  top:2428px;
  width:1625px;
  height:197px;
}
#u60 {
  position:absolute;
  left:2px;
  top:91px;
  width:1621px;
  visibility:hidden;
  word-wrap:break-word;
}
