body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1213px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:801px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:801px;
}
#u202 {
  position:absolute;
  left:2px;
  top:393px;
  width:551px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1165px;
  height:748px;
}
#u203 {
  position:absolute;
  left:0px;
  top:852px;
  width:1165px;
  height:748px;
}
#u204 {
  position:absolute;
  left:2px;
  top:366px;
  width:1161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1108px;
  height:797px;
}
#u205 {
  position:absolute;
  left:22px;
  top:1613px;
  width:1108px;
  height:797px;
}
#u206 {
  position:absolute;
  left:2px;
  top:391px;
  width:1104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:789px;
}
#u207 {
  position:absolute;
  left:0px;
  top:2420px;
  width:556px;
  height:789px;
}
#u208 {
  position:absolute;
  left:2px;
  top:387px;
  width:552px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1095px;
  height:814px;
}
#u209 {
  position:absolute;
  left:0px;
  top:3209px;
  width:1095px;
  height:814px;
}
#u210 {
  position:absolute;
  left:2px;
  top:399px;
  width:1091px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:718px;
}
#u211 {
  position:absolute;
  left:0px;
  top:4072px;
  width:595px;
  height:718px;
}
#u212 {
  position:absolute;
  left:2px;
  top:351px;
  width:591px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:617px;
}
#u213 {
  position:absolute;
  left:620px;
  top:0px;
  width:593px;
  height:617px;
}
#u214 {
  position:absolute;
  left:2px;
  top:301px;
  width:589px;
  visibility:hidden;
  word-wrap:break-word;
}
