body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1853px;
  height:902px;
}
#u2223 {
  position:absolute;
  left:0px;
  top:0px;
  width:1853px;
  height:902px;
}
#u2224 {
  position:absolute;
  left:2px;
  top:443px;
  width:1849px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
}
#u2225 {
  position:absolute;
  left:663px;
  top:79px;
  width:26px;
  height:26px;
}
#u2226 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  word-wrap:break-word;
}
#u2227p000 {
  position:absolute;
  left:687px;
  top:91px;
  width:1185px;
  height:3px;
}
#u2227p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1185px;
  height:3px;
}
#u2227 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2228 {
  position:absolute;
  left:691px;
  top:84px;
  width:1177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:902px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:14px;
}
#u2229 {
  position:absolute;
  left:1910px;
  top:0px;
  width:420px;
  height:902px;
}
#u2230 {
  position:absolute;
  left:2px;
  top:443px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  color:#FF0000;
}
#u2231 {
  position:absolute;
  left:1872px;
  top:77px;
  width:30px;
  height:30px;
  color:#FF0000;
}
#u2232 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2233 {
  position:absolute;
  left:1930px;
  top:20px;
  width:390px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2234 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
#u2235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
}
#u2235 {
  position:absolute;
  left:480px;
  top:360px;
  width:780px;
  height:310px;
}
#u2236 {
  position:absolute;
  left:2px;
  top:147px;
  width:776px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2237 {
  position:absolute;
  left:489px;
  top:370px;
  width:761px;
  height:230px;
}
#u2237_input {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:230px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  font-size:20px;
}
#u2238 {
  position:absolute;
  left:751px;
  top:614px;
  width:240px;
  height:40px;
  font-size:20px;
}
#u2239 {
  position:absolute;
  left:2px;
  top:8px;
  width:236px;
  word-wrap:break-word;
}
#u2240p000 {
  position:absolute;
  left:1259px;
  top:474px;
  width:613px;
  height:3px;
}
#u2240p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:3px;
}
#u2240 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2241 {
  position:absolute;
  left:1262px;
  top:467px;
  width:606px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  color:#FF0000;
}
#u2242 {
  position:absolute;
  left:1870px;
  top:460px;
  width:30px;
  height:30px;
  color:#FF0000;
}
#u2243 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2244 {
  position:absolute;
  left:1930px;
  top:100px;
  width:390px;
  height:72px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2245 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
#u2246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:13px;
}
#u2246 {
  position:absolute;
  left:663px;
  top:115px;
  width:26px;
  height:26px;
}
#u2247 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  word-wrap:break-word;
}
#u2248p000 {
  position:absolute;
  left:687px;
  top:127px;
  width:1185px;
  height:3px;
}
#u2248p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1185px;
  height:3px;
}
#u2248 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2249 {
  position:absolute;
  left:691px;
  top:120px;
  width:1177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:15px;
  color:#FF0000;
}
#u2250 {
  position:absolute;
  left:1872px;
  top:114px;
  width:30px;
  height:30px;
  color:#FF0000;
}
#u2251 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u2252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2252 {
  position:absolute;
  left:1930px;
  top:218px;
  width:390px;
  height:72px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2253 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
#u2254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:164px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
}
#u2254 {
  position:absolute;
  left:1930px;
  top:300px;
  width:390px;
  height:164px;
}
#u2255 {
  position:absolute;
  left:2px;
  top:74px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2256 {
  position:absolute;
  left:1934px;
  top:305px;
  width:380px;
  height:122px;
}
#u2256_input {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:122px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  font-size:20px;
}
#u2257 {
  position:absolute;
  left:2065px;
  top:434px;
  width:120px;
  height:21px;
  font-size:20px;
}
#u2258 {
  position:absolute;
  left:2px;
  top:-2px;
  width:116px;
  word-wrap:break-word;
}
#u2259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2259 {
  position:absolute;
  left:1930px;
  top:488px;
  width:390px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2260 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  word-wrap:break-word;
}
