body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:840px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:27px;
  top:81px;
  width:377px;
  height:64px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:64px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:26px;
  top:26px;
  width:377px;
  height:52px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:52px;
}
#u3 {
  position:absolute;
  left:2px;
  top:18px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:33px;
  top:33px;
  width:36px;
  height:36px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:79px;
  top:33px;
  width:40px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:79px;
  top:55px;
  width:27px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:327px;
  top:37px;
  width:66px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:26px;
  top:149px;
  width:65px;
  height:16px;
  color:#C9C9C9;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:26px;
  top:173px;
  width:120px;
  height:120px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u15 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:155px;
  top:173px;
  width:120px;
  height:120px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u17 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:284px;
  top:173px;
  width:120px;
  height:120px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u19 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:430px;
  top:26px;
  width:410px;
  height:154px;
  font-size:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:154px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
