body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:419px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:26px;
  top:26px;
  width:393px;
  height:697px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:697px;
}
#u1 {
  position:absolute;
  left:2px;
  top:340px;
  width:389px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:26px;
  top:286px;
  width:392px;
  height:70px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:70px;
}
#u3 {
  position:absolute;
  left:2px;
  top:27px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:45px;
  top:305px;
  width:36px;
  height:36px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:89px;
  top:315px;
  width:53px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
