body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1230px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u269 {
  position:absolute;
  left:10px;
  top:8px;
  width:533px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u270 {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  white-space:nowrap;
}
#u271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u271 {
  position:absolute;
  left:10px;
  top:48px;
  width:227px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u272 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  white-space:nowrap;
}
#u273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:720px;
}
#u273 {
  position:absolute;
  left:10px;
  top:120px;
  width:1210px;
  height:720px;
}
#u274 {
  position:absolute;
  left:2px;
  top:352px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:18px;
}
#u275 {
  position:absolute;
  left:37px;
  top:81px;
  width:646px;
  height:22px;
  font-size:18px;
}
#u276 {
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  white-space:nowrap;
}
#u277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:730px;
}
#u277 {
  position:absolute;
  left:10px;
  top:860px;
  width:1220px;
  height:730px;
}
#u278 {
  position:absolute;
  left:2px;
  top:357px;
  width:1216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u279 {
  position:absolute;
  left:162px;
  top:1190px;
  width:83px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u280 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u281 {
  position:absolute;
  left:593px;
  top:1196px;
  width:72px;
  height:16px;
}
#u282 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u283 {
  position:absolute;
  left:747px;
  top:1194px;
  width:29px;
  height:16px;
}
#u284 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1186px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:18px;
}
#u285 {
  position:absolute;
  left:10px;
  top:1600px;
  width:1186px;
  height:22px;
  font-size:18px;
}
#u286 {
  position:absolute;
  left:0px;
  top:0px;
  width:1186px;
  white-space:nowrap;
}
