body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:820px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:152px;
  top:8px;
  width:113px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#0099CC;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:26px;
  top:48px;
  width:376px;
  height:677px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:677px;
}
#u3 {
  position:absolute;
  left:2px;
  top:330px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:26px;
  top:48px;
  width:376px;
  height:34px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:34px;
}
#u5 {
  position:absolute;
  left:2px;
  top:9px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:37px;
  top:57px;
  width:27px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:368px;
  top:57px;
  width:27px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:26px;
  top:81px;
  width:376px;
  height:199px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:199px;
}
#u11 {
  position:absolute;
  left:2px;
  top:92px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:89px;
  top:88px;
  width:105px;
  height:16px;
  color:#C9C9C9;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:26px;
  top:670px;
  width:376px;
  height:55px;
  font-size:28px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:55px;
}
#u15 {
  position:absolute;
  left:2px;
  top:11px;
  width:372px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:32px;
  top:88px;
  width:54px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:410px;
  top:80px;
  width:410px;
  height:220px;
  font-size:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:220px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:37px;
  top:290px;
  width:80px;
  height:80px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u21 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:131px;
  top:290px;
  width:80px;
  height:80px;
  font-size:48px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:76px;
  word-wrap:break-word;
}
