body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1650px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:600px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:11px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:600px;
}
#u86 {
  position:absolute;
  left:2px;
  top:292px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:97px;
}
#u87 {
  position:absolute;
  left:218px;
  top:116px;
  width:525px;
  height:97px;
  font-size:20px;
}
#u88 {
  position:absolute;
  left:2px;
  top:41px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:285px;
}
#u89 {
  position:absolute;
  left:218px;
  top:228px;
  width:525px;
  height:285px;
  font-size:20px;
}
#u90 {
  position:absolute;
  left:2px;
  top:135px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:20px;
}
#u91 {
  position:absolute;
  left:285px;
  top:341px;
  width:390px;
  height:45px;
  font-size:20px;
}
#u92 {
  position:absolute;
  left:2px;
  top:15px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:20px;
}
#u93 {
  position:absolute;
  left:285px;
  top:273px;
  width:390px;
  height:45px;
  font-size:20px;
}
#u94 {
  position:absolute;
  left:2px;
  top:15px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  font-size:20px;
}
#u95 {
  position:absolute;
  left:399px;
  top:446px;
  width:162px;
  height:45px;
  font-size:20px;
}
#u96 {
  position:absolute;
  left:2px;
  top:11px;
  width:158px;
  word-wrap:break-word;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:20px;
}
#u97 {
  position:absolute;
  left:285px;
  top:406px;
  width:15px;
  height:15px;
  font-size:20px;
}
#u98 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:16px;
}
#u99 {
  position:absolute;
  left:306px;
  top:404px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:16px;
}
#u101 {
  position:absolute;
  left:613px;
  top:404px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:56px;
  font-size:28px;
}
#u103 {
  position:absolute;
  left:425px;
  top:60px;
  width:111px;
  height:111px;
  font-size:28px;
}
#u104 {
  position:absolute;
  left:2px;
  top:39px;
  width:107px;
  word-wrap:break-word;
}
#u105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:16px;
  color:#CCCCCC;
}
#u105 {
  position:absolute;
  left:300px;
  top:352px;
  width:81px;
  height:25px;
  font-size:16px;
  color:#CCCCCC;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:6px;
  font-size:16px;
  color:#CCCCCC;
}
#u107 {
  position:absolute;
  left:300px;
  top:284px;
  width:97px;
  height:24px;
  font-size:16px;
  color:#CCCCCC;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u109 {
  position:absolute;
  left:980px;
  top:10px;
  width:410px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u111 {
  position:absolute;
  left:1120px;
  top:78px;
  width:145px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u113 {
  position:absolute;
  left:1143px;
  top:120px;
  width:100px;
  height:60px;
}
#u114 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u115 {
  position:absolute;
  left:1143px;
  top:220px;
  width:100px;
  height:60px;
}
#u116 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u117 {
  position:absolute;
  left:1143px;
  top:330px;
  width:100px;
  height:60px;
}
#u118 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u119 {
  position:absolute;
  left:1060px;
  top:440px;
  width:100px;
  height:60px;
}
#u120 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u121 {
  position:absolute;
  left:1250px;
  top:440px;
  width:100px;
  height:60px;
}
#u122 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:1193px;
  top:180px;
  width:0px;
  height:40px;
}
#u123_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:54px;
}
#u124 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:1193px;
  top:280px;
  width:0px;
  height:50px;
}
#u125_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u126 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:1143px;
  top:360px;
  width:-33px;
  height:80px;
}
#u127_seg0 {
  position:absolute;
  left:-43px;
  top:-10px;
  width:47px;
  height:20px;
}
#u127_seg1 {
  position:absolute;
  left:-43px;
  top:-10px;
  width:20px;
  height:94px;
}
#u128 {
  position:absolute;
  left:-83px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:1243px;
  top:360px;
  width:57px;
  height:80px;
}
#u129_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:71px;
  height:20px;
}
#u129_seg1 {
  position:absolute;
  left:47px;
  top:-10px;
  width:20px;
  height:94px;
}
#u130 {
  position:absolute;
  left:7px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u131 {
  position:absolute;
  left:990px;
  top:514px;
  width:197px;
  height:16px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u133 {
  position:absolute;
  left:1215px;
  top:514px;
  width:155px;
  height:16px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u135 {
  position:absolute;
  left:990px;
  top:540px;
  width:200px;
  height:32px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u137 {
  position:absolute;
  left:1210px;
  top:540px;
  width:200px;
  height:32px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#FF0000;
}
#u139 {
  position:absolute;
  left:1144px;
  top:582px;
  width:99px;
  height:16px;
  color:#FF0000;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u141 {
  position:absolute;
  left:980px;
  top:620px;
  width:670px;
  height:88px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  white-space:nowrap;
}
#u144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:600px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:11px;
}
#u144 {
  position:absolute;
  left:0px;
  top:620px;
  width:960px;
  height:600px;
}
#u145 {
  position:absolute;
  left:2px;
  top:292px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:97px;
}
#u146 {
  position:absolute;
  left:218px;
  top:736px;
  width:525px;
  height:97px;
  font-size:20px;
}
#u147 {
  position:absolute;
  left:2px;
  top:41px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:285px;
}
#u148 {
  position:absolute;
  left:218px;
  top:848px;
  width:525px;
  height:285px;
  font-size:20px;
}
#u149 {
  position:absolute;
  left:2px;
  top:135px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:20px;
}
#u150 {
  position:absolute;
  left:285px;
  top:961px;
  width:390px;
  height:45px;
  font-size:20px;
}
#u151 {
  position:absolute;
  left:2px;
  top:15px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:20px;
}
#u152 {
  position:absolute;
  left:285px;
  top:893px;
  width:390px;
  height:45px;
  font-size:20px;
}
#u153 {
  position:absolute;
  left:2px;
  top:15px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  font-size:20px;
}
#u154 {
  position:absolute;
  left:399px;
  top:1066px;
  width:162px;
  height:45px;
  font-size:20px;
}
#u155 {
  position:absolute;
  left:2px;
  top:11px;
  width:158px;
  word-wrap:break-word;
}
#u156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:20px;
}
#u156 {
  position:absolute;
  left:285px;
  top:1026px;
  width:15px;
  height:15px;
  font-size:20px;
}
#u157 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:16px;
}
#u158 {
  position:absolute;
  left:306px;
  top:1024px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:16px;
}
#u160 {
  position:absolute;
  left:613px;
  top:1024px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:56px;
  font-size:28px;
}
#u162 {
  position:absolute;
  left:425px;
  top:680px;
  width:111px;
  height:111px;
  font-size:28px;
}
#u163 {
  position:absolute;
  left:2px;
  top:39px;
  width:107px;
  word-wrap:break-word;
}
#u164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:16px;
  color:#CCCCCC;
}
#u164 {
  position:absolute;
  left:300px;
  top:972px;
  width:81px;
  height:25px;
  font-size:16px;
  color:#CCCCCC;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:6px;
  font-size:16px;
  color:#CCCCCC;
}
#u166 {
  position:absolute;
  left:300px;
  top:904px;
  width:97px;
  height:24px;
  font-size:16px;
  color:#CCCCCC;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:18px;
  color:#FF0000;
}
#u168 {
  position:absolute;
  left:300px;
  top:904px;
  width:63px;
  height:26px;
  font-size:18px;
  color:#FF0000;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:18px;
  color:#FF0000;
}
#u170 {
  position:absolute;
  left:300px;
  top:974px;
  width:43px;
  height:26px;
  font-size:18px;
  color:#FF0000;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:600px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:11px;
}
#u173 {
  position:absolute;
  left:0px;
  top:1240px;
  width:960px;
  height:600px;
}
#u174 {
  position:absolute;
  left:2px;
  top:292px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:97px;
}
#u175 {
  position:absolute;
  left:218px;
  top:1356px;
  width:525px;
  height:97px;
  font-size:20px;
}
#u176 {
  position:absolute;
  left:2px;
  top:41px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:285px;
}
#u177 {
  position:absolute;
  left:218px;
  top:1468px;
  width:525px;
  height:285px;
  font-size:20px;
}
#u178 {
  position:absolute;
  left:2px;
  top:135px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:20px;
}
#u179 {
  position:absolute;
  left:285px;
  top:1581px;
  width:390px;
  height:45px;
  font-size:20px;
}
#u180 {
  position:absolute;
  left:2px;
  top:15px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:20px;
}
#u181 {
  position:absolute;
  left:285px;
  top:1513px;
  width:390px;
  height:45px;
  font-size:20px;
}
#u182 {
  position:absolute;
  left:2px;
  top:15px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  font-size:20px;
}
#u183 {
  position:absolute;
  left:399px;
  top:1686px;
  width:162px;
  height:45px;
  font-size:20px;
}
#u184 {
  position:absolute;
  left:2px;
  top:11px;
  width:158px;
  word-wrap:break-word;
}
#u185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:20px;
}
#u185 {
  position:absolute;
  left:285px;
  top:1646px;
  width:15px;
  height:15px;
  font-size:20px;
}
#u186 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:16px;
}
#u187 {
  position:absolute;
  left:306px;
  top:1644px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:16px;
}
#u189 {
  position:absolute;
  left:613px;
  top:1644px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:56px;
  font-size:28px;
}
#u191 {
  position:absolute;
  left:425px;
  top:1300px;
  width:111px;
  height:111px;
  font-size:28px;
}
#u192 {
  position:absolute;
  left:2px;
  top:39px;
  width:107px;
  word-wrap:break-word;
}
#u193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:16px;
  color:#CCCCCC;
}
#u193 {
  position:absolute;
  left:300px;
  top:1592px;
  width:81px;
  height:25px;
  font-size:16px;
  color:#CCCCCC;
}
#u194 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:6px;
  font-size:16px;
  color:#CCCCCC;
}
#u195 {
  position:absolute;
  left:300px;
  top:1524px;
  width:97px;
  height:24px;
  font-size:16px;
  color:#CCCCCC;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u197 {
  position:absolute;
  left:980px;
  top:1240px;
  width:416px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  white-space:nowrap;
}
#u199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u199 {
  position:absolute;
  left:281px;
  top:1644px;
  width:20px;
  height:20px;
}
#u200 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:600px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
}
#u202 {
  position:absolute;
  left:0px;
  top:1860px;
  width:960px;
  height:600px;
}
#u203 {
  position:absolute;
  left:2px;
  top:292px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:380px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:7px;
}
#u204 {
  position:absolute;
  left:230px;
  top:1970px;
  width:500px;
  height:380px;
}
#u205 {
  position:absolute;
  left:2px;
  top:182px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u206 {
  position:absolute;
  left:220px;
  top:1960px;
  width:30px;
  height:30px;
}
#u207 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208p000 {
  position:absolute;
  left:269px;
  top:2019px;
  width:433px;
  height:3px;
}
#u208p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:3px;
}
#u208 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u209 {
  position:absolute;
  left:272px;
  top:2012px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
}
#u210 {
  position:absolute;
  left:390px;
  top:2011px;
  width:20px;
  height:20px;
}
#u211 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
}
#u212 {
  position:absolute;
  left:550px;
  top:2011px;
  width:20px;
  height:20px;
}
#u213 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u214 {
  position:absolute;
  left:372px;
  top:2040px;
  width:57px;
  height:16px;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u216 {
  position:absolute;
  left:532px;
  top:2041px;
  width:57px;
  height:16px;
}
#u217 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u218 {
  position:absolute;
  left:310px;
  top:2100px;
  width:360px;
  height:50px;
}
#u218_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#A1A1A1;
}
#u219 {
  position:absolute;
  left:323px;
  top:2117px;
  width:197px;
  height:16px;
  color:#A1A1A1;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
}
#u221 {
  position:absolute;
  left:390px;
  top:2260px;
  width:199px;
  height:40px;
}
#u222 {
  position:absolute;
  left:2px;
  top:12px;
  width:195px;
  word-wrap:break-word;
}
#u223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u223 {
  position:absolute;
  left:980px;
  top:1860px;
  width:451px;
  height:132px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u224 {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  white-space:nowrap;
}
#u226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:600px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
}
#u226 {
  position:absolute;
  left:0px;
  top:2490px;
  width:960px;
  height:600px;
}
#u227 {
  position:absolute;
  left:2px;
  top:292px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:380px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:7px;
}
#u228 {
  position:absolute;
  left:235px;
  top:2590px;
  width:500px;
  height:380px;
}
#u229 {
  position:absolute;
  left:2px;
  top:182px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u230 {
  position:absolute;
  left:225px;
  top:2580px;
  width:30px;
  height:30px;
}
#u231 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232p000 {
  position:absolute;
  left:273px;
  top:2639px;
  width:435px;
  height:3px;
}
#u232p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:3px;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u233 {
  position:absolute;
  left:277px;
  top:2632px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
}
#u234 {
  position:absolute;
  left:395px;
  top:2631px;
  width:20px;
  height:20px;
}
#u235 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
}
#u236 {
  position:absolute;
  left:555px;
  top:2631px;
  width:20px;
  height:20px;
}
#u237 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u238 {
  position:absolute;
  left:377px;
  top:2660px;
  width:57px;
  height:16px;
}
#u239 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u240 {
  position:absolute;
  left:537px;
  top:2661px;
  width:57px;
  height:16px;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u242 {
  position:absolute;
  left:281px;
  top:2720px;
  width:295px;
  height:16px;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
}
#u244 {
  position:absolute;
  left:346px;
  top:2760px;
  width:288px;
  height:40px;
}
#u245 {
  position:absolute;
  left:2px;
  top:12px;
  width:284px;
  word-wrap:break-word;
}
#u246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u246 {
  position:absolute;
  left:281px;
  top:2824px;
  width:399px;
  height:32px;
}
#u247 {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  word-wrap:break-word;
}
#u248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
}
#u248 {
  position:absolute;
  left:346px;
  top:2880px;
  width:288px;
  height:40px;
}
#u249 {
  position:absolute;
  left:2px;
  top:12px;
  width:284px;
  word-wrap:break-word;
}
#u251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:600px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:11px;
}
#u251 {
  position:absolute;
  left:0px;
  top:3110px;
  width:960px;
  height:600px;
}
#u252 {
  position:absolute;
  left:2px;
  top:292px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:97px;
}
#u253 {
  position:absolute;
  left:218px;
  top:3226px;
  width:525px;
  height:97px;
  font-size:20px;
}
#u254 {
  position:absolute;
  left:2px;
  top:41px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:285px;
}
#u255 {
  position:absolute;
  left:218px;
  top:3338px;
  width:525px;
  height:285px;
  font-size:20px;
}
#u256 {
  position:absolute;
  left:2px;
  top:135px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:20px;
}
#u257 {
  position:absolute;
  left:285px;
  top:3451px;
  width:390px;
  height:45px;
  font-size:20px;
}
#u258 {
  position:absolute;
  left:2px;
  top:15px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:20px;
}
#u259 {
  position:absolute;
  left:285px;
  top:3383px;
  width:390px;
  height:45px;
  font-size:20px;
}
#u260 {
  position:absolute;
  left:2px;
  top:15px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  font-size:20px;
}
#u261 {
  position:absolute;
  left:399px;
  top:3556px;
  width:162px;
  height:45px;
  font-size:20px;
}
#u262 {
  position:absolute;
  left:2px;
  top:11px;
  width:158px;
  word-wrap:break-word;
}
#u263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:20px;
}
#u263 {
  position:absolute;
  left:285px;
  top:3516px;
  width:15px;
  height:15px;
  font-size:20px;
}
#u264 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:16px;
}
#u265 {
  position:absolute;
  left:306px;
  top:3514px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u266 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:16px;
}
#u267 {
  position:absolute;
  left:613px;
  top:3514px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u268 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:56px;
  font-size:28px;
}
#u269 {
  position:absolute;
  left:425px;
  top:3170px;
  width:111px;
  height:111px;
  font-size:28px;
}
#u270 {
  position:absolute;
  left:2px;
  top:39px;
  width:107px;
  word-wrap:break-word;
}
#u271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:16px;
  color:#CCCCCC;
}
#u271 {
  position:absolute;
  left:300px;
  top:3462px;
  width:81px;
  height:25px;
  font-size:16px;
  color:#CCCCCC;
}
#u272 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:6px;
  font-size:16px;
  color:#CCCCCC;
}
#u273 {
  position:absolute;
  left:300px;
  top:3394px;
  width:97px;
  height:24px;
  font-size:16px;
  color:#CCCCCC;
}
#u274 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u275 {
  position:absolute;
  left:281px;
  top:3390px;
  width:399px;
  height:80px;
}
#u276 {
  position:absolute;
  left:2px;
  top:32px;
  width:395px;
  word-wrap:break-word;
}
#u277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u277 {
  position:absolute;
  left:990px;
  top:3110px;
  width:406px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u278 {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  word-wrap:break-word;
}
