body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u1237 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
}
#u1238 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:80px;
}
#u1239 {
  position:absolute;
  left:779px;
  top:205px;
  width:194px;
  height:80px;
}
#u1240 {
  position:absolute;
  left:2px;
  top:32px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:9px;
  color:#FFFFFF;
}
#u1241 {
  position:absolute;
  left:761px;
  top:201px;
  width:18px;
  height:18px;
  color:#FFFFFF;
}
#u1242 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  word-wrap:break-word;
}
#u1243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:9px;
  color:#FFFFFF;
}
#u1243 {
  position:absolute;
  left:1034px;
  top:205px;
  width:18px;
  height:18px;
  color:#FFFFFF;
}
#u1244 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  word-wrap:break-word;
}
#u1245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1245 {
  position:absolute;
  left:1060px;
  top:206px;
  width:370px;
  height:220px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1246 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  word-wrap:break-word;
}
