body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:26px;
  top:26px;
  width:454px;
  height:557px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:557px;
}
#u1 {
  position:absolute;
  left:2px;
  top:270px;
  width:450px;
  visibility:hidden;
  word-wrap:break-word;
}
