body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:533px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:833px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:833px;
}
#u190 {
  position:absolute;
  left:2px;
  top:409px;
  width:529px;
  visibility:hidden;
  word-wrap:break-word;
}
