body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1530px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
}
#u1191 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:600px;
}
#u1192 {
  position:absolute;
  left:2px;
  top:292px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:430px;
}
#u1193 {
  position:absolute;
  left:970px;
  top:76px;
  width:54px;
  height:430px;
}
#u1194 {
  position:absolute;
  left:2px;
  top:207px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u1195 {
  position:absolute;
  left:1046px;
  top:8px;
  width:263px;
  height:22px;
}
#u1196 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  white-space:nowrap;
}
#u1197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u1197 {
  position:absolute;
  left:1046px;
  top:41px;
  width:479px;
  height:44px;
}
#u1198 {
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  white-space:nowrap;
}
#u1199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u1199 {
  position:absolute;
  left:1046px;
  top:102px;
  width:443px;
  height:22px;
}
#u1200 {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  white-space:nowrap;
}
#u1201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:146px;
}
#u1201 {
  position:absolute;
  left:1060px;
  top:188px;
  width:260px;
  height:146px;
}
#u1202 {
  position:absolute;
  left:2px;
  top:65px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:140px;
}
#u1203 {
  position:absolute;
  left:1124px;
  top:198px;
  width:133px;
  height:140px;
}
#u1204 {
  position:absolute;
  left:2px;
  top:62px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u1205 {
  position:absolute;
  left:1050px;
  top:136px;
  width:460px;
  height:50px;
}
#u1206 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  word-wrap:break-word;
}
#u1207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u1207 {
  position:absolute;
  left:1050px;
  top:354px;
  width:480px;
  height:62px;
}
#u1208 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u1209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u1209 {
  position:absolute;
  left:432px;
  top:609px;
  width:252px;
  height:22px;
}
#u1210 {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  white-space:nowrap;
}
#u1211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
}
#u1211 {
  position:absolute;
  left:0px;
  top:642px;
  width:1024px;
  height:600px;
}
#u1212 {
  position:absolute;
  left:2px;
  top:292px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:430px;
}
#u1213 {
  position:absolute;
  left:970px;
  top:718px;
  width:54px;
  height:430px;
}
#u1214 {
  position:absolute;
  left:2px;
  top:207px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:582px;
}
#u1215 {
  position:absolute;
  left:42px;
  top:652px;
  width:910px;
  height:582px;
}
#u1216 {
  position:absolute;
  left:2px;
  top:283px;
  width:906px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:36px;
}
#u1217 {
  position:absolute;
  left:916px;
  top:652px;
  width:36px;
  height:36px;
  font-size:36px;
}
#u1218 {
  position:absolute;
  left:2px;
  top:-3px;
  width:32px;
  word-wrap:break-word;
}
#u1219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:140px;
}
#u1219 {
  position:absolute;
  left:760px;
  top:760px;
  width:133px;
  height:140px;
}
#u1220 {
  position:absolute;
  left:2px;
  top:62px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u1221 {
  position:absolute;
  left:380px;
  top:1250px;
  width:378px;
  height:22px;
}
#u1222 {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  white-space:nowrap;
}
#u1223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:120px;
}
#u1223 {
  position:absolute;
  left:397px;
  top:883px;
  width:200px;
  height:120px;
}
#u1224 {
  position:absolute;
  left:2px;
  top:52px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:908px;
  height:600px;
}
#u1225 {
  position:absolute;
  left:50px;
  top:0px;
  width:908px;
  height:600px;
}
#u1226 {
  position:absolute;
  left:2px;
  top:292px;
  width:904px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:140px;
}
#u1227 {
  position:absolute;
  left:77px;
  top:76px;
  width:133px;
  height:140px;
}
#u1228 {
  position:absolute;
  left:2px;
  top:62px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u1229 {
  position:absolute;
  left:1050px;
  top:440px;
  width:480px;
  height:30px;
}
#u1230 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u1231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:242px;
}
#u1231 {
  position:absolute;
  left:345px;
  top:188px;
  width:285px;
  height:242px;
}
#u1232 {
  position:absolute;
  left:2px;
  top:113px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:47px;
}
#u1233 {
  position:absolute;
  left:358px;
  top:1003px;
  width:259px;
  height:47px;
}
#u1234 {
  position:absolute;
  left:2px;
  top:16px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
