body {
  margin:0px;
  background-color:rgba(54, 54, 54, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1561px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2948px;
}
#u3782 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:51px;
  width:750px;
  height:2948px;
}
#u3783 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1466px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:170px;
  background:inherit;
  background-color:rgba(245, 246, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3784 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:2658px;
  width:649px;
  height:170px;
}
#u3785 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:645px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:78px;
}
#u3786 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:268px;
  width:174px;
  height:78px;
}
#u3787 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1663px;
}
#u3788 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:879px;
  width:750px;
  height:1663px;
}
#u3789 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:824px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:712px;
  height:117px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-style:normal;
  color:#FFFFFF;
}
#u3790 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:179px;
  width:712px;
  height:117px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-style:normal;
  color:#FFFFFF;
}
#u3791 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:712px;
  word-wrap:break-word;
}
#u3792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#3F86FF;
}
#u3792 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:598px;
  width:81px;
  height:32px;
  font-size:28px;
  color:#3F86FF;
}
#u3793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
