body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1777px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:26px;
  top:26px;
  width:1254px;
  height:674px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1254px;
  height:674px;
}
#u1 {
  position:absolute;
  left:2px;
  top:329px;
  width:1250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:37px;
  top:34px;
  width:719px;
  height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:28px;
}
#u3 {
  position:absolute;
  left:2px;
  top:6px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:756px;
  top:34px;
  width:271px;
  height:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:28px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1027px;
  top:34px;
  width:246px;
  height:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:28px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:37px;
  top:72px;
  width:1043px;
  height:50px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:1039px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:936px;
  top:75px;
  width:200px;
  height:47px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:47px;
}
#u11 {
  position:absolute;
  left:2px;
  top:16px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1163px;
  top:80px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:1120px;
  top:115px;
  width:72px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:994px;
  top:80px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:1000px;
  top:114px;
  width:53px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:1297px;
  top:34px;
  width:480px;
  height:152px;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:152px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1202px;
  top:115px;
  width:27px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
