body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:388px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:910px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u1258 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:910px;
}
#u1259 {
  position:absolute;
  left:2px;
  top:447px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u1260 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:30px;
}
#u1261 {
  position:absolute;
  left:2px;
  top:7px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:131px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u1262 {
  position:absolute;
  left:0px;
  top:30px;
  width:380px;
  height:131px;
}
#u1263 {
  position:absolute;
  left:2px;
  top:58px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u1264 {
  position:absolute;
  left:7px;
  top:7px;
  width:66px;
  height:16px;
}
#u1265 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u1266 {
  position:absolute;
  left:270px;
  top:7px;
  width:105px;
  height:16px;
}
#u1267 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u1268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u1268 {
  position:absolute;
  left:294px;
  top:40px;
  width:79px;
  height:16px;
}
#u1269 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u1270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u1270 {
  position:absolute;
  left:45px;
  top:58px;
  width:265px;
  height:64px;
}
#u1271 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u1272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u1272 {
  position:absolute;
  left:59px;
  top:130px;
  width:218px;
  height:16px;
}
#u1273 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  white-space:nowrap;
}
#u1274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u1274 {
  position:absolute;
  left:0px;
  top:160px;
  width:380px;
  height:100px;
}
#u1275 {
  position:absolute;
  left:2px;
  top:42px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1276 {
  position:absolute;
  left:223px;
  top:185px;
  width:147px;
  height:25px;
}
#u1276_input {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1276_input {
  font-family:'应用字体';
}
#u1277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u1277 {
  position:absolute;
  left:223px;
  top:228px;
  width:147px;
  height:16px;
}
#u1278 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  word-wrap:break-word;
}
#u1279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u1279 {
  position:absolute;
  left:0px;
  top:260px;
  width:380px;
  height:30px;
}
#u1280 {
  position:absolute;
  left:2px;
  top:7px;
  width:376px;
  word-wrap:break-word;
}
#u1281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1281 {
  position:absolute;
  left:0px;
  top:670px;
  width:380px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1282 {
  position:absolute;
  left:2px;
  top:10px;
  width:376px;
  word-wrap:break-word;
}
#u1283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u1283 {
  position:absolute;
  left:0px;
  top:160px;
  width:208px;
  height:100px;
}
#u1284 {
  position:absolute;
  left:2px;
  top:42px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:16px;
  text-align:center;
}
#u1285 {
  position:absolute;
  left:30px;
  top:185px;
  width:129px;
  height:38px;
  font-size:16px;
  text-align:center;
}
#u1286 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:380px;
}
#u1287 {
  position:absolute;
  left:0px;
  top:290px;
  width:380px;
  height:380px;
}
#u1288 {
  position:absolute;
  left:2px;
  top:182px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  text-decoration:underline;
  color:#0000FF;
}
#u1289 {
  position:absolute;
  left:276px;
  top:680px;
  width:112px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u1290 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u1291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:93px;
}
#u1291 {
  position:absolute;
  left:10px;
  top:707px;
  width:360px;
  height:93px;
}
#u1292 {
  position:absolute;
  left:2px;
  top:39px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:93px;
}
#u1293 {
  position:absolute;
  left:10px;
  top:800px;
  width:360px;
  height:93px;
}
#u1294 {
  position:absolute;
  left:2px;
  top:39px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
