body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:835px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3569_img {
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  height:220px;
}
#u3569 {
  position:absolute;
  left:26px;
  top:26px;
  width:809px;
  height:220px;
}
#u3570 {
  position:absolute;
  left:2px;
  top:102px;
  width:805px;
  visibility:hidden;
  word-wrap:break-word;
}
