body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4140 {
  position:absolute;
  left:20px;
  top:10px;
  width:700px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4141 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  word-wrap:break-word;
}
#u4142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4142 {
  position:absolute;
  left:30px;
  top:154px;
  width:100px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4143 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u4144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4144 {
  position:absolute;
  left:30px;
  top:248px;
  width:100px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4145 {
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u4146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4146 {
  position:absolute;
  left:126px;
  top:50px;
  width:146px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4147 {
  position:absolute;
  left:2px;
  top:5px;
  width:142px;
  word-wrap:break-word;
}
#u4148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4148 {
  position:absolute;
  left:290px;
  top:154px;
  width:100px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4149 {
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u4150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4150 {
  position:absolute;
  left:290px;
  top:248px;
  width:100px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4151 {
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u4152 {
  position:absolute;
  left:126px;
  top:80px;
  width:-46px;
  height:74px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4152_seg0 {
  position:absolute;
  left:-56px;
  top:-10px;
  width:60px;
  height:20px;
}
#u4152_seg1 {
  position:absolute;
  left:-56px;
  top:-10px;
  width:20px;
  height:88px;
}
#u4153 {
  position:absolute;
  left:-96px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4154 {
  position:absolute;
  left:80px;
  top:214px;
  width:0px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4154_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:48px;
}
#u4155 {
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4156 {
  position:absolute;
  left:272px;
  top:80px;
  width:68px;
  height:74px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4156_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:82px;
  height:20px;
}
#u4156_seg1 {
  position:absolute;
  left:58px;
  top:-10px;
  width:20px;
  height:88px;
}
#u4157 {
  position:absolute;
  left:18px;
  top:-5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4158 {
  position:absolute;
  left:340px;
  top:214px;
  width:0px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4158_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:48px;
}
#u4159 {
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4160 {
  position:absolute;
  left:20px;
  top:332px;
  width:123px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4161 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u4162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4162 {
  position:absolute;
  left:20px;
  top:382px;
  width:139px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4163 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u4164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4164 {
  position:absolute;
  left:20px;
  top:430px;
  width:139px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4165 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u4166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4166 {
  position:absolute;
  left:201px;
  top:330px;
  width:130px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4167 {
  position:absolute;
  left:2px;
  top:5px;
  width:126px;
  word-wrap:break-word;
}
#u4168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4168 {
  position:absolute;
  left:201px;
  top:381px;
  width:130px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4169 {
  position:absolute;
  left:2px;
  top:5px;
  width:126px;
  word-wrap:break-word;
}
#u4170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4170 {
  position:absolute;
  left:201px;
  top:430px;
  width:130px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4171 {
  position:absolute;
  left:2px;
  top:5px;
  width:126px;
  word-wrap:break-word;
}
