body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1045px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:667px;
}
#u3163 {
  position:absolute;
  left:26px;
  top:26px;
  width:374px;
  height:667px;
}
#u3164 {
  position:absolute;
  left:2px;
  top:326px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u3165 {
  position:absolute;
  left:228px;
  top:566px;
  width:50px;
  height:50px;
  font-size:20px;
}
#u3166 {
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  word-wrap:break-word;
}
#u3167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
}
#u3167 {
  position:absolute;
  left:226px;
  top:619px;
  width:56px;
  height:16px;
  text-align:center;
}
#u3168 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u3169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3169 {
  position:absolute;
  left:416px;
  top:26px;
  width:239px;
  height:16px;
}
#u3170 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u3172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3172 {
  position:absolute;
  left:671px;
  top:26px;
  width:374px;
  height:667px;
}
#u3173 {
  position:absolute;
  left:2px;
  top:326px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:12px;
}
#u3174 {
  position:absolute;
  left:673px;
  top:29px;
  width:370px;
  height:12px;
}
#u3175 {
  position:absolute;
  left:2px;
  top:-2px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3176 {
  position:absolute;
  left:671px;
  top:43px;
  width:374px;
  height:35px;
}
#u3177 {
  position:absolute;
  left:2px;
  top:10px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3178 {
  position:absolute;
  left:677px;
  top:53px;
  width:29px;
  height:16px;
}
#u3179 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3180 {
  position:absolute;
  left:830px;
  top:53px;
  width:57px;
  height:16px;
}
#u3181 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3182 {
  position:absolute;
  left:1010px;
  top:53px;
  width:29px;
  height:16px;
}
#u3183 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:357px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3184 {
  position:absolute;
  left:671px;
  top:77px;
  width:374px;
  height:357px;
}
#u3185 {
  position:absolute;
  left:2px;
  top:170px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u3186 {
  position:absolute;
  left:677px;
  top:82px;
  width:127px;
  height:16px;
  color:#D7D7D7;
}
#u3187 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u3188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:76px;
}
#u3188 {
  position:absolute;
  left:677px;
  top:192px;
  width:362px;
  height:76px;
}
#u3189 {
  position:absolute;
  left:2px;
  top:30px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:259px;
}
#u3190 {
  position:absolute;
  left:671px;
  top:434px;
  width:374px;
  height:259px;
}
#u3191 {
  position:absolute;
  left:2px;
  top:122px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3192 {
  position:absolute;
  left:677px;
  top:413px;
  width:100px;
  height:16px;
}
#u3193 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3192_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3194 {
  position:absolute;
  left:425px;
  top:593px;
  width:0px;
  height:0px;
}
#u3194_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:7px;
}
#u3194_seg1 {
  position:absolute;
  left:-4px;
  top:-1px;
  width:238px;
  height:8px;
}
#u3194_seg2 {
  position:absolute;
  left:222px;
  top:-6px;
  width:18px;
  height:18px;
}
#u3195 {
  position:absolute;
  left:66px;
  top:-5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
