body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1081px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:506px;
  top:26px;
  width:374px;
  height:667px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:667px;
}
#u2 {
  position:absolute;
  left:2px;
  top:326px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:508px;
  top:29px;
  width:370px;
  height:12px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:12px;
}
#u4 {
  position:absolute;
  left:2px;
  top:-2px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:507px;
  top:658px;
  width:372px;
  height:34px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:34px;
}
#u6 {
  position:absolute;
  left:2px;
  top:9px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:506px;
  top:41px;
  width:374px;
  height:618px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:618px;
}
#u8 {
  position:absolute;
  left:2px;
  top:301px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:540px;
  top:350px;
  width:80px;
  height:80px;
  font-size:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u10 {
  position:absolute;
  left:2px;
  top:28px;
  width:76px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:653px;
  top:350px;
  width:80px;
  height:80px;
  font-size:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u12 {
  position:absolute;
  left:2px;
  top:28px;
  width:76px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:769px;
  top:350px;
  width:80px;
  height:80px;
  font-size:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u14 {
  position:absolute;
  left:2px;
  top:28px;
  width:76px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:708px;
  top:48px;
  width:164px;
  height:100px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:100px;
}
#u16 {
  position:absolute;
  left:2px;
  top:42px;
  width:160px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:891px;
  top:50px;
  width:99px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:891px;
  top:92px;
  width:190px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:26px;
  top:26px;
  width:374px;
  height:667px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:667px;
}
#u23 {
  position:absolute;
  left:2px;
  top:326px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:28px;
  top:29px;
  width:370px;
  height:12px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:12px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-2px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:410px;
  top:380px;
  width:80px;
  height:0px;
}
#u26_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:94px;
  height:20px;
}
#u27 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:25px;
  top:646px;
  width:376px;
  height:47px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:47px;
}
#u30 {
  position:absolute;
  left:2px;
  top:16px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:65px;
  top:652px;
  width:20px;
  height:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:62px;
  top:674px;
  width:27px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:146px;
  top:652px;
  width:20px;
  height:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:143px;
  top:674px;
  width:27px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:238px;
  top:652px;
  width:20px;
  height:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u40 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:235px;
  top:674px;
  width:27px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:324px;
  top:652px;
  width:20px;
  height:20px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u44 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:321px;
  top:674px;
  width:27px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:191px;
  top:629px;
  width:36px;
  height:36px;
  font-size:36px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-3px;
  width:32px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:515px;
  top:49px;
  width:110px;
  height:53px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:53px;
}
#u50 {
  position:absolute;
  left:2px;
  top:18px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
