body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:650px;
  top:442px;
  width:430px;
  height:688px;
  font-size:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:688px;
}
#u1 {
  position:absolute;
  left:2px;
  top:328px;
  width:426px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:442px;
  width:360px;
  height:130px;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:130px;
}
#u3 {
  position:absolute;
  left:2px;
  top:5px;
  width:356px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:30px;
  top:592px;
  width:360px;
  height:120px;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:120px;
}
#u5 {
  position:absolute;
  left:2px;
  top:0px;
  width:356px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:30px;
  top:733px;
  width:360px;
  height:120px;
  font-size:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:120px;
}
#u7 {
  position:absolute;
  left:2px;
  top:0px;
  width:356px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:30px;
  top:872px;
  width:360px;
  height:120px;
  font-size:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:120px;
}
#u9 {
  position:absolute;
  left:2px;
  top:0px;
  width:356px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:814px;
  top:410px;
  width:91px;
  height:22px;
  font-size:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:30px;
  top:330px;
  width:1050px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:1033px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1050px;
  height:1px;
}
#u13 {
  position:absolute;
  left:30px;
  top:10px;
  width:199px;
  height:22px;
  font-size:18px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:22px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:30px;
  top:373px;
  width:163px;
  height:22px;
  font-size:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:30px;
  top:70px;
  width:200px;
  height:200px;
  font-size:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u18 {
  position:absolute;
  left:2px;
  top:88px;
  width:196px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:30px;
  top:1010px;
  width:360px;
  height:120px;
  font-size:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:120px;
}
#u20 {
  position:absolute;
  left:2px;
  top:0px;
  width:356px;
  word-wrap:break-word;
}
