body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1210px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u39 {
  position:absolute;
  left:26px;
  top:26px;
  width:374px;
  height:665px;
}
#u40 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u41 {
  position:absolute;
  left:495px;
  top:26px;
  width:374px;
  height:665px;
}
#u42 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:405px;
  top:65px;
  width:0px;
  height:0px;
}
#u43_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:49px;
  height:8px;
}
#u43_seg1 {
  position:absolute;
  left:41px;
  top:-4px;
  width:8px;
  height:302px;
}
#u43_seg2 {
  position:absolute;
  left:41px;
  top:290px;
  width:49px;
  height:8px;
}
#u43_seg3 {
  position:absolute;
  left:78px;
  top:285px;
  width:18px;
  height:18px;
}
#u44 {
  position:absolute;
  left:-5px;
  top:139px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:184px;
}
#u45 {
  position:absolute;
  left:495px;
  top:468px;
  width:374px;
  height:184px;
}
#u46 {
  position:absolute;
  left:2px;
  top:84px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u47 {
  position:absolute;
  left:898px;
  top:468px;
  width:312px;
  height:176px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
