body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:930px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u249 {
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:930px;
}
#u250 {
  position:absolute;
  left:2px;
  top:457px;
  width:1336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:930px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u251 {
  position:absolute;
  left:70px;
  top:0px;
  width:1200px;
  height:930px;
}
#u252 {
  position:absolute;
  left:2px;
  top:457px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:28px;
}
#u253 {
  position:absolute;
  left:70px;
  top:0px;
  width:1200px;
  height:70px;
  font-size:28px;
}
#u254 {
  position:absolute;
  left:2px;
  top:19px;
  width:1196px;
  word-wrap:break-word;
}
#u255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:330px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u255 {
  position:absolute;
  left:70px;
  top:70px;
  width:680px;
  height:330px;
}
#u256 {
  position:absolute;
  left:2px;
  top:157px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u257 {
  position:absolute;
  left:70px;
  top:400px;
  width:680px;
  height:90px;
}
#u258 {
  position:absolute;
  left:2px;
  top:37px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u259 {
  position:absolute;
  left:122px;
  top:410px;
  width:88px;
  height:60px;
}
#u260 {
  position:absolute;
  left:2px;
  top:22px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  text-align:center;
}
#u261 {
  position:absolute;
  left:122px;
  top:474px;
  width:88px;
  height:16px;
  text-align:center;
}
#u262 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u263 {
  position:absolute;
  left:232px;
  top:410px;
  width:88px;
  height:60px;
}
#u264 {
  position:absolute;
  left:2px;
  top:22px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  text-align:center;
}
#u265 {
  position:absolute;
  left:232px;
  top:474px;
  width:88px;
  height:16px;
  text-align:center;
}
#u266 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u267 {
  position:absolute;
  left:350px;
  top:410px;
  width:88px;
  height:60px;
}
#u268 {
  position:absolute;
  left:2px;
  top:22px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  text-align:center;
}
#u269 {
  position:absolute;
  left:350px;
  top:474px;
  width:88px;
  height:16px;
  text-align:center;
}
#u270 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u271 {
  position:absolute;
  left:472px;
  top:410px;
  width:88px;
  height:60px;
}
#u272 {
  position:absolute;
  left:2px;
  top:22px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  text-align:center;
}
#u273 {
  position:absolute;
  left:472px;
  top:474px;
  width:88px;
  height:16px;
  text-align:center;
}
#u274 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u275 {
  position:absolute;
  left:592px;
  top:410px;
  width:88px;
  height:60px;
}
#u276 {
  position:absolute;
  left:2px;
  top:22px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  text-align:center;
}
#u277 {
  position:absolute;
  left:592px;
  top:474px;
  width:88px;
  height:16px;
  text-align:center;
}
#u278 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:46px;
}
#u279 {
  position:absolute;
  left:70px;
  top:417px;
  width:32px;
  height:46px;
}
#u280 {
  position:absolute;
  left:2px;
  top:15px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:46px;
}
#u281 {
  position:absolute;
  left:718px;
  top:417px;
  width:32px;
  height:46px;
}
#u282 {
  position:absolute;
  left:2px;
  top:15px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:420px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u283 {
  position:absolute;
  left:750px;
  top:70px;
  width:520px;
  height:420px;
}
#u284 {
  position:absolute;
  left:2px;
  top:202px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:28px;
}
#u285 {
  position:absolute;
  left:750px;
  top:70px;
  width:520px;
  height:100px;
  font-size:28px;
}
#u286 {
  position:absolute;
  left:2px;
  top:34px;
  width:516px;
  word-wrap:break-word;
}
#u287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:28px;
}
#u287 {
  position:absolute;
  left:750px;
  top:170px;
  width:520px;
  height:110px;
  font-size:28px;
}
#u288 {
  position:absolute;
  left:2px;
  top:39px;
  width:516px;
  word-wrap:break-word;
}
#u289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:28px;
}
#u289 {
  position:absolute;
  left:750px;
  top:280px;
  width:520px;
  height:105px;
  font-size:28px;
}
#u290 {
  position:absolute;
  left:2px;
  top:36px;
  width:516px;
  word-wrap:break-word;
}
#u291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-size:28px;
}
#u291 {
  position:absolute;
  left:750px;
  top:385px;
  width:520px;
  height:105px;
  font-size:28px;
}
#u292 {
  position:absolute;
  left:2px;
  top:36px;
  width:516px;
  word-wrap:break-word;
}
#u293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:700px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
}
#u293 {
  position:absolute;
  left:1420px;
  top:0px;
  width:580px;
  height:700px;
}
#u294 {
  position:absolute;
  left:2px;
  top:342px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u295 {
  position:absolute;
  left:1440px;
  top:20px;
  width:60px;
  height:60px;
}
#u296 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u297 {
  position:absolute;
  left:1462px;
  top:32px;
  width:28px;
  height:37px;
}
#u298 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u299 {
  position:absolute;
  left:1510px;
  top:20px;
  width:470px;
  height:84px;
}
#u300 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  word-wrap:break-word;
}
#u301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:350px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u301 {
  position:absolute;
  left:70px;
  top:510px;
  width:230px;
  height:350px;
}
#u302 {
  position:absolute;
  left:2px;
  top:167px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:350px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u303 {
  position:absolute;
  left:300px;
  top:510px;
  width:970px;
  height:350px;
}
#u304 {
  position:absolute;
  left:2px;
  top:167px;
  width:966px;
  visibility:hidden;
  word-wrap:break-word;
}
#u305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u305 {
  position:absolute;
  left:70px;
  top:510px;
  width:230px;
  height:70px;
}
#u306 {
  position:absolute;
  left:2px;
  top:27px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u307 {
  position:absolute;
  left:70px;
  top:580px;
  width:230px;
  height:70px;
}
#u308 {
  position:absolute;
  left:2px;
  top:27px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u309 {
  position:absolute;
  left:70px;
  top:650px;
  width:230px;
  height:70px;
}
#u310 {
  position:absolute;
  left:2px;
  top:27px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u311 {
  position:absolute;
  left:70px;
  top:720px;
  width:230px;
  height:70px;
}
#u312 {
  position:absolute;
  left:2px;
  top:27px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u313 {
  position:absolute;
  left:70px;
  top:790px;
  width:230px;
  height:70px;
}
#u314 {
  position:absolute;
  left:2px;
  top:27px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u315 {
  position:absolute;
  left:1440px;
  top:140px;
  width:60px;
  height:60px;
}
#u316 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u317 {
  position:absolute;
  left:1462px;
  top:152px;
  width:19px;
  height:37px;
}
#u318 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u319 {
  position:absolute;
  left:329px;
  top:550px;
  width:130px;
  height:100px;
}
#u320 {
  position:absolute;
  left:2px;
  top:42px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u321 {
  position:absolute;
  left:500px;
  top:550px;
  width:130px;
  height:100px;
}
#u322 {
  position:absolute;
  left:2px;
  top:42px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u323 {
  position:absolute;
  left:700px;
  top:550px;
  width:130px;
  height:100px;
}
#u324 {
  position:absolute;
  left:2px;
  top:42px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u325 {
  position:absolute;
  left:900px;
  top:550px;
  width:130px;
  height:100px;
}
#u326 {
  position:absolute;
  left:2px;
  top:42px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u327 {
  position:absolute;
  left:1090px;
  top:550px;
  width:130px;
  height:100px;
}
#u328 {
  position:absolute;
  left:2px;
  top:42px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u329 {
  position:absolute;
  left:329px;
  top:720px;
  width:130px;
  height:100px;
}
#u330 {
  position:absolute;
  left:2px;
  top:42px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u331 {
  position:absolute;
  left:500px;
  top:720px;
  width:130px;
  height:100px;
}
#u332 {
  position:absolute;
  left:2px;
  top:42px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u333 {
  position:absolute;
  left:700px;
  top:720px;
  width:130px;
  height:100px;
}
#u334 {
  position:absolute;
  left:2px;
  top:42px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u335 {
  position:absolute;
  left:900px;
  top:720px;
  width:130px;
  height:100px;
}
#u336 {
  position:absolute;
  left:2px;
  top:42px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u337 {
  position:absolute;
  left:1090px;
  top:720px;
  width:130px;
  height:100px;
}
#u338 {
  position:absolute;
  left:2px;
  top:42px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u339 {
  position:absolute;
  left:310px;
  top:512px;
  width:97px;
  height:28px;
}
#u340 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u341 {
  position:absolute;
  left:434px;
  top:512px;
  width:97px;
  height:28px;
}
#u342 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u343 {
  position:absolute;
  left:564px;
  top:512px;
  width:97px;
  height:28px;
}
#u344 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u345 {
  position:absolute;
  left:1510px;
  top:140px;
  width:470px;
  height:84px;
}
#u346 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  word-wrap:break-word;
}
