body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1580px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u915 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:50px;
}
#u916 {
  position:absolute;
  left:2px;
  top:17px;
  width:796px;
  word-wrap:break-word;
}
#u917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
}
#u917 {
  position:absolute;
  left:0px;
  top:50px;
  width:101px;
  height:24px;
  font-size:20px;
}
#u918 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u919 {
  position:absolute;
  left:30px;
  top:84px;
  width:550px;
  height:200px;
}
#u920 {
  position:absolute;
  left:2px;
  top:92px;
  width:546px;
  word-wrap:break-word;
}
#u921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u921 {
  position:absolute;
  left:580px;
  top:84px;
  width:220px;
  height:200px;
}
#u922 {
  position:absolute;
  left:2px;
  top:92px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u923 {
  position:absolute;
  left:594px;
  top:157px;
  width:186px;
  height:25px;
}
#u923_input {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u923_input {
  font-family:'应用字体';
}
#u924 {
  position:absolute;
  left:594px;
  top:196px;
  width:186px;
  height:25px;
}
#u924_input {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u924_input {
  font-family:'应用字体';
}
#u925 {
  position:absolute;
  left:594px;
  top:236px;
  width:186px;
  height:25px;
}
#u925_input {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u925_input {
  font-family:'应用字体';
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:63px;
}
#u926 {
  position:absolute;
  left:580px;
  top:84px;
  width:220px;
  height:63px;
}
#u927 {
  position:absolute;
  left:2px;
  top:24px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u928 {
  position:absolute;
  left:420px;
  top:235px;
  width:150px;
  height:44px;
}
#u929 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u930 {
  position:absolute;
  left:30px;
  top:297px;
  width:550px;
  height:200px;
}
#u931 {
  position:absolute;
  left:2px;
  top:92px;
  width:546px;
  word-wrap:break-word;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u932 {
  position:absolute;
  left:580px;
  top:297px;
  width:220px;
  height:200px;
}
#u933 {
  position:absolute;
  left:2px;
  top:92px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u934 {
  position:absolute;
  left:420px;
  top:446px;
  width:150px;
  height:44px;
}
#u935 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u936 {
  position:absolute;
  left:30px;
  top:520px;
  width:550px;
  height:200px;
}
#u937 {
  position:absolute;
  left:2px;
  top:92px;
  width:546px;
  word-wrap:break-word;
}
#u938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u938 {
  position:absolute;
  left:580px;
  top:520px;
  width:220px;
  height:200px;
}
#u939 {
  position:absolute;
  left:2px;
  top:92px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u940 {
  position:absolute;
  left:420px;
  top:666px;
  width:150px;
  height:44px;
}
#u941 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u942 {
  position:absolute;
  left:30px;
  top:740px;
  width:550px;
  height:200px;
}
#u943 {
  position:absolute;
  left:2px;
  top:92px;
  width:546px;
  word-wrap:break-word;
}
#u944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u944 {
  position:absolute;
  left:580px;
  top:740px;
  width:220px;
  height:200px;
}
#u945 {
  position:absolute;
  left:2px;
  top:92px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u946 {
  position:absolute;
  left:420px;
  top:886px;
  width:150px;
  height:44px;
}
#u947 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u948 {
  position:absolute;
  left:30px;
  top:950px;
  width:550px;
  height:200px;
}
#u949 {
  position:absolute;
  left:2px;
  top:92px;
  width:546px;
  word-wrap:break-word;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u950 {
  position:absolute;
  left:580px;
  top:950px;
  width:220px;
  height:200px;
}
#u951 {
  position:absolute;
  left:2px;
  top:92px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
}
#u952 {
  position:absolute;
  left:420px;
  top:1096px;
  width:150px;
  height:44px;
}
#u953 {
  position:absolute;
  left:2px;
  top:14px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:1699px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:6px;
}
#u954 {
  position:absolute;
  left:870px;
  top:-319px;
  width:710px;
  height:1699px;
}
#u955 {
  position:absolute;
  left:2px;
  top:842px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u956 {
  position:absolute;
  left:900px;
  top:10px;
  width:50px;
  height:50px;
  font-size:20px;
  color:#FFFFFF;
}
#u957 {
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  word-wrap:break-word;
}
#u958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u958 {
  position:absolute;
  left:960px;
  top:10px;
  width:610px;
  height:84px;
}
#u959 {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  word-wrap:break-word;
}
#u960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:131px;
}
#u960 {
  position:absolute;
  left:953px;
  top:104px;
  width:607px;
  height:131px;
}
#u961 {
  position:absolute;
  left:2px;
  top:58px;
  width:603px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u962 {
  position:absolute;
  left:960px;
  top:256px;
  width:529px;
  height:56px;
}
#u963 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  white-space:nowrap;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u964 {
  position:absolute;
  left:900px;
  top:320px;
  width:50px;
  height:50px;
  font-size:20px;
  color:#FFFFFF;
}
#u965 {
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  word-wrap:break-word;
}
#u966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u966 {
  position:absolute;
  left:957px;
  top:325px;
  width:433px;
  height:56px;
}
#u967 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  white-space:nowrap;
}
#u968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u968 {
  position:absolute;
  left:957px;
  top:400px;
  width:583px;
  height:56px;
}
#u969 {
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  word-wrap:break-word;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u970 {
  position:absolute;
  left:900px;
  top:470px;
  width:50px;
  height:50px;
  font-size:20px;
  color:#FFFFFF;
}
#u971 {
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  word-wrap:break-word;
}
#u972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u972 {
  position:absolute;
  left:957px;
  top:472px;
  width:97px;
  height:28px;
}
#u973 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u974 {
  position:absolute;
  left:960px;
  top:510px;
  width:337px;
  height:28px;
}
#u975 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u976 {
  position:absolute;
  left:900px;
  top:560px;
  width:50px;
  height:50px;
  font-size:20px;
  color:#FFFFFF;
}
#u977 {
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  word-wrap:break-word;
}
#u978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u978 {
  position:absolute;
  left:960px;
  top:560px;
  width:481px;
  height:56px;
}
#u979 {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  white-space:nowrap;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u980 {
  position:absolute;
  left:900px;
  top:640px;
  width:50px;
  height:50px;
  font-size:20px;
  color:#FFFFFF;
}
#u981 {
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  word-wrap:break-word;
}
#u982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u982 {
  position:absolute;
  left:960px;
  top:640px;
  width:361px;
  height:56px;
}
#u983 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u984 {
  position:absolute;
  left:900px;
  top:720px;
  width:50px;
  height:50px;
  font-size:20px;
  color:#FFFFFF;
}
#u985 {
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  word-wrap:break-word;
}
#u986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u986 {
  position:absolute;
  left:960px;
  top:720px;
  width:409px;
  height:56px;
}
#u987 {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  white-space:nowrap;
}
#u988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
}
#u988 {
  position:absolute;
  left:957px;
  top:800px;
  width:220px;
  height:200px;
}
#u989 {
  position:absolute;
  left:2px;
  top:84px;
  width:216px;
  word-wrap:break-word;
}
#u990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u990 {
  position:absolute;
  left:1190px;
  top:886px;
  width:193px;
  height:28px;
}
#u991 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u992 {
  position:absolute;
  left:900px;
  top:1010px;
  width:50px;
  height:50px;
  font-size:20px;
  color:#FFFFFF;
}
#u993 {
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  word-wrap:break-word;
}
#u994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u994 {
  position:absolute;
  left:960px;
  top:1016px;
  width:121px;
  height:28px;
}
#u995 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u996 {
  position:absolute;
  left:960px;
  top:1054px;
  width:600px;
  height:84px;
}
#u997 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
