body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1122 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1123 {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1124 {
  position:absolute;
  left:2px;
  top:17px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1125 {
  position:absolute;
  left:0px;
  top:49px;
  width:1024px;
  height:768px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1126 {
  position:absolute;
  left:2px;
  top:376px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:768px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1127 {
  position:absolute;
  left:1024px;
  top:50px;
  width:326px;
  height:768px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1128 {
  position:absolute;
  left:2px;
  top:376px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1129 {
  position:absolute;
  left:6px;
  top:5px;
  width:370px;
  height:43px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1130 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  word-wrap:break-word;
}
#u1131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1131 {
  position:absolute;
  left:1034px;
  top:60px;
  width:81px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1132 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:682px;
}
#u1133 {
  position:absolute;
  left:948px;
  top:78px;
  width:76px;
  height:682px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1134 {
  position:absolute;
  left:2px;
  top:333px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1135 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:647px;
}
#u1136 {
  position:absolute;
  left:599px;
  top:77px;
  width:340px;
  height:647px;
}
#u1137 {
  position:absolute;
  left:2px;
  top:316px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:30px;
}
#u1138 {
  position:absolute;
  left:939px;
  top:104px;
  width:10px;
  height:30px;
}
#u1139 {
  position:absolute;
  left:2px;
  top:7px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:7px;
}
#u1140 {
  position:absolute;
  left:600px;
  top:273px;
  width:250px;
  height:41px;
}
#u1141 {
  position:absolute;
  left:2px;
  top:13px;
  width:246px;
  word-wrap:break-word;
}
#u1142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:42px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border-radius:3px;
}
#u1142 {
  position:absolute;
  left:854px;
  top:273px;
  width:84px;
  height:42px;
}
#u1143 {
  position:absolute;
  left:2px;
  top:13px;
  width:80px;
  word-wrap:break-word;
}
#u1144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1144 {
  position:absolute;
  left:1034px;
  top:91px;
  width:292px;
  height:89px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1145 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u1146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1146 {
  position:absolute;
  left:1034px;
  top:193px;
  width:292px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1147 {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  word-wrap:break-word;
}
#u1148 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:581px;
}
#u1149 {
  position:absolute;
  left:1030px;
  top:220px;
  width:302px;
  height:581px;
}
#u1150 {
  position:absolute;
  left:2px;
  top:283px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:27px;
}
#u1151 {
  position:absolute;
  left:1332px;
  top:244px;
  width:9px;
  height:27px;
}
#u1152 {
  position:absolute;
  left:2px;
  top:6px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:7px;
}
#u1153 {
  position:absolute;
  left:1031px;
  top:396px;
  width:222px;
  height:37px;
}
#u1154 {
  position:absolute;
  left:2px;
  top:11px;
  width:218px;
  word-wrap:break-word;
}
#u1155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:38px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border-radius:3px;
}
#u1155 {
  position:absolute;
  left:1257px;
  top:396px;
  width:75px;
  height:38px;
}
#u1156 {
  position:absolute;
  left:2px;
  top:11px;
  width:71px;
  word-wrap:break-word;
}
#u1157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:365px;
}
#u1157 {
  position:absolute;
  left:1029px;
  top:436px;
  width:304px;
  height:365px;
}
#u1158 {
  position:absolute;
  left:2px;
  top:175px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
