body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:877px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:665px;
}
#u763 {
  position:absolute;
  left:26px;
  top:26px;
  width:374px;
  height:665px;
}
#u764 {
  position:absolute;
  left:2px;
  top:324px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:69px;
  background:inherit;
  background-color:rgba(29, 26, 26, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u765 {
  position:absolute;
  left:69px;
  top:210px;
  width:300px;
  height:69px;
}
#u766 {
  position:absolute;
  left:2px;
  top:26px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u767 {
  position:absolute;
  left:121px;
  top:229px;
  width:92px;
  height:32px;
}
#u768 {
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u769 {
  position:absolute;
  left:223px;
  top:229px;
  width:92px;
  height:32px;
}
#u770 {
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u771 {
  position:absolute;
  left:102px;
  top:701px;
  width:235px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u772 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u774 {
  position:absolute;
  left:503px;
  top:26px;
  width:374px;
  height:667px;
}
#u775 {
  position:absolute;
  left:2px;
  top:326px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:12px;
}
#u776 {
  position:absolute;
  left:505px;
  top:29px;
  width:370px;
  height:12px;
}
#u777 {
  position:absolute;
  left:2px;
  top:-2px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:293px;
}
#u778 {
  position:absolute;
  left:504px;
  top:42px;
  width:372px;
  height:293px;
}
#u779 {
  position:absolute;
  left:2px;
  top:138px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u780 {
  position:absolute;
  left:504px;
  top:332px;
  width:372px;
  height:63px;
}
#u781 {
  position:absolute;
  left:2px;
  top:24px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u782 {
  position:absolute;
  left:519px;
  top:347px;
  width:36px;
  height:36px;
}
#u783 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u784 {
  position:absolute;
  left:565px;
  top:347px;
  width:35px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u785 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u786 {
  position:absolute;
  left:565px;
  top:368px;
  width:223px;
  height:16px;
}
#u787 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  white-space:nowrap;
}
#u788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u788 {
  position:absolute;
  left:818px;
  top:346px;
  width:51px;
  height:16px;
}
#u789 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u790 {
  position:absolute;
  left:603px;
  top:347px;
  width:16px;
  height:17px;
}
#u791 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u792 {
  position:absolute;
  left:618px;
  top:701px;
  width:145px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u793 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
