body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:401px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:26px;
  top:26px;
  width:375px;
  height:661px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:661px;
}
#u1 {
  position:absolute;
  left:2px;
  top:322px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
