body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:387px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:130px;
  top:30px;
  width:100px;
  height:60px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:140px;
  width:100px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:220px;
  top:140px;
  width:100px;
  height:60px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:40px;
  top:250px;
  width:100px;
  height:60px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:130px;
  top:340px;
  width:100px;
  height:60px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:130px;
  top:438px;
  width:100px;
  height:60px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:130px;
  top:530px;
  width:100px;
  height:60px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:130px;
  top:626px;
  width:100px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:130px;
  top:720px;
  width:100px;
  height:60px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:180px;
  top:90px;
  width:-90px;
  height:50px;
}
#u18_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:54px;
}
#u18_seg1 {
  position:absolute;
  left:-100px;
  top:30px;
  width:110px;
  height:20px;
}
#u18_seg2 {
  position:absolute;
  left:-100px;
  top:30px;
  width:20px;
  height:24px;
}
#u19 {
  position:absolute;
  left:-80px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:180px;
  top:90px;
  width:90px;
  height:50px;
}
#u20_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:54px;
}
#u20_seg1 {
  position:absolute;
  left:-10px;
  top:30px;
  width:110px;
  height:20px;
}
#u20_seg2 {
  position:absolute;
  left:80px;
  top:30px;
  width:20px;
  height:24px;
}
#u21 {
  position:absolute;
  left:-20px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:90px;
  top:200px;
  width:0px;
  height:50px;
}
#u22_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:64px;
}
#u23 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:90px;
  top:310px;
  width:90px;
  height:30px;
}
#u24_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:34px;
}
#u24_seg1 {
  position:absolute;
  left:-10px;
  top:10px;
  width:110px;
  height:20px;
}
#u24_seg2 {
  position:absolute;
  left:80px;
  top:10px;
  width:20px;
  height:24px;
}
#u25 {
  position:absolute;
  left:-10px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:180px;
  top:400px;
  width:0px;
  height:38px;
}
#u26_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:52px;
}
#u27 {
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:180px;
  top:498px;
  width:0px;
  height:32px;
}
#u28_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:46px;
}
#u29 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:180px;
  top:590px;
  width:0px;
  height:36px;
}
#u30_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:50px;
}
#u31 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:180px;
  top:686px;
  width:0px;
  height:34px;
}
#u32_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:48px;
}
#u33 {
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:270px;
  top:200px;
  width:-90px;
  height:140px;
}
#u34_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:144px;
}
#u34_seg1 {
  position:absolute;
  left:-100px;
  top:120px;
  width:110px;
  height:20px;
}
#u34_seg2 {
  position:absolute;
  left:-100px;
  top:120px;
  width:20px;
  height:24px;
}
#u35 {
  position:absolute;
  left:-50px;
  top:107px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:230px;
  top:560px;
  width:-50px;
  height:-470px;
}
#u36_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:154px;
  height:20px;
}
#u36_seg1 {
  position:absolute;
  left:130px;
  top:-470px;
  width:20px;
  height:480px;
}
#u36_seg2 {
  position:absolute;
  left:-60px;
  top:-470px;
  width:210px;
  height:20px;
}
#u36_seg3 {
  position:absolute;
  left:-60px;
  top:-474px;
  width:20px;
  height:24px;
}
#u37 {
  position:absolute;
  left:90px;
  top:-268px;
  width:100px;
  word-wrap:break-word;
}
