body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:605px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3799 {
  position:absolute;
  left:12px;
  top:10px;
  width:443px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3800 {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  white-space:nowrap;
}
#u3801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3801 {
  position:absolute;
  left:12px;
  top:42px;
  width:27px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3802 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u3803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3803 {
  position:absolute;
  left:505px;
  top:11px;
  width:100px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3804 {
  position:absolute;
  left:2px;
  top:1px;
  width:96px;
  word-wrap:break-word;
}
#u3805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3805 {
  position:absolute;
  left:41px;
  top:42px;
  width:186px;
  height:147px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3806 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u3807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3807 {
  position:absolute;
  left:230px;
  top:43px;
  width:100px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3808 {
  position:absolute;
  left:2px;
  top:1px;
  width:96px;
  word-wrap:break-word;
}
