body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:152px;
  top:8px;
  width:113px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#0099CC;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:26px;
  top:48px;
  width:376px;
  height:677px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:677px;
}
#u3 {
  position:absolute;
  left:2px;
  top:330px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:26px;
  top:48px;
  width:376px;
  height:34px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:34px;
}
#u5 {
  position:absolute;
  left:2px;
  top:9px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:368px;
  top:57px;
  width:27px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:26px;
  top:81px;
  width:376px;
  height:340px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:340px;
}
#u9 {
  position:absolute;
  left:2px;
  top:162px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:26px;
  top:464px;
  width:377px;
  height:261px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:261px;
}
#u11 {
  position:absolute;
  left:2px;
  top:122px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:26px;
  top:420px;
  width:376px;
  height:44px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:44px;
}
#u13 {
  position:absolute;
  left:2px;
  top:14px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:33px;
  top:434px;
  width:66px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:101px;
  top:435px;
  width:54px;
  height:16px;
  color:#FFCC00;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:164px;
  top:435px;
  width:41px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:215px;
  top:435px;
  width:41px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:266px;
  top:435px;
  width:48px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:324px;
  top:435px;
  width:48px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:382px;
  top:435px;
  width:48px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:144px;
  top:101px;
  width:54px;
  height:16px;
  color:#000000;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:30px;
  top:85px;
  width:369px;
  height:32px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:32px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  word-wrap:break-word;
}
