body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:970px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2767 {
  position:absolute;
  left:10px;
  top:9px;
  width:960px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2768 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  word-wrap:break-word;
}
#u2769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2769 {
  position:absolute;
  left:10px;
  top:50px;
  width:960px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2770 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  word-wrap:break-word;
}
#u2771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2771 {
  position:absolute;
  left:10px;
  top:90px;
  width:960px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2772 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  word-wrap:break-word;
}
#u2773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2773 {
  position:absolute;
  left:10px;
  top:130px;
  width:960px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2774 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  word-wrap:break-word;
}
