body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:600px;
}
#u1 {
  position:absolute;
  left:2px;
  top:292px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:10px;
  top:27px;
  width:100px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u4 {
  position:absolute;
  left:99px;
  top:108px;
  width:831px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6 {
  position:absolute;
  left:43px;
  top:227px;
  width:127px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:43px;
  top:262px;
  width:892px;
  height:142px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
  text-align:center;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u11 {
  position:absolute;
  left:122px;
  top:0px;
  width:111px;
  height:30px;
  text-align:center;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u13 {
  position:absolute;
  left:233px;
  top:0px;
  width:119px;
  height:30px;
  text-align:center;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:30px;
}
#u15 {
  position:absolute;
  left:352px;
  top:0px;
  width:535px;
  height:30px;
  text-align:center;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:531px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:107px;
}
#u17 {
  position:absolute;
  left:0px;
  top:30px;
  width:122px;
  height:107px;
  text-align:center;
}
#u18 {
  position:absolute;
  left:2px;
  top:46px;
  width:118px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:107px;
}
#u19 {
  position:absolute;
  left:122px;
  top:30px;
  width:111px;
  height:107px;
  text-align:center;
}
#u20 {
  position:absolute;
  left:2px;
  top:46px;
  width:107px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:107px;
}
#u21 {
  position:absolute;
  left:233px;
  top:30px;
  width:119px;
  height:107px;
  text-align:center;
}
#u22 {
  position:absolute;
  left:2px;
  top:46px;
  width:115px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:107px;
}
#u23 {
  position:absolute;
  left:352px;
  top:30px;
  width:535px;
  height:107px;
  text-align:left;
}
#u24 {
  position:absolute;
  left:2px;
  top:30px;
  width:531px;
  word-wrap:break-word;
}
