body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:905px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#0099CC;
}
#u1832 {
  position:absolute;
  left:26px;
  top:26px;
  width:247px;
  height:16px;
  font-size:20px;
  color:#0099CC;
}
#u1833 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  white-space:nowrap;
}
#u1834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099CC;
}
#u1834 {
  position:absolute;
  left:28px;
  top:60px;
  width:449px;
  height:48px;
  color:#0099CC;
}
#u1835 {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  white-space:nowrap;
}
#u1837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1837 {
  position:absolute;
  left:26px;
  top:165px;
  width:374px;
  height:667px;
}
#u1838 {
  position:absolute;
  left:2px;
  top:326px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:12px;
}
#u1839 {
  position:absolute;
  left:28px;
  top:168px;
  width:370px;
  height:12px;
}
#u1840 {
  position:absolute;
  left:2px;
  top:-2px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1841 {
  position:absolute;
  left:122px;
  top:839px;
  width:183px;
  height:16px;
}
#u1842 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u1844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1844 {
  position:absolute;
  left:531px;
  top:165px;
  width:374px;
  height:667px;
}
#u1845 {
  position:absolute;
  left:2px;
  top:326px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:12px;
}
#u1846 {
  position:absolute;
  left:533px;
  top:168px;
  width:370px;
  height:12px;
}
#u1847 {
  position:absolute;
  left:2px;
  top:-2px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1848 {
  position:absolute;
  left:531px;
  top:182px;
  width:374px;
  height:44px;
}
#u1849 {
  position:absolute;
  left:2px;
  top:14px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u1850 {
  position:absolute;
  left:537px;
  top:191px;
  width:26px;
  height:26px;
}
#u1851 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1852 {
  position:absolute;
  left:673px;
  top:193px;
  width:91px;
  height:22px;
  font-size:18px;
}
#u1853 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1854 {
  position:absolute;
  left:832px;
  top:196px;
  width:29px;
  height:16px;
}
#u1855 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1856 {
  position:absolute;
  left:868px;
  top:196px;
  width:29px;
  height:16px;
}
#u1857 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:203px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1858 {
  position:absolute;
  left:531px;
  top:225px;
  width:374px;
  height:203px;
}
#u1859 {
  position:absolute;
  left:2px;
  top:94px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1860 {
  position:absolute;
  left:568px;
  top:240px;
  width:300px;
  height:170px;
  font-size:18px;
}
#u1861 {
  position:absolute;
  left:2px;
  top:74px;
  width:296px;
  word-wrap:break-word;
}
#u1862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1862 {
  position:absolute;
  left:531px;
  top:427px;
  width:374px;
  height:93px;
}
#u1863 {
  position:absolute;
  left:2px;
  top:38px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:68px;
}
#u1864 {
  position:absolute;
  left:540px;
  top:439px;
  width:86px;
  height:67px;
}
#u1865 {
  position:absolute;
  left:2px;
  top:26px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1866 {
  position:absolute;
  left:634px;
  top:445px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u1867 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1868 {
  position:absolute;
  left:637px;
  top:482px;
  width:107px;
  height:16px;
}
#u1869 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u1870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1870 {
  position:absolute;
  left:856px;
  top:466px;
  width:41px;
  height:16px;
}
#u1871 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1872 {
  position:absolute;
  left:690px;
  top:839px;
  width:57px;
  height:16px;
}
#u1873 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:587px;
}
#u1874 {
  position:absolute;
  left:27px;
  top:166px;
  width:373px;
  height:587px;
}
#u1875 {
  position:absolute;
  left:2px;
  top:286px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1876 {
  position:absolute;
  left:328px;
  top:196px;
  width:29px;
  height:16px;
}
#u1877 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1878 {
  position:absolute;
  left:364px;
  top:196px;
  width:29px;
  height:16px;
}
#u1879 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
