body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:26px;
  top:26px;
  width:960px;
  height:600px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:600px;
}
#u1 {
  position:absolute;
  left:2px;
  top:292px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:26px;
  top:26px;
  width:130px;
  height:600px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:600px;
}
#u3 {
  position:absolute;
  left:2px;
  top:292px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:26px;
  top:26px;
  width:130px;
  height:60px;
  font-size:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:19px;
  width:126px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:323px;
  top:94px;
  width:27px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:610px;
  top:94px;
  width:53px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:853px;
  top:94px;
  width:27px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:200px;
  top:94px;
  width:27px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:209px;
  top:134px;
  width:8px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:313px;
  top:134px;
  width:40px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:585px;
  top:134px;
  width:105px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:790px;
  top:134px;
  width:154px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:209px;
  top:174px;
  width:8px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:313px;
  top:174px;
  width:40px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:585px;
  top:174px;
  width:105px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:1010px;
  top:26px;
  width:480px;
  height:600px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:600px;
}
#u29 {
  position:absolute;
  left:2px;
  top:292px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:1030px;
  top:34px;
  width:73px;
  height:28px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:1030px;
  top:70px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1073px;
  top:76px;
  width:401px;
  height:288px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:288px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:162px;
  top:87px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:197px;
  top:42px;
  width:333px;
  height:30px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#D7D7D7;
  text-align:left;
}
#u39 {
  position:absolute;
  left:540px;
  top:42px;
  width:100px;
  height:30px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:200px;
  top:220px;
  width:704px;
  height:230px;
  text-align:left;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:230px;
}
#u42 {
  position:absolute;
  left:2px;
  top:107px;
  width:700px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:214px;
  top:232px;
  width:105px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:214px;
  top:304px;
  width:66px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:290px;
  top:304px;
  width:586px;
  height:92px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:92px;
}
#u48 {
  position:absolute;
  left:297px;
  top:312px;
  width:53px;
  height:16px;
  color:#D7D7D7;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:510px;
  top:410px;
  width:100px;
  height:30px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:878px;
  top:220px;
  width:26px;
  height:26px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u53 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:790px;
  top:190px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u55 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:1030px;
  top:381px;
  width:30px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:1070px;
  top:388px;
  width:410px;
  height:32px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:32px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:790px;
  top:174px;
  width:170px;
  height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:450px;
  top:94px;
  width:66px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:454px;
  top:134px;
  width:53px;
  height:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:454px;
  top:174px;
  width:53px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:223px;
  top:269px;
  width:53px;
  height:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:286px;
  top:268px;
  width:200px;
  height:22px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u70_input:disabled {
  color:grayText;
}
