body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:909px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:909px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:446px;
  width:906px;
  visibility:hidden;
  word-wrap:break-word;
}
