body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:313px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:444px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:444px;
}
#u1 {
  position:absolute;
  left:2px;
  top:214px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
