body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:540px;
}
#u5949 {
  position:absolute;
  left:30px;
  top:130px;
  width:960px;
  height:540px;
}
#u5950 {
  position:absolute;
  left:2px;
  top:262px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1660px;
  height:100px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(138, 194, 73, 1);
}
#u5951 {
  position:absolute;
  left:0px;
  top:0px;
  width:1660px;
  height:100px;
}
#u5952 {
  position:absolute;
  left:2px;
  top:42px;
  width:1656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  color:#FFFFFF;
}
#u5953 {
  position:absolute;
  left:360px;
  top:22px;
  width:7px;
  height:16px;
  color:#FFFFFF;
}
#u5954 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  visibility:hidden;
  white-space:nowrap;
}
#u5955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:355px;
}
#u5955 {
  position:absolute;
  left:941px;
  top:268px;
  width:49px;
  height:355px;
}
#u5956 {
  position:absolute;
  left:2px;
  top:170px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
}
#u5957 {
  position:absolute;
  left:941px;
  top:615px;
  width:49px;
  height:36px;
}
#u5958 {
  position:absolute;
  left:2px;
  top:10px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:46px;
  background:inherit;
  background-color:rgba(60, 60, 60, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(60, 60, 60, 1);
  font-size:8px;
}
#u5959 {
  position:absolute;
  left:941px;
  top:222px;
  width:49px;
  height:46px;
  font-size:8px;
}
#u5960 {
  position:absolute;
  left:2px;
  top:15px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:500px;
  background:inherit;
  background-color:rgba(71, 71, 71, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(71, 71, 71, 1);
}
#u5961 {
  position:absolute;
  left:841px;
  top:151px;
  width:100px;
  height:500px;
}
#u5962 {
  position:absolute;
  left:2px;
  top:242px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u5963 {
  position:absolute;
  left:845px;
  top:155px;
  width:43px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u5964 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5965 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:49px;
}
#u5966 {
  position:absolute;
  left:845px;
  top:196px;
  width:87px;
  height:49px;
  font-size:8px;
}
#u5967 {
  position:absolute;
  left:2px;
  top:17px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u5968 {
  position:absolute;
  left:872px;
  top:245px;
  width:33px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u5969 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5970 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:49px;
}
#u5971 {
  position:absolute;
  left:845px;
  top:263px;
  width:87px;
  height:49px;
  font-size:8px;
}
#u5972 {
  position:absolute;
  left:2px;
  top:17px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u5973 {
  position:absolute;
  left:875px;
  top:312px;
  width:25px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u5974 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5975 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  font-size:8px;
}
#u5976 {
  position:absolute;
  left:845px;
  top:296px;
  width:87px;
  height:16px;
  opacity:0.800000011920929;
  font-size:8px;
}
#u5977 {
  position:absolute;
  left:2px;
  top:0px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u5978 {
  position:absolute;
  left:858px;
  top:299px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u5979 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u5980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u5980 {
  position:absolute;
  left:904px;
  top:299px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u5981 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u5982 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:49px;
}
#u5983 {
  position:absolute;
  left:845px;
  top:329px;
  width:87px;
  height:49px;
  font-size:8px;
}
#u5984 {
  position:absolute;
  left:2px;
  top:17px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u5985 {
  position:absolute;
  left:881px;
  top:378px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u5986 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u5987 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  font-size:8px;
}
#u5988 {
  position:absolute;
  left:845px;
  top:362px;
  width:87px;
  height:16px;
  opacity:0.800000011920929;
  font-size:8px;
}
#u5989 {
  position:absolute;
  left:2px;
  top:0px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u5990 {
  position:absolute;
  left:858px;
  top:366px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u5991 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u5992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u5992 {
  position:absolute;
  left:904px;
  top:366px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u5993 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u5994 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:49px;
}
#u5995 {
  position:absolute;
  left:845px;
  top:396px;
  width:87px;
  height:49px;
  font-size:8px;
}
#u5996 {
  position:absolute;
  left:2px;
  top:17px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u5997 {
  position:absolute;
  left:870px;
  top:445px;
  width:33px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u5998 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5999 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  font-size:8px;
}
#u6000 {
  position:absolute;
  left:845px;
  top:429px;
  width:87px;
  height:16px;
  opacity:0.800000011920929;
  font-size:8px;
}
#u6001 {
  position:absolute;
  left:2px;
  top:0px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u6002 {
  position:absolute;
  left:858px;
  top:433px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u6003 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u6004 {
  position:absolute;
  left:904px;
  top:433px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u6005 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:49px;
}
#u6007 {
  position:absolute;
  left:845px;
  top:462px;
  width:87px;
  height:49px;
  font-size:8px;
}
#u6008 {
  position:absolute;
  left:2px;
  top:17px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u6009 {
  position:absolute;
  left:870px;
  top:511px;
  width:33px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u6010 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  font-size:8px;
}
#u6012 {
  position:absolute;
  left:845px;
  top:495px;
  width:87px;
  height:16px;
  opacity:0.800000011920929;
  font-size:8px;
}
#u6013 {
  position:absolute;
  left:2px;
  top:0px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u6014 {
  position:absolute;
  left:858px;
  top:499px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u6015 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u6016 {
  position:absolute;
  left:904px;
  top:499px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u6017 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6018 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:49px;
}
#u6019 {
  position:absolute;
  left:845px;
  top:528px;
  width:87px;
  height:49px;
  font-size:8px;
}
#u6020 {
  position:absolute;
  left:2px;
  top:17px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u6021 {
  position:absolute;
  left:872px;
  top:577px;
  width:33px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u6022 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6023 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  font-size:8px;
}
#u6024 {
  position:absolute;
  left:845px;
  top:561px;
  width:87px;
  height:16px;
  opacity:0.800000011920929;
  font-size:8px;
}
#u6025 {
  position:absolute;
  left:2px;
  top:0px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u6026 {
  position:absolute;
  left:858px;
  top:565px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u6027 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u6028 {
  position:absolute;
  left:904px;
  top:565px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u6029 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6030 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:49px;
}
#u6031 {
  position:absolute;
  left:845px;
  top:595px;
  width:87px;
  height:49px;
  font-size:8px;
}
#u6032 {
  position:absolute;
  left:2px;
  top:17px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u6033 {
  position:absolute;
  left:872px;
  top:644px;
  width:33px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u6034 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6035 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  font-size:8px;
}
#u6036 {
  position:absolute;
  left:845px;
  top:628px;
  width:87px;
  height:16px;
  opacity:0.800000011920929;
  font-size:8px;
}
#u6037 {
  position:absolute;
  left:2px;
  top:0px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u6038 {
  position:absolute;
  left:858px;
  top:632px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u6039 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u6040 {
  position:absolute;
  left:904px;
  top:632px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u6041 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u6042 {
  position:absolute;
  left:928px;
  top:156px;
  width:10px;
  height:10px;
  opacity:0.800000011920929;
}
#u6043 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:4px;
}
#u6044 {
  position:absolute;
  left:936px;
  top:196px;
  width:2px;
  height:60px;
  opacity:0.800000011920929;
}
#u6045 {
  position:absolute;
  left:2px;
  top:22px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6046p000 {
  position:absolute;
  left:841px;
  top:171px;
  width:101px;
  height:3px;
}
#u6046p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:3px;
}
#u6046 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0.800000011920929;
}
#u6047 {
  position:absolute;
  left:845px;
  top:164px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#1196DB;
  text-align:center;
}
#u6048 {
  position:absolute;
  left:953px;
  top:248px;
  width:25px;
  height:18px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#1196DB;
  text-align:center;
}
#u6049 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u6050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u6050 {
  position:absolute;
  left:955px;
  top:228px;
  width:21px;
  height:18px;
}
#u6051 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:20px;
  color:#FFFFFF;
}
#u6052 {
  position:absolute;
  left:30px;
  top:16px;
  width:108px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u6053 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u6054 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6055 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:2px;
}
#u6056 {
  position:absolute;
  left:862px;
  top:176px;
  width:59px;
  height:18px;
}
#u6057 {
  position:absolute;
  left:2px;
  top:1px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u6058 {
  position:absolute;
  left:894px;
  top:179px;
  width:17px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u6059 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u6060 {
  position:absolute;
  left:872px;
  top:179px;
  width:12px;
  height:12px;
}
#u6061 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:49px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
}
#u6062 {
  position:absolute;
  left:845px;
  top:196px;
  width:87px;
  height:49px;
  opacity:0.800000011920929;
}
#u6063 {
  position:absolute;
  left:2px;
  top:17px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u6064 {
  position:absolute;
  left:907px;
  top:225px;
  width:14px;
  height:14px;
}
#u6065 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u6066 {
  position:absolute;
  left:1018px;
  top:130px;
  width:640px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u6067 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
#u6068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-size:14px;
  line-height:28px;
}
#u6068 {
  position:absolute;
  left:1018px;
  top:170px;
  width:640px;
  height:28px;
  font-size:14px;
  line-height:28px;
}
#u6069 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  word-wrap:break-word;
}
#u6070 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:49px;
}
#u6071 {
  position:absolute;
  left:1260px;
  top:236px;
  width:87px;
  height:49px;
  font-size:8px;
}
#u6072 {
  position:absolute;
  left:2px;
  top:17px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:49px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
}
#u6073 {
  position:absolute;
  left:1260px;
  top:236px;
  width:87px;
  height:49px;
  opacity:0.800000011920929;
}
#u6074 {
  position:absolute;
  left:2px;
  top:17px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u6075 {
  position:absolute;
  left:1283px;
  top:240px;
  width:40px;
  height:40px;
}
#u6076 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u6077 {
  position:absolute;
  left:1295px;
  top:255px;
  width:18px;
  height:11px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:center;
}
#u6078 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u6079 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:49px;
}
#u6080 {
  position:absolute;
  left:1018px;
  top:236px;
  width:87px;
  height:49px;
  font-size:8px;
}
#u6081 {
  position:absolute;
  left:2px;
  top:17px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:49px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u6082 {
  position:absolute;
  left:1018px;
  top:236px;
  width:87px;
  height:49px;
  opacity:0.800000011920929;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u6083 {
  position:absolute;
  left:2px;
  top:17px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:49px;
}
#u6084 {
  position:absolute;
  left:1139px;
  top:236px;
  width:87px;
  height:49px;
  font-size:8px;
}
#u6085 {
  position:absolute;
  left:2px;
  top:17px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:49px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
}
#u6086 {
  position:absolute;
  left:1139px;
  top:236px;
  width:87px;
  height:49px;
  opacity:0.800000011920929;
}
#u6087 {
  position:absolute;
  left:2px;
  top:17px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u6088 {
  position:absolute;
  left:1201px;
  top:266px;
  width:14px;
  height:14px;
}
#u6089 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u6090 {
  position:absolute;
  left:1139px;
  top:289px;
  width:87px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u6091 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u6092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u6092 {
  position:absolute;
  left:1018px;
  top:289px;
  width:87px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u6093 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u6094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u6094 {
  position:absolute;
  left:1018px;
  top:252px;
  width:87px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u6095 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u6096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u6096 {
  position:absolute;
  left:1260px;
  top:289px;
  width:87px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u6097 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u6098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u6098 {
  position:absolute;
  left:1173px;
  top:251px;
  width:19px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u6099 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u6100 {
  position:absolute;
  left:879px;
  top:211px;
  width:19px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u6101 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6102 {
  position:absolute;
  left:1112px;
  top:250px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u6103 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6104 {
  position:absolute;
  left:1231px;
  top:250px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u6105 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:75px;
}
#u6106 {
  position:absolute;
  left:834px;
  top:186px;
  width:112px;
  height:75px;
}
#u6107 {
  position:absolute;
  left:2px;
  top:30px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6108 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:22px;
}
#u6109 {
  position:absolute;
  left:833px;
  top:176px;
  width:15px;
  height:22px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u6110 {
  position:absolute;
  left:2px;
  top:3px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u6111 {
  position:absolute;
  left:837px;
  top:166px;
  width:26px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6112 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  word-wrap:break-word;
}
