body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:544px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1733 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:1180px;
  height:544px;
}
#u1734 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  word-wrap:break-word;
}
